WS/OFCLTLService/XSD/SubSys-TLCSWUPL-Types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
   <xs:annotation>
      <xs:documentation xml:lang="en">All Types of TLCSWUPL
      </xs:documentation>
   </xs:annotation>
   

   <xs:complexType name="TLCSWUPL-Full-Type">
      <xs:sequence>
         <xs:element name="FCCREF3" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="16"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="USRREFNO1" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="16"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="PARENTREFNO2" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="16"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="POSID1" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="20"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="POSQUA1" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="20"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="CUSIP13" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="16"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="BRN3" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="DESKCD1" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="12"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="TKTID1" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="12"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="EXPENSECD1" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="9"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="PORTFOLIO7" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="20"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="PORTDESC1" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="255"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="VERNO4" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="4"/>
                  <xs:fractionDigits value="0"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="SRCCD1" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="9"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="Swp-Det" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="SW_SWAPID1" minOccurs="1">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="12"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="SW_CNPTY1" minOccurs="1">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="20"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="SW_CCY1" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="255"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="SW_AMT1" minOccurs="1">
                     <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                           <xs:totalDigits value="24"/>
                           <xs:minInclusive value="0"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="SW_OASYSID1" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="16"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="SW_REF_NO1" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="16"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="TLCSWUPL-Query-IO-Type">
      <xs:sequence>
         <xs:element name="FCCREF3" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="16"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="BRN3" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="VERNO4" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="4"/>
                  <xs:fractionDigits value="0"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="SRCCD1" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="9"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="TLCSWUPL-Create-IO-Type">
      <xs:sequence>
         <xs:element name="FCCREF3" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="16"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="USRREFNO1" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="16"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="PARENTREFNO2" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="16"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="POSID1" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="20"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="POSQUA1" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="20"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="CUSIP13" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="16"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="BRN3" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="DESKCD1" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="12"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="TKTID1" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="12"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="EXPENSECD1" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="9"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="PORTFOLIO7" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="20"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="PORTDESC1" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="255"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="VERNO4" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="4"/>
                  <xs:fractionDigits value="0"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="SRCCD1" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="9"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="Swp-Det" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="SW_SWAPID1" minOccurs="1">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="12"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="SW_CNPTY1" minOccurs="1">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="20"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="SW_CCY1" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="255"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="SW_AMT1" minOccurs="1">
                     <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                           <xs:totalDigits value="24"/>
                           <xs:minInclusive value="0"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="SW_OASYSID1" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="16"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="TLCSWUPL-Modify-IO-Type">
      <xs:sequence>
         <xs:element name="FCCREF3" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="16"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="BRN3" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="VERNO4" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="4"/>
                  <xs:fractionDigits value="0"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="SRCCD1" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="9"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="TLCSWUPL-Authorize-IO-Type">
      <xs:sequence>
         <xs:element name="FCCREF3" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="16"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="BRN3" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="VERNO4" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="4"/>
                  <xs:fractionDigits value="0"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="SRCCD1" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="9"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="TLCSWUPL-Delete-IO-Type">
      <xs:sequence>
         <xs:element name="FCCREF3" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="16"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="BRN3" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="VERNO4" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="4"/>
                  <xs:fractionDigits value="0"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="SRCCD1" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="9"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="TLCSWUPL-Close-IO-Type">
      <xs:sequence>
         <xs:element name="FCCREF3" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="16"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="BRN3" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="VERNO4" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="4"/>
                  <xs:fractionDigits value="0"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="SRCCD1" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="9"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="TLCSWUPL-Reopen-IO-Type">
      <xs:sequence>
         <xs:element name="FCCREF3" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="16"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="BRN3" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="VERNO4" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="4"/>
                  <xs:fractionDigits value="0"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="SRCCD1" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="9"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="TLCSWUPL-Reverse-IO-Type">
      <xs:sequence>
         <xs:element name="FCCREF3" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="16"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="BRN3" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="VERNO4" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="4"/>
                  <xs:fractionDigits value="0"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="SRCCD1" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="9"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="TLCSWUPL-Rollover-IO-Type">
      <xs:sequence>
         <xs:element name="FCCREF3" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="16"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="BRN3" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="VERNO4" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="4"/>
                  <xs:fractionDigits value="0"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="SRCCD1" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="9"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="TLCSWUPL-Confirm-IO-Type">
      <xs:sequence>
         <xs:element name="FCCREF3" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="16"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="BRN3" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="VERNO4" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="4"/>
                  <xs:fractionDigits value="0"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="SRCCD1" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="9"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="TLCSWUPL-Liquidate-IO-Type">
      <xs:sequence>
         <xs:element name="FCCREF3" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="16"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="BRN3" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="VERNO4" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="4"/>
                  <xs:fractionDigits value="0"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="SRCCD1" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="9"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="TLCSWUPL-Summaryquery-IO-Type">
      <xs:sequence>
         <xs:element name="FCCREF3" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="16"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="BRN3" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="VERNO4" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="4"/>
                  <xs:fractionDigits value="0"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="SRCCD1" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="9"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
</xs:schema>