WS/OFCLTLService/XSD/SubSys-TLCUPUDF-Types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
   <xs:annotation>
      <xs:documentation xml:lang="en">All Types of TLCUPUDF
      </xs:documentation>
   </xs:annotation>
   

   <xs:complexType name="TLCUPUDF-Full-Type">
      <xs:sequence>
         <xs:element name="EXTREFERENCENO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="16"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="SOURCECODE" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="9"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="BRANCH" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="VERSIONNO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="4"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="Tltbs-Upload-Userdef-Fields-Det" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="FIELDVAL" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="150"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="FIELDNAME" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="150"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="TLCUPUDF-Query-IO-Type">
      <xs:sequence>
         <xs:element name="EXTREFERENCENO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="16"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="SOURCECODE" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="9"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="BRANCH" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="VERSIONNO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="4"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="TLCUPUDF-Create-IO-Type">
      <xs:sequence>
         <xs:element name="EXTREFERENCENO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="16"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="SOURCECODE" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="9"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="BRANCH" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="VERSIONNO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="4"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="Tltbs-Upload-Userdef-Fields-Det" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="FIELDVAL" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="150"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="FIELDNAME" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="150"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="TLCUPUDF-Modify-IO-Type">
      <xs:sequence>
         <xs:element name="EXTREFERENCENO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="16"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="SOURCECODE" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="9"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="BRANCH" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="VERSIONNO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="4"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="TLCUPUDF-Authorize-IO-Type">
      <xs:sequence>
         <xs:element name="EXTREFERENCENO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="16"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="SOURCECODE" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="9"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="BRANCH" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="VERSIONNO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="4"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="TLCUPUDF-Delete-IO-Type">
      <xs:sequence>
         <xs:element name="EXTREFERENCENO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="16"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="SOURCECODE" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="9"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="BRANCH" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="VERSIONNO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="4"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="TLCUPUDF-Close-IO-Type">
      <xs:sequence>
         <xs:element name="EXTREFERENCENO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="16"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="SOURCECODE" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="9"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="BRANCH" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="VERSIONNO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="4"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="TLCUPUDF-Reopen-IO-Type">
      <xs:sequence>
         <xs:element name="EXTREFERENCENO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="16"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="SOURCECODE" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="9"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="BRANCH" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="VERSIONNO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="4"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="TLCUPUDF-Reverse-IO-Type">
      <xs:sequence>
         <xs:element name="EXTREFERENCENO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="16"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="SOURCECODE" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="9"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="BRANCH" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="VERSIONNO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="4"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="TLCUPUDF-Rollover-IO-Type">
      <xs:sequence>
         <xs:element name="EXTREFERENCENO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="16"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="SOURCECODE" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="9"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="BRANCH" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="VERSIONNO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="4"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="TLCUPUDF-Confirm-IO-Type">
      <xs:sequence>
         <xs:element name="EXTREFERENCENO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="16"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="SOURCECODE" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="9"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="BRANCH" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="VERSIONNO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="4"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="TLCUPUDF-Liquidate-IO-Type">
      <xs:sequence>
         <xs:element name="EXTREFERENCENO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="16"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="SOURCECODE" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="9"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="BRANCH" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="VERSIONNO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="4"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="TLCUPUDF-Summaryquery-IO-Type">
      <xs:sequence>
         <xs:element name="EXTREFERENCENO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="16"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="SOURCECODE" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="9"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="BRANCH" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="VERSIONNO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="4"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
</xs:schema>