WS/OFCLTLService/XSD/SubSys-AMProdPrefs-Types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
   <xs:annotation>
      <xs:documentation xml:lang="en">All Types of AMCPRPCL
      </xs:documentation>
   </xs:annotation>
   

   <xs:complexType name="AMProdPrefs-Full-Type">
      <xs:sequence>
         <xs:element name="CLASCD" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="10"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="CLASDESC" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="105"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="CASHFLWPRD" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="22"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="PRGALLW" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:enumeration value="Y"/>
                  <xs:enumeration value="N"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="PRGFREQ" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:enumeration value="D"/>
                  <xs:enumeration value="M"/>
                  <xs:enumeration value="Q"/>
                  <xs:enumeration value="H"/>
                  <xs:enumeration value="A"/>
                  <xs:enumeration value=""/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="PRGSTDY" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="22"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="PRGSTMNTH" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="22"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="CHGACCRFREQ" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:enumeration value="D"/>
                  <xs:enumeration value="M"/>
                  <xs:enumeration value="Q"/>
                  <xs:enumeration value="H"/>
                  <xs:enumeration value="A"/>
                  <xs:enumeration value=""/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="CHGACCRSTDT" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="22"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="CHGACCRSTMNTH" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="22"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="INTEXTFND" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:enumeration value="I"/>
                  <xs:enumeration value="E"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="MOD" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="1000"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="AMProdPrefs-Query-IO-Type">
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="AMProdPrefs-Create-IO-Type">
      <xs:sequence>
         <xs:element name="CLASCD" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="10"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="CASHFLWPRD" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="22"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="PRGALLW" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:enumeration value="Y"/>
                  <xs:enumeration value="N"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="PRGFREQ" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:enumeration value="D"/>
                  <xs:enumeration value="M"/>
                  <xs:enumeration value="Q"/>
                  <xs:enumeration value="H"/>
                  <xs:enumeration value="A"/>
                  <xs:enumeration value=""/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="PRGSTDY" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="22"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="PRGSTMNTH" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="22"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="CHGACCRFREQ" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:enumeration value="D"/>
                  <xs:enumeration value="M"/>
                  <xs:enumeration value="Q"/>
                  <xs:enumeration value="H"/>
                  <xs:enumeration value="A"/>
                  <xs:enumeration value=""/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="CHGACCRSTDT" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="22"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="CHGACCRSTMNTH" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="22"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="INTEXTFND" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:enumeration value="I"/>
                  <xs:enumeration value="E"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="MOD" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="1000"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="AMProdPrefs-Modify-IO-Type">
      <xs:sequence>
         <xs:element name="CLASCD" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="10"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="CLASDESC" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="105"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="CASHFLWPRD" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="22"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="PRGALLW" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:enumeration value="Y"/>
                  <xs:enumeration value="N"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="PRGFREQ" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:enumeration value="D"/>
                  <xs:enumeration value="M"/>
                  <xs:enumeration value="Q"/>
                  <xs:enumeration value="H"/>
                  <xs:enumeration value="A"/>
                  <xs:enumeration value=""/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="PRGSTDY" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="22"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="PRGSTMNTH" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="22"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="CHGACCRFREQ" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:enumeration value="D"/>
                  <xs:enumeration value="M"/>
                  <xs:enumeration value="Q"/>
                  <xs:enumeration value="H"/>
                  <xs:enumeration value="A"/>
                  <xs:enumeration value=""/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="CHGACCRSTDT" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="22"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="CHGACCRSTMNTH" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="22"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="INTEXTFND" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:enumeration value="I"/>
                  <xs:enumeration value="E"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="AMProdPrefs-Authorize-IO-Type">
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="AMProdPrefs-Delete-IO-Type">
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="AMProdPrefs-Close-IO-Type">
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="AMProdPrefs-Reopen-IO-Type">
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="AMProdPrefs-Reverse-IO-Type">
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="AMProdPrefs-Rollover-IO-Type">
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="AMProdPrefs-Confirm-IO-Type">
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="AMProdPrefs-Liquidate-IO-Type">
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="AMProdPrefs-Summaryquery-IO-Type">
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema>