WS/OFCLTLService/XSD/SubSys-Lccbclnk-Types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
   <xs:annotation>
      <xs:documentation xml:lang="en">All Types of LCCBCLNK
      </xs:documentation>
   </xs:annotation>
   

   <xs:complexType name="Lccbclnk-Full-Type">
      <xs:sequence>
         <xs:element name="CONTRACT_REF_NO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="16"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="Lctbs-Lccbclnk-Master-Child" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="BCREFNO" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="16"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="BCCY" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="3"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="BILL_AMT" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                           <xs:totalDigits value="22"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="OURLCREF" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="16"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="Lccbclnk-Query-IO-Type">
      <xs:sequence>
         <xs:element name="CONTRACT_REF_NO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="16"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="Lccbclnk-Create-IO-Type">
      <xs:sequence>
         <xs:element name="CONTRACT_REF_NO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="16"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="Lctbs-Lccbclnk-Master-Child" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="BCREFNO" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="16"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="BCCY" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="3"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="BILL_AMT" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                           <xs:totalDigits value="22"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="OURLCREF" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="16"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="Lccbclnk-Modify-IO-Type">
      <xs:sequence>
         <xs:element name="CONTRACT_REF_NO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="16"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="Lccbclnk-Authorize-IO-Type">
      <xs:sequence>
         <xs:element name="CONTRACT_REF_NO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="16"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="Lccbclnk-Delete-IO-Type">
      <xs:sequence>
         <xs:element name="CONTRACT_REF_NO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="16"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="Lccbclnk-Close-IO-Type">
      <xs:sequence>
         <xs:element name="CONTRACT_REF_NO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="16"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="Lccbclnk-Reopen-IO-Type">
      <xs:sequence>
         <xs:element name="CONTRACT_REF_NO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="16"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="Lccbclnk-Reverse-IO-Type">
      <xs:sequence>
         <xs:element name="CONTRACT_REF_NO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="16"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="Lccbclnk-Rollover-IO-Type">
      <xs:sequence>
         <xs:element name="CONTRACT_REF_NO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="16"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="Lccbclnk-Confirm-IO-Type">
      <xs:sequence>
         <xs:element name="CONTRACT_REF_NO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="16"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="Lccbclnk-Liquidate-IO-Type">
      <xs:sequence>
         <xs:element name="CONTRACT_REF_NO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="16"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="Lccbclnk-Summaryquery-IO-Type">
      <xs:sequence>
         <xs:element name="CONTRACT_REF_NO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="16"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
</xs:schema>