WS/OFCLTLService/XSD/TL-CloseIntCompanyCust-Res-PK-MSG.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns="http://fcubs.ofss.com/service/OBCLLSService" targetNamespace="http://fcubs.ofss.com/service/OBCLLSService" elementFormDefault="qualified">
   <xs:include schemaLocation="UBS-Messaging.xsd"/>
   <xs:include schemaLocation="TL-IntCompanyCust-Types.xsd"/>
   <xs:element name="CLOSEINTCOMPANYCUST_IOPK_RES">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="FCUBS_HEADER" type="FCUBS_HEADERType"/>
            <xs:element name="FCUBS_BODY">
               <xs:complexType>
                  <xs:sequence>
                     <xs:choice>
                        <xs:element name="Oltms-Internal-Cust-Master-PK" type="IntCompanyCust-PK-Type"/>
                        <xs:element name="Oltms-Internal-Cust-Master-IO" type="IntCompanyCust-Close-IO-Type"/>
                     </xs:choice>
                     <xs:element name="FCUBS_ERROR_RESP" type="ERRORType" minOccurs="0" maxOccurs="unbounded"/>
                     <xs:element name="FCUBS_WARNING_RESP" type="WARNINGType" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>