WS/OFCLTLService/XSD/TL-DeleteCTSettlement-Req-Full-MSG.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns="http://fcubs.ofss.com/service/OBCLSLTService" targetNamespace="http://fcubs.ofss.com/service/OBCLSLTService" elementFormDefault="qualified">
   <xs:include schemaLocation="UBS-Messaging.xsd"/>
   <xs:include schemaLocation="TL-TLCTicketSettlement-Types.xsd"/>
   <xs:element name="DELETECTSETTLEMENT_FSFS_REQ">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="FCUBS_HEADER" type="FCUBS_HEADERType"/>
            <xs:element name="FCUBS_BODY">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="Tltbs-Consol-Ticket-Master-Full" type="TLCTicketSettlement-Full-Type"/>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>