WS/FCUBSCcyService/wsdl/FCUBSCcyService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
 <wsdl:definitions name="FCUBSCcyService"
 targetNamespace = "http://FCUBSCcyService.types.ws.gw.fcubs.ofss.com"
 xmlns:tns = "http://FCUBSCcyService.types.ws.gw.fcubs.ofss.com"
 xmlns:wsdlsoap = "http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:wsdl = "http://schemas.xmlsoap.org/wsdl/"
 xmlns:xs = "http://www.w3.org/2001/XMLSchema"
 xmlns="http://schemas.xmlsoap.org/wsdl/"
 xmlns:ns="http://fcubs.ofss.com/service/FCUBSCcyService">
<wsdl:types>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CF-AuthorizeCFRateCodeMaint-Req-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CF-AuthorizeCFRateCodeMaint-Res-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CF-AuthorizeCFRateCodeMaint-Req-IO-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CF-AuthorizeCFRateCodeMaint-Res-PK-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CY-AuthorizeCYDRATEE-Req-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CY-AuthorizeCYDRATEE-Res-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CY-AuthorizeCYDRATEE-Req-IO-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CY-AuthorizeCYDRATEE-Res-PK-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CY-AuthorizeCYDefinition-Req-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CY-AuthorizeCYDefinition-Res-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CY-AuthorizeCYDefinition-Req-IO-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CY-AuthorizeCYDefinition-Res-PK-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CY-AuthorizeCurrencyPairDefn-Req-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CY-AuthorizeCurrencyPairDefn-Res-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CY-AuthorizeCurrencyPairDefn-Req-IO-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CY-AuthorizeCurrencyPairDefn-Res-PK-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CY-AuthorizeFwdrateMaster-Req-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CY-AuthorizeFwdrateMaster-Res-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CY-AuthorizeFwdrateMaster-Req-IO-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CY-AuthorizeFwdrateMaster-Res-PK-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CY-CloseCYDRATEE-Req-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CY-CloseCYDRATEE-Res-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CY-CloseCYDRATEE-Req-IO-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CY-CloseCYDRATEE-Res-PK-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CY-CloseCYDefinition-Req-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CY-CloseCYDefinition-Res-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CY-CloseCYDefinition-Req-IO-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CY-CloseCYDefinition-Res-PK-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CY-CloseCurrencyPairDefn-Req-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CY-CloseCurrencyPairDefn-Res-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CY-CloseCurrencyPairDefn-Req-IO-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CY-CloseCurrencyPairDefn-Res-PK-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CY-CloseFwdrateMaster-Req-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CY-CloseFwdrateMaster-Res-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CY-CloseFwdrateMaster-Req-IO-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CY-CloseFwdrateMaster-Res-PK-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CF-CreateCFRateCodeMaint-Req-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CF-CreateCFRateCodeMaint-Res-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CF-CreateCFRateCodeMaint-Req-IO-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CF-CreateCFRateCodeMaint-Res-PK-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CY-CreateCYDefinition-Req-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CY-CreateCYDefinition-Res-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CY-CreateCYDefinition-Req-IO-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CY-CreateCYDefinition-Res-PK-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CY-CreateCurrencyPairDefn-Req-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CY-CreateCurrencyPairDefn-Res-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CY-CreateCurrencyPairDefn-Req-IO-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CY-CreateCurrencyPairDefn-Res-PK-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CY-CreateFwdrateMaster-Req-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CY-CreateFwdrateMaster-Res-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CY-CreateFwdrateMaster-Req-IO-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CY-CreateFwdrateMaster-Res-PK-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CF-DeleteCFRateCodeMaint-Req-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CF-DeleteCFRateCodeMaint-Res-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CF-DeleteCFRateCodeMaint-Req-IO-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CF-DeleteCFRateCodeMaint-Res-PK-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CY-DeleteCYDRATEE-Req-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CY-DeleteCYDRATEE-Res-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CY-DeleteCYDRATEE-Req-IO-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CY-DeleteCYDRATEE-Res-PK-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CY-DeleteCYDefinition-Req-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CY-DeleteCYDefinition-Res-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CY-DeleteCYDefinition-Req-IO-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CY-DeleteCYDefinition-Res-PK-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CY-DeleteCurrencyPairDefn-Req-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CY-DeleteCurrencyPairDefn-Res-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CY-DeleteCurrencyPairDefn-Req-IO-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CY-DeleteCurrencyPairDefn-Res-PK-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CY-DeleteFwdrateMaster-Req-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CY-DeleteFwdrateMaster-Res-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CY-DeleteFwdrateMaster-Req-IO-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CY-DeleteFwdrateMaster-Res-PK-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CF-ModifyCFRateCodeMaint-Req-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CF-ModifyCFRateCodeMaint-Res-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CF-ModifyCFRateCodeMaint-Req-IO-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CF-ModifyCFRateCodeMaint-Res-PK-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CY-ModifyCYDRATEE-Req-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CY-ModifyCYDRATEE-Res-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CY-ModifyCYDRATEE-Req-IO-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CY-ModifyCYDRATEE-Res-PK-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CY-ModifyCYDefinition-Req-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CY-ModifyCYDefinition-Res-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CY-ModifyCYDefinition-Req-IO-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CY-ModifyCYDefinition-Res-PK-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CY-ModifyCurrencyPairDefn-Req-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CY-ModifyCurrencyPairDefn-Res-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CY-ModifyCurrencyPairDefn-Req-IO-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CY-ModifyCurrencyPairDefn-Res-PK-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CY-ModifyFwdrateMaster-Req-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CY-ModifyFwdrateMaster-Res-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CY-ModifyFwdrateMaster-Req-IO-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CY-ModifyFwdrateMaster-Res-PK-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CF-QueryCFRateCodeMaint-Res-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CF-QueryCFRateCodeMaint-Req-IO-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CY-QueryCYDRATEE-Res-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CY-QueryCYDRATEE-Req-IO-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CY-QueryCYDefinition-Res-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CY-QueryCYDefinition-Req-IO-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CY-QueryCurrencyPairDefn-Res-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CY-QueryCurrencyPairDefn-Req-IO-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CY-QueryFwdrateMaster-Res-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CY-QueryFwdrateMaster-Req-IO-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CY-QueryRateType-Res-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CY-QueryRateType-Req-IO-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CY-ReopenCYDRATEE-Req-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CY-ReopenCYDRATEE-Res-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CY-ReopenCYDRATEE-Req-IO-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CY-ReopenCYDRATEE-Res-PK-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CY-ReopenCYDefinition-Req-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CY-ReopenCYDefinition-Res-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CY-ReopenCYDefinition-Req-IO-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CY-ReopenCYDefinition-Res-PK-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CY-ReopenCurrencyPairDefn-Req-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CY-ReopenCurrencyPairDefn-Res-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CY-ReopenCurrencyPairDefn-Req-IO-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CY-ReopenCurrencyPairDefn-Res-PK-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CY-ReopenFwdrateMaster-Req-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CY-ReopenFwdrateMaster-Res-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CY-ReopenFwdrateMaster-Req-IO-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSCcyService"
       schemaLocation="../XSD/CY-ReopenFwdrateMaster-Res-PK-MSG.xsd"/>
   </xs:schema>
</wsdl:types>
<wsdl:message name="AuthorizeCFRateCodeMaintFSReq">
   <wsdl:part name="RequestMsg" element="ns:AUTHORIZECFRATECODEMAINT_FSFS_REQ"/>
</wsdl:message> 
<wsdl:message name="AuthorizeCFRateCodeMaintFSRes">
   <wsdl:part name="ResponseMsg" element="ns:AUTHORIZECFRATECODEMAINT_FSFS_RES"/>
</wsdl:message> 
<wsdl:message name="AuthorizeCFRateCodeMaintIOReq">
   <wsdl:part name="RequestMsg" element="ns:AUTHORIZECFRATECODEMAINT_IOPK_REQ"/>
</wsdl:message> 
<wsdl:message name="AuthorizeCFRateCodeMaintPKRes">
   <wsdl:part name="ResponseMsg" element="ns:AUTHORIZECFRATECODEMAINT_IOPK_RES"/>
</wsdl:message> 
<wsdl:message name="AuthorizeCYDRATEEFSReq">
   <wsdl:part name="RequestMsg" element="ns:AUTHORIZECYDRATEE_FSFS_REQ"/>
</wsdl:message> 
<wsdl:message name="AuthorizeCYDRATEEFSRes">
   <wsdl:part name="ResponseMsg" element="ns:AUTHORIZECYDRATEE_FSFS_RES"/>
</wsdl:message> 
<wsdl:message name="AuthorizeCYDRATEEIOReq">
   <wsdl:part name="RequestMsg" element="ns:AUTHORIZECYDRATEE_IOPK_REQ"/>
</wsdl:message> 
<wsdl:message name="AuthorizeCYDRATEEPKRes">
   <wsdl:part name="ResponseMsg" element="ns:AUTHORIZECYDRATEE_IOPK_RES"/>
</wsdl:message> 
<wsdl:message name="AuthorizeCYDefinitionFSReq">
   <wsdl:part name="RequestMsg" element="ns:AUTHORIZECYDEFINITION_FSFS_REQ"/>
</wsdl:message> 
<wsdl:message name="AuthorizeCYDefinitionFSRes">
   <wsdl:part name="ResponseMsg" element="ns:AUTHORIZECYDEFINITION_FSFS_RES"/>
</wsdl:message> 
<wsdl:message name="AuthorizeCYDefinitionIOReq">
   <wsdl:part name="RequestMsg" element="ns:AUTHORIZECYDEFINITION_IOPK_REQ"/>
</wsdl:message> 
<wsdl:message name="AuthorizeCYDefinitionPKRes">
   <wsdl:part name="ResponseMsg" element="ns:AUTHORIZECYDEFINITION_IOPK_RES"/>
</wsdl:message> 
<wsdl:message name="AuthorizeCurrencyPairDefnFSReq">
   <wsdl:part name="RequestMsg" element="ns:AUTHORIZECURRENCYPAIRDEFN_FSFS_REQ"/>
</wsdl:message> 
<wsdl:message name="AuthorizeCurrencyPairDefnFSRes">
   <wsdl:part name="ResponseMsg" element="ns:AUTHORIZECURRENCYPAIRDEFN_FSFS_RES"/>
</wsdl:message> 
<wsdl:message name="AuthorizeCurrencyPairDefnIOReq">
   <wsdl:part name="RequestMsg" element="ns:AUTHORIZECURRENCYPAIRDEFN_IOPK_REQ"/>
</wsdl:message> 
<wsdl:message name="AuthorizeCurrencyPairDefnPKRes">
   <wsdl:part name="ResponseMsg" element="ns:AUTHORIZECURRENCYPAIRDEFN_IOPK_RES"/>
</wsdl:message> 
<wsdl:message name="AuthorizeFwdrateMasterFSReq">
   <wsdl:part name="RequestMsg" element="ns:AUTHORIZEFWDRATEMASTER_FSFS_REQ"/>
</wsdl:message> 
<wsdl:message name="AuthorizeFwdrateMasterFSRes">
   <wsdl:part name="ResponseMsg" element="ns:AUTHORIZEFWDRATEMASTER_FSFS_RES"/>
</wsdl:message> 
<wsdl:message name="AuthorizeFwdrateMasterIOReq">
   <wsdl:part name="RequestMsg" element="ns:AUTHORIZEFWDRATEMASTER_IOPK_REQ"/>
</wsdl:message> 
<wsdl:message name="AuthorizeFwdrateMasterPKRes">
   <wsdl:part name="ResponseMsg" element="ns:AUTHORIZEFWDRATEMASTER_IOPK_RES"/>
</wsdl:message> 
<wsdl:message name="CloseCYDRATEEFSReq">
   <wsdl:part name="RequestMsg" element="ns:CLOSECYDRATEE_FSFS_REQ"/>
</wsdl:message> 
<wsdl:message name="CloseCYDRATEEFSRes">
   <wsdl:part name="ResponseMsg" element="ns:CLOSECYDRATEE_FSFS_RES"/>
</wsdl:message> 
<wsdl:message name="CloseCYDRATEEIOReq">
   <wsdl:part name="RequestMsg" element="ns:CLOSECYDRATEE_IOPK_REQ"/>
</wsdl:message> 
<wsdl:message name="CloseCYDRATEEPKRes">
   <wsdl:part name="ResponseMsg" element="ns:CLOSECYDRATEE_IOPK_RES"/>
</wsdl:message> 
<wsdl:message name="CloseCYDefinitionFSReq">
   <wsdl:part name="RequestMsg" element="ns:CLOSECYDEFINITION_FSFS_REQ"/>
</wsdl:message> 
<wsdl:message name="CloseCYDefinitionFSRes">
   <wsdl:part name="ResponseMsg" element="ns:CLOSECYDEFINITION_FSFS_RES"/>
</wsdl:message> 
<wsdl:message name="CloseCYDefinitionIOReq">
   <wsdl:part name="RequestMsg" element="ns:CLOSECYDEFINITION_IOPK_REQ"/>
</wsdl:message> 
<wsdl:message name="CloseCYDefinitionPKRes">
   <wsdl:part name="ResponseMsg" element="ns:CLOSECYDEFINITION_IOPK_RES"/>
</wsdl:message> 
<wsdl:message name="CloseCurrencyPairDefnFSReq">
   <wsdl:part name="RequestMsg" element="ns:CLOSECURRENCYPAIRDEFN_FSFS_REQ"/>
</wsdl:message> 
<wsdl:message name="CloseCurrencyPairDefnFSRes">
   <wsdl:part name="ResponseMsg" element="ns:CLOSECURRENCYPAIRDEFN_FSFS_RES"/>
</wsdl:message> 
<wsdl:message name="CloseCurrencyPairDefnIOReq">
   <wsdl:part name="RequestMsg" element="ns:CLOSECURRENCYPAIRDEFN_IOPK_REQ"/>
</wsdl:message> 
<wsdl:message name="CloseCurrencyPairDefnPKRes">
   <wsdl:part name="ResponseMsg" element="ns:CLOSECURRENCYPAIRDEFN_IOPK_RES"/>
</wsdl:message> 
<wsdl:message name="CloseFwdrateMasterFSReq">
   <wsdl:part name="RequestMsg" element="ns:CLOSEFWDRATEMASTER_FSFS_REQ"/>
</wsdl:message> 
<wsdl:message name="CloseFwdrateMasterFSRes">
   <wsdl:part name="ResponseMsg" element="ns:CLOSEFWDRATEMASTER_FSFS_RES"/>
</wsdl:message> 
<wsdl:message name="CloseFwdrateMasterIOReq">
   <wsdl:part name="RequestMsg" element="ns:CLOSEFWDRATEMASTER_IOPK_REQ"/>
</wsdl:message> 
<wsdl:message name="CloseFwdrateMasterPKRes">
   <wsdl:part name="ResponseMsg" element="ns:CLOSEFWDRATEMASTER_IOPK_RES"/>
</wsdl:message> 
<wsdl:message name="CreateCFRateCodeMaintFSReq">
   <wsdl:part name="RequestMsg" element="ns:CREATECFRATECODEMAINT_FSFS_REQ"/>
</wsdl:message> 
<wsdl:message name="CreateCFRateCodeMaintFSRes">
   <wsdl:part name="ResponseMsg" element="ns:CREATECFRATECODEMAINT_FSFS_RES"/>
</wsdl:message> 
<wsdl:message name="CreateCFRateCodeMaintIOReq">
   <wsdl:part name="RequestMsg" element="ns:CREATECFRATECODEMAINT_IOPK_REQ"/>
</wsdl:message> 
<wsdl:message name="CreateCFRateCodeMaintPKRes">
   <wsdl:part name="ResponseMsg" element="ns:CREATECFRATECODEMAINT_IOPK_RES"/>
</wsdl:message> 
<wsdl:message name="CreateCYDefinitionFSReq">
   <wsdl:part name="RequestMsg" element="ns:CREATECYDEFINITION_FSFS_REQ"/>
</wsdl:message> 
<wsdl:message name="CreateCYDefinitionFSRes">
   <wsdl:part name="ResponseMsg" element="ns:CREATECYDEFINITION_FSFS_RES"/>
</wsdl:message> 
<wsdl:message name="CreateCYDefinitionIOReq">
   <wsdl:part name="RequestMsg" element="ns:CREATECYDEFINITION_IOPK_REQ"/>
</wsdl:message> 
<wsdl:message name="CreateCYDefinitionPKRes">
   <wsdl:part name="ResponseMsg" element="ns:CREATECYDEFINITION_IOPK_RES"/>
</wsdl:message> 
<wsdl:message name="CreateCurrencyPairDefnFSReq">
   <wsdl:part name="RequestMsg" element="ns:CREATECURRENCYPAIRDEFN_FSFS_REQ"/>
</wsdl:message> 
<wsdl:message name="CreateCurrencyPairDefnFSRes">
   <wsdl:part name="ResponseMsg" element="ns:CREATECURRENCYPAIRDEFN_FSFS_RES"/>
</wsdl:message> 
<wsdl:message name="CreateCurrencyPairDefnIOReq">
   <wsdl:part name="RequestMsg" element="ns:CREATECURRENCYPAIRDEFN_IOPK_REQ"/>
</wsdl:message> 
<wsdl:message name="CreateCurrencyPairDefnPKRes">
   <wsdl:part name="ResponseMsg" element="ns:CREATECURRENCYPAIRDEFN_IOPK_RES"/>
</wsdl:message> 
<wsdl:message name="CreateFwdrateMasterFSReq">
   <wsdl:part name="RequestMsg" element="ns:CREATEFWDRATEMASTER_FSFS_REQ"/>
</wsdl:message> 
<wsdl:message name="CreateFwdrateMasterFSRes">
   <wsdl:part name="ResponseMsg" element="ns:CREATEFWDRATEMASTER_FSFS_RES"/>
</wsdl:message> 
<wsdl:message name="CreateFwdrateMasterIOReq">
   <wsdl:part name="RequestMsg" element="ns:CREATEFWDRATEMASTER_IOPK_REQ"/>
</wsdl:message> 
<wsdl:message name="CreateFwdrateMasterPKRes">
   <wsdl:part name="ResponseMsg" element="ns:CREATEFWDRATEMASTER_IOPK_RES"/>
</wsdl:message> 
<wsdl:message name="DeleteCFRateCodeMaintFSReq">
   <wsdl:part name="RequestMsg" element="ns:DELETECFRATECODEMAINT_FSFS_REQ"/>
</wsdl:message> 
<wsdl:message name="DeleteCFRateCodeMaintFSRes">
   <wsdl:part name="ResponseMsg" element="ns:DELETECFRATECODEMAINT_FSFS_RES"/>
</wsdl:message> 
<wsdl:message name="DeleteCFRateCodeMaintIOReq">
   <wsdl:part name="RequestMsg" element="ns:DELETECFRATECODEMAINT_IOPK_REQ"/>
</wsdl:message> 
<wsdl:message name="DeleteCFRateCodeMaintPKRes">
   <wsdl:part name="ResponseMsg" element="ns:DELETECFRATECODEMAINT_IOPK_RES"/>
</wsdl:message> 
<wsdl:message name="DeleteCYDRATEEFSReq">
   <wsdl:part name="RequestMsg" element="ns:DELETECYDRATEE_FSFS_REQ"/>
</wsdl:message> 
<wsdl:message name="DeleteCYDRATEEFSRes">
   <wsdl:part name="ResponseMsg" element="ns:DELETECYDRATEE_FSFS_RES"/>
</wsdl:message> 
<wsdl:message name="DeleteCYDRATEEIOReq">
   <wsdl:part name="RequestMsg" element="ns:DELETECYDRATEE_IOPK_REQ"/>
</wsdl:message> 
<wsdl:message name="DeleteCYDRATEEPKRes">
   <wsdl:part name="ResponseMsg" element="ns:DELETECYDRATEE_IOPK_RES"/>
</wsdl:message> 
<wsdl:message name="DeleteCYDefinitionFSReq">
   <wsdl:part name="RequestMsg" element="ns:DELETECYDEFINITION_FSFS_REQ"/>
</wsdl:message> 
<wsdl:message name="DeleteCYDefinitionFSRes">
   <wsdl:part name="ResponseMsg" element="ns:DELETECYDEFINITION_FSFS_RES"/>
</wsdl:message> 
<wsdl:message name="DeleteCYDefinitionIOReq">
   <wsdl:part name="RequestMsg" element="ns:DELETECYDEFINITION_IOPK_REQ"/>
</wsdl:message> 
<wsdl:message name="DeleteCYDefinitionPKRes">
   <wsdl:part name="ResponseMsg" element="ns:DELETECYDEFINITION_IOPK_RES"/>
</wsdl:message> 
<wsdl:message name="DeleteCurrencyPairDefnFSReq">
   <wsdl:part name="RequestMsg" element="ns:DELETECURRENCYPAIRDEFN_FSFS_REQ"/>
</wsdl:message> 
<wsdl:message name="DeleteCurrencyPairDefnFSRes">
   <wsdl:part name="ResponseMsg" element="ns:DELETECURRENCYPAIRDEFN_FSFS_RES"/>
</wsdl:message> 
<wsdl:message name="DeleteCurrencyPairDefnIOReq">
   <wsdl:part name="RequestMsg" element="ns:DELETECURRENCYPAIRDEFN_IOPK_REQ"/>
</wsdl:message> 
<wsdl:message name="DeleteCurrencyPairDefnPKRes">
   <wsdl:part name="ResponseMsg" element="ns:DELETECURRENCYPAIRDEFN_IOPK_RES"/>
</wsdl:message> 
<wsdl:message name="DeleteFwdrateMasterFSReq">
   <wsdl:part name="RequestMsg" element="ns:DELETEFWDRATEMASTER_FSFS_REQ"/>
</wsdl:message> 
<wsdl:message name="DeleteFwdrateMasterFSRes">
   <wsdl:part name="ResponseMsg" element="ns:DELETEFWDRATEMASTER_FSFS_RES"/>
</wsdl:message> 
<wsdl:message name="DeleteFwdrateMasterIOReq">
   <wsdl:part name="RequestMsg" element="ns:DELETEFWDRATEMASTER_IOPK_REQ"/>
</wsdl:message> 
<wsdl:message name="DeleteFwdrateMasterPKRes">
   <wsdl:part name="ResponseMsg" element="ns:DELETEFWDRATEMASTER_IOPK_RES"/>
</wsdl:message> 
<wsdl:message name="ModifyCFRateCodeMaintFSReq">
   <wsdl:part name="RequestMsg" element="ns:MODIFYCFRATECODEMAINT_FSFS_REQ"/>
</wsdl:message> 
<wsdl:message name="ModifyCFRateCodeMaintFSRes">
   <wsdl:part name="ResponseMsg" element="ns:MODIFYCFRATECODEMAINT_FSFS_RES"/>
</wsdl:message> 
<wsdl:message name="ModifyCFRateCodeMaintIOReq">
   <wsdl:part name="RequestMsg" element="ns:MODIFYCFRATECODEMAINT_IOPK_REQ"/>
</wsdl:message> 
<wsdl:message name="ModifyCFRateCodeMaintPKRes">
   <wsdl:part name="ResponseMsg" element="ns:MODIFYCFRATECODEMAINT_IOPK_RES"/>
</wsdl:message> 
<wsdl:message name="ModifyCYDRATEEFSReq">
   <wsdl:part name="RequestMsg" element="ns:MODIFYCYDRATEE_FSFS_REQ"/>
</wsdl:message> 
<wsdl:message name="ModifyCYDRATEEFSRes">
   <wsdl:part name="ResponseMsg" element="ns:MODIFYCYDRATEE_FSFS_RES"/>
</wsdl:message> 
<wsdl:message name="ModifyCYDRATEEIOReq">
   <wsdl:part name="RequestMsg" element="ns:MODIFYCYDRATEE_IOPK_REQ"/>
</wsdl:message> 
<wsdl:message name="ModifyCYDRATEEPKRes">
   <wsdl:part name="ResponseMsg" element="ns:MODIFYCYDRATEE_IOPK_RES"/>
</wsdl:message> 
<wsdl:message name="ModifyCYDefinitionFSReq">
   <wsdl:part name="RequestMsg" element="ns:MODIFYCYDEFINITION_FSFS_REQ"/>
</wsdl:message> 
<wsdl:message name="ModifyCYDefinitionFSRes">
   <wsdl:part name="ResponseMsg" element="ns:MODIFYCYDEFINITION_FSFS_RES"/>
</wsdl:message> 
<wsdl:message name="ModifyCYDefinitionIOReq">
   <wsdl:part name="RequestMsg" element="ns:MODIFYCYDEFINITION_IOPK_REQ"/>
</wsdl:message> 
<wsdl:message name="ModifyCYDefinitionPKRes">
   <wsdl:part name="ResponseMsg" element="ns:MODIFYCYDEFINITION_IOPK_RES"/>
</wsdl:message> 
<wsdl:message name="ModifyCurrencyPairDefnFSReq">
   <wsdl:part name="RequestMsg" element="ns:MODIFYCURRENCYPAIRDEFN_FSFS_REQ"/>
</wsdl:message> 
<wsdl:message name="ModifyCurrencyPairDefnFSRes">
   <wsdl:part name="ResponseMsg" element="ns:MODIFYCURRENCYPAIRDEFN_FSFS_RES"/>
</wsdl:message> 
<wsdl:message name="ModifyCurrencyPairDefnIOReq">
   <wsdl:part name="RequestMsg" element="ns:MODIFYCURRENCYPAIRDEFN_IOPK_REQ"/>
</wsdl:message> 
<wsdl:message name="ModifyCurrencyPairDefnPKRes">
   <wsdl:part name="ResponseMsg" element="ns:MODIFYCURRENCYPAIRDEFN_IOPK_RES"/>
</wsdl:message> 
<wsdl:message name="ModifyFwdrateMasterFSReq">
   <wsdl:part name="RequestMsg" element="ns:MODIFYFWDRATEMASTER_FSFS_REQ"/>
</wsdl:message> 
<wsdl:message name="ModifyFwdrateMasterFSRes">
   <wsdl:part name="ResponseMsg" element="ns:MODIFYFWDRATEMASTER_FSFS_RES"/>
</wsdl:message> 
<wsdl:message name="ModifyFwdrateMasterIOReq">
   <wsdl:part name="RequestMsg" element="ns:MODIFYFWDRATEMASTER_IOPK_REQ"/>
</wsdl:message> 
<wsdl:message name="ModifyFwdrateMasterPKRes">
   <wsdl:part name="ResponseMsg" element="ns:MODIFYFWDRATEMASTER_IOPK_RES"/>
</wsdl:message> 
<wsdl:message name="QueryCFRateCodeMaintFSRes">
   <wsdl:part name="ResponseMsg" element="ns:QUERYCFRATECODEMAINT_IOFS_RES"/>
</wsdl:message> 
<wsdl:message name="QueryCFRateCodeMaintIOReq">
   <wsdl:part name="RequestMsg" element="ns:QUERYCFRATECODEMAINT_IOFS_REQ"/>
</wsdl:message> 
<wsdl:message name="QueryCYDRATEEFSRes">
   <wsdl:part name="ResponseMsg" element="ns:QUERYCYDRATEE_IOFS_RES"/>
</wsdl:message> 
<wsdl:message name="QueryCYDRATEEIOReq">
   <wsdl:part name="RequestMsg" element="ns:QUERYCYDRATEE_IOFS_REQ"/>
</wsdl:message> 
<wsdl:message name="QueryCYDefinitionFSRes">
   <wsdl:part name="ResponseMsg" element="ns:QUERYCYDEFINITION_IOFS_RES"/>
</wsdl:message> 
<wsdl:message name="QueryCYDefinitionIOReq">
   <wsdl:part name="RequestMsg" element="ns:QUERYCYDEFINITION_IOFS_REQ"/>
</wsdl:message> 
<wsdl:message name="QueryCurrencyPairDefnFSRes">
   <wsdl:part name="ResponseMsg" element="ns:QUERYCURRENCYPAIRDEFN_IOFS_RES"/>
</wsdl:message> 
<wsdl:message name="QueryCurrencyPairDefnIOReq">
   <wsdl:part name="RequestMsg" element="ns:QUERYCURRENCYPAIRDEFN_IOFS_REQ"/>
</wsdl:message> 
<wsdl:message name="QueryFwdrateMasterFSRes">
   <wsdl:part name="ResponseMsg" element="ns:QUERYFWDRATEMASTER_IOFS_RES"/>
</wsdl:message> 
<wsdl:message name="QueryFwdrateMasterIOReq">
   <wsdl:part name="RequestMsg" element="ns:QUERYFWDRATEMASTER_IOFS_REQ"/>
</wsdl:message> 
<wsdl:message name="QueryRateTypeFSRes">
   <wsdl:part name="ResponseMsg" element="ns:QUERYRATETYPE_IOFS_RES"/>
</wsdl:message> 
<wsdl:message name="QueryRateTypeIOReq">
   <wsdl:part name="RequestMsg" element="ns:QUERYRATETYPE_IOFS_REQ"/>
</wsdl:message> 
<wsdl:message name="ReopenCYDRATEEFSReq">
   <wsdl:part name="RequestMsg" element="ns:REOPENCYDRATEE_FSFS_REQ"/>
</wsdl:message> 
<wsdl:message name="ReopenCYDRATEEFSRes">
   <wsdl:part name="ResponseMsg" element="ns:REOPENCYDRATEE_FSFS_RES"/>
</wsdl:message> 
<wsdl:message name="ReopenCYDRATEEIOReq">
   <wsdl:part name="RequestMsg" element="ns:REOPENCYDRATEE_IOPK_REQ"/>
</wsdl:message> 
<wsdl:message name="ReopenCYDRATEEPKRes">
   <wsdl:part name="ResponseMsg" element="ns:REOPENCYDRATEE_IOPK_RES"/>
</wsdl:message> 
<wsdl:message name="ReopenCYDefinitionFSReq">
   <wsdl:part name="RequestMsg" element="ns:REOPENCYDEFINITION_FSFS_REQ"/>
</wsdl:message> 
<wsdl:message name="ReopenCYDefinitionFSRes">
   <wsdl:part name="ResponseMsg" element="ns:REOPENCYDEFINITION_FSFS_RES"/>
</wsdl:message> 
<wsdl:message name="ReopenCYDefinitionIOReq">
   <wsdl:part name="RequestMsg" element="ns:REOPENCYDEFINITION_IOPK_REQ"/>
</wsdl:message> 
<wsdl:message name="ReopenCYDefinitionPKRes">
   <wsdl:part name="ResponseMsg" element="ns:REOPENCYDEFINITION_IOPK_RES"/>
</wsdl:message> 
<wsdl:message name="ReopenCurrencyPairDefnFSReq">
   <wsdl:part name="RequestMsg" element="ns:REOPENCURRENCYPAIRDEFN_FSFS_REQ"/>
</wsdl:message> 
<wsdl:message name="ReopenCurrencyPairDefnFSRes">
   <wsdl:part name="ResponseMsg" element="ns:REOPENCURRENCYPAIRDEFN_FSFS_RES"/>
</wsdl:message> 
<wsdl:message name="ReopenCurrencyPairDefnIOReq">
   <wsdl:part name="RequestMsg" element="ns:REOPENCURRENCYPAIRDEFN_IOPK_REQ"/>
</wsdl:message> 
<wsdl:message name="ReopenCurrencyPairDefnPKRes">
   <wsdl:part name="ResponseMsg" element="ns:REOPENCURRENCYPAIRDEFN_IOPK_RES"/>
</wsdl:message> 
<wsdl:message name="ReopenFwdrateMasterFSReq">
   <wsdl:part name="RequestMsg" element="ns:REOPENFWDRATEMASTER_FSFS_REQ"/>
</wsdl:message> 
<wsdl:message name="ReopenFwdrateMasterFSRes">
   <wsdl:part name="ResponseMsg" element="ns:REOPENFWDRATEMASTER_FSFS_RES"/>
</wsdl:message> 
<wsdl:message name="ReopenFwdrateMasterIOReq">
   <wsdl:part name="RequestMsg" element="ns:REOPENFWDRATEMASTER_IOPK_REQ"/>
</wsdl:message> 
<wsdl:message name="ReopenFwdrateMasterPKRes">
   <wsdl:part name="ResponseMsg" element="ns:REOPENFWDRATEMASTER_IOPK_RES"/>
</wsdl:message> 
<wsdl:portType name="FCUBSCcyServiceSEI" >
  <wsdl:operation name="AuthorizeCFRateCodeMaintIO">
     <wsdl:input message="tns:AuthorizeCFRateCodeMaintIOReq"/>
     <wsdl:output message="tns:AuthorizeCFRateCodeMaintPKRes"/>
  </wsdl:operation>
  <wsdl:operation name="AuthorizeCFRateCodeMaintFS">
     <wsdl:input message="tns:AuthorizeCFRateCodeMaintFSReq"/>
     <wsdl:output message="tns:AuthorizeCFRateCodeMaintFSRes"/>
  </wsdl:operation>
  <wsdl:operation name="AuthorizeCYDRATEEIO">
     <wsdl:input message="tns:AuthorizeCYDRATEEIOReq"/>
     <wsdl:output message="tns:AuthorizeCYDRATEEPKRes"/>
  </wsdl:operation>
  <wsdl:operation name="AuthorizeCYDRATEEFS">
     <wsdl:input message="tns:AuthorizeCYDRATEEFSReq"/>
     <wsdl:output message="tns:AuthorizeCYDRATEEFSRes"/>
  </wsdl:operation>
  <wsdl:operation name="AuthorizeCYDefinitionIO">
     <wsdl:input message="tns:AuthorizeCYDefinitionIOReq"/>
     <wsdl:output message="tns:AuthorizeCYDefinitionPKRes"/>
  </wsdl:operation>
  <wsdl:operation name="AuthorizeCYDefinitionFS">
     <wsdl:input message="tns:AuthorizeCYDefinitionFSReq"/>
     <wsdl:output message="tns:AuthorizeCYDefinitionFSRes"/>
  </wsdl:operation>
  <wsdl:operation name="AuthorizeCurrencyPairDefnIO">
     <wsdl:input message="tns:AuthorizeCurrencyPairDefnIOReq"/>
     <wsdl:output message="tns:AuthorizeCurrencyPairDefnPKRes"/>
  </wsdl:operation>
  <wsdl:operation name="AuthorizeCurrencyPairDefnFS">
     <wsdl:input message="tns:AuthorizeCurrencyPairDefnFSReq"/>
     <wsdl:output message="tns:AuthorizeCurrencyPairDefnFSRes"/>
  </wsdl:operation>
  <wsdl:operation name="AuthorizeFwdrateMasterIO">
     <wsdl:input message="tns:AuthorizeFwdrateMasterIOReq"/>
     <wsdl:output message="tns:AuthorizeFwdrateMasterPKRes"/>
  </wsdl:operation>
  <wsdl:operation name="AuthorizeFwdrateMasterFS">
     <wsdl:input message="tns:AuthorizeFwdrateMasterFSReq"/>
     <wsdl:output message="tns:AuthorizeFwdrateMasterFSRes"/>
  </wsdl:operation>
  <wsdl:operation name="CloseCYDRATEEIO">
     <wsdl:input message="tns:CloseCYDRATEEIOReq"/>
     <wsdl:output message="tns:CloseCYDRATEEPKRes"/>
  </wsdl:operation>
  <wsdl:operation name="CloseCYDRATEEFS">
     <wsdl:input message="tns:CloseCYDRATEEFSReq"/>
     <wsdl:output message="tns:CloseCYDRATEEFSRes"/>
  </wsdl:operation>
  <wsdl:operation name="CloseCYDefinitionIO">
     <wsdl:input message="tns:CloseCYDefinitionIOReq"/>
     <wsdl:output message="tns:CloseCYDefinitionPKRes"/>
  </wsdl:operation>
  <wsdl:operation name="CloseCYDefinitionFS">
     <wsdl:input message="tns:CloseCYDefinitionFSReq"/>
     <wsdl:output message="tns:CloseCYDefinitionFSRes"/>
  </wsdl:operation>
  <wsdl:operation name="CloseCurrencyPairDefnIO">
     <wsdl:input message="tns:CloseCurrencyPairDefnIOReq"/>
     <wsdl:output message="tns:CloseCurrencyPairDefnPKRes"/>
  </wsdl:operation>
  <wsdl:operation name="CloseCurrencyPairDefnFS">
     <wsdl:input message="tns:CloseCurrencyPairDefnFSReq"/>
     <wsdl:output message="tns:CloseCurrencyPairDefnFSRes"/>
  </wsdl:operation>
  <wsdl:operation name="CloseFwdrateMasterIO">
     <wsdl:input message="tns:CloseFwdrateMasterIOReq"/>
     <wsdl:output message="tns:CloseFwdrateMasterPKRes"/>
  </wsdl:operation>
  <wsdl:operation name="CloseFwdrateMasterFS">
     <wsdl:input message="tns:CloseFwdrateMasterFSReq"/>
     <wsdl:output message="tns:CloseFwdrateMasterFSRes"/>
  </wsdl:operation>
  <wsdl:operation name="CreateCFRateCodeMaintIO">
     <wsdl:input message="tns:CreateCFRateCodeMaintIOReq"/>
     <wsdl:output message="tns:CreateCFRateCodeMaintPKRes"/>
  </wsdl:operation>
  <wsdl:operation name="CreateCFRateCodeMaintFS">
     <wsdl:input message="tns:CreateCFRateCodeMaintFSReq"/>
     <wsdl:output message="tns:CreateCFRateCodeMaintFSRes"/>
  </wsdl:operation>
  <wsdl:operation name="CreateCYDefinitionIO">
     <wsdl:input message="tns:CreateCYDefinitionIOReq"/>
     <wsdl:output message="tns:CreateCYDefinitionPKRes"/>
  </wsdl:operation>
  <wsdl:operation name="CreateCYDefinitionFS">
     <wsdl:input message="tns:CreateCYDefinitionFSReq"/>
     <wsdl:output message="tns:CreateCYDefinitionFSRes"/>
  </wsdl:operation>
  <wsdl:operation name="CreateCurrencyPairDefnIO">
     <wsdl:input message="tns:CreateCurrencyPairDefnIOReq"/>
     <wsdl:output message="tns:CreateCurrencyPairDefnPKRes"/>
  </wsdl:operation>
  <wsdl:operation name="CreateCurrencyPairDefnFS">
     <wsdl:input message="tns:CreateCurrencyPairDefnFSReq"/>
     <wsdl:output message="tns:CreateCurrencyPairDefnFSRes"/>
  </wsdl:operation>
  <wsdl:operation name="CreateFwdrateMasterIO">
     <wsdl:input message="tns:CreateFwdrateMasterIOReq"/>
     <wsdl:output message="tns:CreateFwdrateMasterPKRes"/>
  </wsdl:operation>
  <wsdl:operation name="CreateFwdrateMasterFS">
     <wsdl:input message="tns:CreateFwdrateMasterFSReq"/>
     <wsdl:output message="tns:CreateFwdrateMasterFSRes"/>
  </wsdl:operation>
  <wsdl:operation name="DeleteCFRateCodeMaintIO">
     <wsdl:input message="tns:DeleteCFRateCodeMaintIOReq"/>
     <wsdl:output message="tns:DeleteCFRateCodeMaintPKRes"/>
  </wsdl:operation>
  <wsdl:operation name="DeleteCFRateCodeMaintFS">
     <wsdl:input message="tns:DeleteCFRateCodeMaintFSReq"/>
     <wsdl:output message="tns:DeleteCFRateCodeMaintFSRes"/>
  </wsdl:operation>
  <wsdl:operation name="DeleteCYDRATEEIO">
     <wsdl:input message="tns:DeleteCYDRATEEIOReq"/>
     <wsdl:output message="tns:DeleteCYDRATEEPKRes"/>
  </wsdl:operation>
  <wsdl:operation name="DeleteCYDRATEEFS">
     <wsdl:input message="tns:DeleteCYDRATEEFSReq"/>
     <wsdl:output message="tns:DeleteCYDRATEEFSRes"/>
  </wsdl:operation>
  <wsdl:operation name="DeleteCYDefinitionIO">
     <wsdl:input message="tns:DeleteCYDefinitionIOReq"/>
     <wsdl:output message="tns:DeleteCYDefinitionPKRes"/>
  </wsdl:operation>
  <wsdl:operation name="DeleteCYDefinitionFS">
     <wsdl:input message="tns:DeleteCYDefinitionFSReq"/>
     <wsdl:output message="tns:DeleteCYDefinitionFSRes"/>
  </wsdl:operation>
  <wsdl:operation name="DeleteCurrencyPairDefnIO">
     <wsdl:input message="tns:DeleteCurrencyPairDefnIOReq"/>
     <wsdl:output message="tns:DeleteCurrencyPairDefnPKRes"/>
  </wsdl:operation>
  <wsdl:operation name="DeleteCurrencyPairDefnFS">
     <wsdl:input message="tns:DeleteCurrencyPairDefnFSReq"/>
     <wsdl:output message="tns:DeleteCurrencyPairDefnFSRes"/>
  </wsdl:operation>
  <wsdl:operation name="DeleteFwdrateMasterIO">
     <wsdl:input message="tns:DeleteFwdrateMasterIOReq"/>
     <wsdl:output message="tns:DeleteFwdrateMasterPKRes"/>
  </wsdl:operation>
  <wsdl:operation name="DeleteFwdrateMasterFS">
     <wsdl:input message="tns:DeleteFwdrateMasterFSReq"/>
     <wsdl:output message="tns:DeleteFwdrateMasterFSRes"/>
  </wsdl:operation>
  <wsdl:operation name="ModifyCFRateCodeMaintIO">
     <wsdl:input message="tns:ModifyCFRateCodeMaintIOReq"/>
     <wsdl:output message="tns:ModifyCFRateCodeMaintPKRes"/>
  </wsdl:operation>
  <wsdl:operation name="ModifyCFRateCodeMaintFS">
     <wsdl:input message="tns:ModifyCFRateCodeMaintFSReq"/>
     <wsdl:output message="tns:ModifyCFRateCodeMaintFSRes"/>
  </wsdl:operation>
  <wsdl:operation name="ModifyCYDRATEEIO">
     <wsdl:input message="tns:ModifyCYDRATEEIOReq"/>
     <wsdl:output message="tns:ModifyCYDRATEEPKRes"/>
  </wsdl:operation>
  <wsdl:operation name="ModifyCYDRATEEFS">
     <wsdl:input message="tns:ModifyCYDRATEEFSReq"/>
     <wsdl:output message="tns:ModifyCYDRATEEFSRes"/>
  </wsdl:operation>
  <wsdl:operation name="ModifyCYDefinitionIO">
     <wsdl:input message="tns:ModifyCYDefinitionIOReq"/>
     <wsdl:output message="tns:ModifyCYDefinitionPKRes"/>
  </wsdl:operation>
  <wsdl:operation name="ModifyCYDefinitionFS">
     <wsdl:input message="tns:ModifyCYDefinitionFSReq"/>
     <wsdl:output message="tns:ModifyCYDefinitionFSRes"/>
  </wsdl:operation>
  <wsdl:operation name="ModifyCurrencyPairDefnIO">
     <wsdl:input message="tns:ModifyCurrencyPairDefnIOReq"/>
     <wsdl:output message="tns:ModifyCurrencyPairDefnPKRes"/>
  </wsdl:operation>
  <wsdl:operation name="ModifyCurrencyPairDefnFS">
     <wsdl:input message="tns:ModifyCurrencyPairDefnFSReq"/>
     <wsdl:output message="tns:ModifyCurrencyPairDefnFSRes"/>
  </wsdl:operation>
  <wsdl:operation name="ModifyFwdrateMasterIO">
     <wsdl:input message="tns:ModifyFwdrateMasterIOReq"/>
     <wsdl:output message="tns:ModifyFwdrateMasterPKRes"/>
  </wsdl:operation>
  <wsdl:operation name="ModifyFwdrateMasterFS">
     <wsdl:input message="tns:ModifyFwdrateMasterFSReq"/>
     <wsdl:output message="tns:ModifyFwdrateMasterFSRes"/>
  </wsdl:operation>
  <wsdl:operation name="QueryCFRateCodeMaintIO">
     <wsdl:input message="tns:QueryCFRateCodeMaintIOReq"/>
     <wsdl:output message="tns:QueryCFRateCodeMaintFSRes"/>
  </wsdl:operation>
  <wsdl:operation name="QueryCYDRATEEIO">
     <wsdl:input message="tns:QueryCYDRATEEIOReq"/>
     <wsdl:output message="tns:QueryCYDRATEEFSRes"/>
  </wsdl:operation>
  <wsdl:operation name="QueryCYDefinitionIO">
     <wsdl:input message="tns:QueryCYDefinitionIOReq"/>
     <wsdl:output message="tns:QueryCYDefinitionFSRes"/>
  </wsdl:operation>
  <wsdl:operation name="QueryCurrencyPairDefnIO">
     <wsdl:input message="tns:QueryCurrencyPairDefnIOReq"/>
     <wsdl:output message="tns:QueryCurrencyPairDefnFSRes"/>
  </wsdl:operation>
  <wsdl:operation name="QueryFwdrateMasterIO">
     <wsdl:input message="tns:QueryFwdrateMasterIOReq"/>
     <wsdl:output message="tns:QueryFwdrateMasterFSRes"/>
  </wsdl:operation>
  <wsdl:operation name="QueryRateTypeIO">
     <wsdl:input message="tns:QueryRateTypeIOReq"/>
     <wsdl:output message="tns:QueryRateTypeFSRes"/>
  </wsdl:operation>
  <wsdl:operation name="ReopenCYDRATEEIO">
     <wsdl:input message="tns:ReopenCYDRATEEIOReq"/>
     <wsdl:output message="tns:ReopenCYDRATEEPKRes"/>
  </wsdl:operation>
  <wsdl:operation name="ReopenCYDRATEEFS">
     <wsdl:input message="tns:ReopenCYDRATEEFSReq"/>
     <wsdl:output message="tns:ReopenCYDRATEEFSRes"/>
  </wsdl:operation>
  <wsdl:operation name="ReopenCYDefinitionIO">
     <wsdl:input message="tns:ReopenCYDefinitionIOReq"/>
     <wsdl:output message="tns:ReopenCYDefinitionPKRes"/>
  </wsdl:operation>
  <wsdl:operation name="ReopenCYDefinitionFS">
     <wsdl:input message="tns:ReopenCYDefinitionFSReq"/>
     <wsdl:output message="tns:ReopenCYDefinitionFSRes"/>
  </wsdl:operation>
  <wsdl:operation name="ReopenCurrencyPairDefnIO">
     <wsdl:input message="tns:ReopenCurrencyPairDefnIOReq"/>
     <wsdl:output message="tns:ReopenCurrencyPairDefnPKRes"/>
  </wsdl:operation>
  <wsdl:operation name="ReopenCurrencyPairDefnFS">
     <wsdl:input message="tns:ReopenCurrencyPairDefnFSReq"/>
     <wsdl:output message="tns:ReopenCurrencyPairDefnFSRes"/>
  </wsdl:operation>
  <wsdl:operation name="ReopenFwdrateMasterIO">
     <wsdl:input message="tns:ReopenFwdrateMasterIOReq"/>
     <wsdl:output message="tns:ReopenFwdrateMasterPKRes"/>
  </wsdl:operation>
  <wsdl:operation name="ReopenFwdrateMasterFS">
     <wsdl:input message="tns:ReopenFwdrateMasterFSReq"/>
     <wsdl:output message="tns:ReopenFwdrateMasterFSRes"/>
  </wsdl:operation>
</wsdl:portType>
<wsdl:binding name="FCUBSCcyService" type="tns:FCUBSCcyServiceSEI">
<wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  <wsdl:operation name="AuthorizeCFRateCodeMaintFS">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="AuthorizeCFRateCodeMaintIO">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="AuthorizeCYDRATEEFS">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="AuthorizeCYDRATEEIO">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="AuthorizeCYDefinitionFS">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="AuthorizeCYDefinitionIO">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="AuthorizeCurrencyPairDefnFS">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="AuthorizeCurrencyPairDefnIO">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="AuthorizeFwdrateMasterFS">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="AuthorizeFwdrateMasterIO">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="CloseCYDRATEEFS">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="CloseCYDRATEEIO">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="CloseCYDefinitionFS">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="CloseCYDefinitionIO">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="CloseCurrencyPairDefnFS">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="CloseCurrencyPairDefnIO">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="CloseFwdrateMasterFS">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="CloseFwdrateMasterIO">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="CreateCFRateCodeMaintFS">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="CreateCFRateCodeMaintIO">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="CreateCYDefinitionFS">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="CreateCYDefinitionIO">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="CreateCurrencyPairDefnFS">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="CreateCurrencyPairDefnIO">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="CreateFwdrateMasterFS">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="CreateFwdrateMasterIO">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="DeleteCFRateCodeMaintFS">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="DeleteCFRateCodeMaintIO">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="DeleteCYDRATEEFS">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="DeleteCYDRATEEIO">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="DeleteCYDefinitionFS">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="DeleteCYDefinitionIO">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="DeleteCurrencyPairDefnFS">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="DeleteCurrencyPairDefnIO">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="DeleteFwdrateMasterFS">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="DeleteFwdrateMasterIO">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="ModifyCFRateCodeMaintFS">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="ModifyCFRateCodeMaintIO">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="ModifyCYDRATEEFS">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="ModifyCYDRATEEIO">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="ModifyCYDefinitionFS">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="ModifyCYDefinitionIO">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="ModifyCurrencyPairDefnFS">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="ModifyCurrencyPairDefnIO">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="ModifyFwdrateMasterFS">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="ModifyFwdrateMasterIO">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="QueryCFRateCodeMaintIO">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="QueryCYDRATEEIO">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="QueryCYDefinitionIO">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="QueryCurrencyPairDefnIO">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="QueryFwdrateMasterIO">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="QueryRateTypeIO">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="ReopenCYDRATEEFS">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="ReopenCYDRATEEIO">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="ReopenCYDefinitionFS">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="ReopenCYDefinitionIO">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="ReopenCurrencyPairDefnFS">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="ReopenCurrencyPairDefnIO">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="ReopenFwdrateMasterFS">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="ReopenFwdrateMasterIO">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
</wsdl:binding>
   <wsdl:service name="FCUBSCcyService">
       <wsdl:port name="FCUBSCcyServiceSEI" binding="tns:FCUBSCcyService">
           <wsdlsoap:address location="http://localhost:9080/FCUBSCcyService/services/FCUBSCcyService"/>
       </wsdl:port>
   </wsdl:service>
</wsdl:definitions>