WS/OFCLTLService/wsdl/OFCLTLService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
 <wsdl:definitions name="OFCLTLService"
 targetNamespace = "http://OFCLTLService.types.ws.gw.fcubs.ofss.com"
 xmlns:tns = "http://OFCLTLService.types.ws.gw.fcubs.ofss.com"
 xmlns:wsdlsoap = "http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:wsdl = "http://schemas.xmlsoap.org/wsdl/"
 xmlns:xs = "http://www.w3.org/2001/XMLSchema"
 xmlns="http://schemas.xmlsoap.org/wsdl/"
 xmlns:ns="http://fcubs.ofss.com/service/OFCLTLService">
<wsdl:types>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/OFCLTLService"
       schemaLocation="../XSD/TL-AuthorizeCTSettlement-Req-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/OFCLTLService"
       schemaLocation="../XSD/TL-AuthorizeCTSettlement-Res-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/OFCLTLService"
       schemaLocation="../XSD/TL-AuthorizeCTSettlement-Req-IO-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/OFCLTLService"
       schemaLocation="../XSD/TL-AuthorizeCTSettlement-Res-PK-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/OFCLTLService"
       schemaLocation="../XSD/TL-AuthorizeTLproduct-Req-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/OFCLTLService"
       schemaLocation="../XSD/TL-AuthorizeTLproduct-Res-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/OFCLTLService"
       schemaLocation="../XSD/TL-AuthorizeTLproduct-Req-IO-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/OFCLTLService"
       schemaLocation="../XSD/TL-AuthorizeTLproduct-Res-PK-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/OFCLTLService"
       schemaLocation="../XSD/TL-AuthorizeTradeDraft-Req-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/OFCLTLService"
       schemaLocation="../XSD/TL-AuthorizeTradeDraft-Res-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/OFCLTLService"
       schemaLocation="../XSD/TL-AuthorizeTradeDraft-Req-IO-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/OFCLTLService"
       schemaLocation="../XSD/TL-AuthorizeTradeDraft-Res-PK-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/OFCLTLService"
       schemaLocation="../XSD/TL-Authorizesettlement-Req-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/OFCLTLService"
       schemaLocation="../XSD/TL-Authorizesettlement-Res-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/OFCLTLService"
       schemaLocation="../XSD/TL-Authorizesettlement-Req-IO-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/OFCLTLService"
       schemaLocation="../XSD/TL-Authorizesettlement-Res-PK-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/OFCLTLService"
       schemaLocation="../XSD/TL-Authorizetradesettle-Req-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/OFCLTLService"
       schemaLocation="../XSD/TL-Authorizetradesettle-Res-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/OFCLTLService"
       schemaLocation="../XSD/TL-Authorizetradesettle-Req-IO-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/OFCLTLService"
       schemaLocation="../XSD/TL-Authorizetradesettle-Res-PK-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/OFCLTLService"
       schemaLocation="../XSD/TL-CloseTLproduct-Req-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/OFCLTLService"
       schemaLocation="../XSD/TL-CloseTLproduct-Res-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/OFCLTLService"
       schemaLocation="../XSD/TL-CloseTLproduct-Req-IO-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/OFCLTLService"
       schemaLocation="../XSD/TL-CloseTLproduct-Res-PK-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/OFCLTLService"
       schemaLocation="../XSD/TL-Closesettlement-Req-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/OFCLTLService"
       schemaLocation="../XSD/TL-Closesettlement-Res-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/OFCLTLService"
       schemaLocation="../XSD/TL-Closesettlement-Req-IO-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/OFCLTLService"
       schemaLocation="../XSD/TL-Closesettlement-Res-PK-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/OFCLTLService"
       schemaLocation="../XSD/TL-Closetradesettle-Req-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/OFCLTLService"
       schemaLocation="../XSD/TL-Closetradesettle-Res-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/OFCLTLService"
       schemaLocation="../XSD/TL-Closetradesettle-Req-IO-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/OFCLTLService"
       schemaLocation="../XSD/TL-Closetradesettle-Res-PK-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/OFCLTLService"
       schemaLocation="../XSD/TL-CreateCTSettlement-Req-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/OFCLTLService"
       schemaLocation="../XSD/TL-CreateCTSettlement-Res-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/OFCLTLService"
       schemaLocation="../XSD/TL-CreateCTSettlement-Req-IO-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/OFCLTLService"
       schemaLocation="../XSD/TL-CreateCTSettlement-Res-PK-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/OFCLTLService"
       schemaLocation="../XSD/TL-CreateTLproduct-Req-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/OFCLTLService"
       schemaLocation="../XSD/TL-CreateTLproduct-Res-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/OFCLTLService"
       schemaLocation="../XSD/TL-CreateTLproduct-Req-IO-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/OFCLTLService"
       schemaLocation="../XSD/TL-CreateTLproduct-Res-PK-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/OFCLTLService"
       schemaLocation="../XSD/TL-CreateTradeDraft-Req-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/OFCLTLService"
       schemaLocation="../XSD/TL-CreateTradeDraft-Res-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/OFCLTLService"
       schemaLocation="../XSD/TL-CreateTradeDraft-Req-IO-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/OFCLTLService"
       schemaLocation="../XSD/TL-CreateTradeDraft-Res-PK-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/OFCLTLService"
       schemaLocation="../XSD/TL-Createsettlement-Req-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/OFCLTLService"
       schemaLocation="../XSD/TL-Createsettlement-Res-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/OFCLTLService"
       schemaLocation="../XSD/TL-Createsettlement-Req-IO-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/OFCLTLService"
       schemaLocation="../XSD/TL-Createsettlement-Res-PK-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/OFCLTLService"
       schemaLocation="../XSD/TL-Createtradesettle-Req-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/OFCLTLService"
       schemaLocation="../XSD/TL-Createtradesettle-Res-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/OFCLTLService"
       schemaLocation="../XSD/TL-Createtradesettle-Req-IO-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/OFCLTLService"
       schemaLocation="../XSD/TL-Createtradesettle-Res-PK-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/OFCLTLService"
       schemaLocation="../XSD/TL-DeleteCTSettlement-Req-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/OFCLTLService"
       schemaLocation="../XSD/TL-DeleteCTSettlement-Res-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/OFCLTLService"
       schemaLocation="../XSD/TL-DeleteCTSettlement-Req-IO-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/OFCLTLService"
       schemaLocation="../XSD/TL-DeleteCTSettlement-Res-PK-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/OFCLTLService"
       schemaLocation="../XSD/TL-DeleteTLproduct-Req-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/OFCLTLService"
       schemaLocation="../XSD/TL-DeleteTLproduct-Res-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/OFCLTLService"
       schemaLocation="../XSD/TL-DeleteTLproduct-Req-IO-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/OFCLTLService"
       schemaLocation="../XSD/TL-DeleteTLproduct-Res-PK-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/OFCLTLService"
       schemaLocation="../XSD/TL-DeleteTradeDraft-Req-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/OFCLTLService"
       schemaLocation="../XSD/TL-DeleteTradeDraft-Res-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/OFCLTLService"
       schemaLocation="../XSD/TL-DeleteTradeDraft-Req-IO-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/OFCLTLService"
       schemaLocation="../XSD/TL-DeleteTradeDraft-Res-PK-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/OFCLTLService"
       schemaLocation="../XSD/TL-Deletesettlement-Req-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/OFCLTLService"
       schemaLocation="../XSD/TL-Deletesettlement-Res-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/OFCLTLService"
       schemaLocation="../XSD/TL-Deletesettlement-Req-IO-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/OFCLTLService"
       schemaLocation="../XSD/TL-Deletesettlement-Res-PK-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/OFCLTLService"
       schemaLocation="../XSD/TL-Deletetradesettle-Req-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/OFCLTLService"
       schemaLocation="../XSD/TL-Deletetradesettle-Res-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/OFCLTLService"
       schemaLocation="../XSD/TL-Deletetradesettle-Req-IO-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/OFCLTLService"
       schemaLocation="../XSD/TL-Deletetradesettle-Res-PK-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/OFCLTLService"
       schemaLocation="../XSD/TL-ModifyTLproduct-Req-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/OFCLTLService"
       schemaLocation="../XSD/TL-ModifyTLproduct-Res-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/OFCLTLService"
       schemaLocation="../XSD/TL-ModifyTLproduct-Req-IO-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/OFCLTLService"
       schemaLocation="../XSD/TL-ModifyTLproduct-Res-PK-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/OFCLTLService"
       schemaLocation="../XSD/TL-ModifyTradeDraft-Req-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/OFCLTLService"
       schemaLocation="../XSD/TL-ModifyTradeDraft-Res-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/OFCLTLService"
       schemaLocation="../XSD/TL-ModifyTradeDraft-Req-IO-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/OFCLTLService"
       schemaLocation="../XSD/TL-ModifyTradeDraft-Res-PK-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/OFCLTLService"
       schemaLocation="../XSD/TL-Modifysettlement-Req-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/OFCLTLService"
       schemaLocation="../XSD/TL-Modifysettlement-Res-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/OFCLTLService"
       schemaLocation="../XSD/TL-Modifysettlement-Req-IO-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/OFCLTLService"
       schemaLocation="../XSD/TL-Modifysettlement-Res-PK-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/OFCLTLService"
       schemaLocation="../XSD/TL-Modifytradesettle-Req-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/OFCLTLService"
       schemaLocation="../XSD/TL-Modifytradesettle-Res-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/OFCLTLService"
       schemaLocation="../XSD/TL-Modifytradesettle-Req-IO-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/OFCLTLService"
       schemaLocation="../XSD/TL-Modifytradesettle-Res-PK-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/OFCLTLService"
       schemaLocation="../XSD/TL-QueryCTSettlement-Res-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/OFCLTLService"
       schemaLocation="../XSD/TL-QueryCTSettlement-Req-IO-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/OFCLTLService"
       schemaLocation="../XSD/TL-QueryTLproduct-Res-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/OFCLTLService"
       schemaLocation="../XSD/TL-QueryTLproduct-Req-IO-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/OFCLTLService"
       schemaLocation="../XSD/TL-QueryTradeDraft-Res-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/OFCLTLService"
       schemaLocation="../XSD/TL-QueryTradeDraft-Req-IO-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/OFCLTLService"
       schemaLocation="../XSD/TL-Querysettlement-Res-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/OFCLTLService"
       schemaLocation="../XSD/TL-Querysettlement-Req-IO-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/OFCLTLService"
       schemaLocation="../XSD/TL-Querytradesettle-Res-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/OFCLTLService"
       schemaLocation="../XSD/TL-Querytradesettle-Req-IO-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/OFCLTLService"
       schemaLocation="../XSD/TL-ReopenTLproduct-Req-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/OFCLTLService"
       schemaLocation="../XSD/TL-ReopenTLproduct-Res-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/OFCLTLService"
       schemaLocation="../XSD/TL-ReopenTLproduct-Req-IO-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/OFCLTLService"
       schemaLocation="../XSD/TL-ReopenTLproduct-Res-PK-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/OFCLTLService"
       schemaLocation="../XSD/TL-Reopensettlement-Req-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/OFCLTLService"
       schemaLocation="../XSD/TL-Reopensettlement-Res-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/OFCLTLService"
       schemaLocation="../XSD/TL-Reopensettlement-Req-IO-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/OFCLTLService"
       schemaLocation="../XSD/TL-Reopensettlement-Res-PK-MSG.xsd"/>
   </xs:schema>
</wsdl:types>
<wsdl:message name="AuthorizeCTSettlementFSReq">
   <wsdl:part name="RequestMsg" element="ns:AUTHORIZECTSETTLEMENT_FSFS_REQ"/>
</wsdl:message> 
<wsdl:message name="AuthorizeCTSettlementFSRes">
   <wsdl:part name="ResponseMsg" element="ns:AUTHORIZECTSETTLEMENT_FSFS_RES"/>
</wsdl:message> 
<wsdl:message name="AuthorizeCTSettlementIOReq">
   <wsdl:part name="RequestMsg" element="ns:AUTHORIZECTSETTLEMENT_IOPK_REQ"/>
</wsdl:message> 
<wsdl:message name="AuthorizeCTSettlementPKRes">
   <wsdl:part name="ResponseMsg" element="ns:AUTHORIZECTSETTLEMENT_IOPK_RES"/>
</wsdl:message> 
<wsdl:message name="AuthorizeTLproductFSReq">
   <wsdl:part name="RequestMsg" element="ns:AUTHORIZETLPRODUCT_FSFS_REQ"/>
</wsdl:message> 
<wsdl:message name="AuthorizeTLproductFSRes">
   <wsdl:part name="ResponseMsg" element="ns:AUTHORIZETLPRODUCT_FSFS_RES"/>
</wsdl:message> 
<wsdl:message name="AuthorizeTLproductIOReq">
   <wsdl:part name="RequestMsg" element="ns:AUTHORIZETLPRODUCT_IOPK_REQ"/>
</wsdl:message> 
<wsdl:message name="AuthorizeTLproductPKRes">
   <wsdl:part name="ResponseMsg" element="ns:AUTHORIZETLPRODUCT_IOPK_RES"/>
</wsdl:message> 
<wsdl:message name="AuthorizeTradeDraftFSReq">
   <wsdl:part name="RequestMsg" element="ns:AUTHORIZETRADEDRAFT_FSFS_REQ"/>
</wsdl:message> 
<wsdl:message name="AuthorizeTradeDraftFSRes">
   <wsdl:part name="ResponseMsg" element="ns:AUTHORIZETRADEDRAFT_FSFS_RES"/>
</wsdl:message> 
<wsdl:message name="AuthorizeTradeDraftIOReq">
   <wsdl:part name="RequestMsg" element="ns:AUTHORIZETRADEDRAFT_IOPK_REQ"/>
</wsdl:message> 
<wsdl:message name="AuthorizeTradeDraftPKRes">
   <wsdl:part name="ResponseMsg" element="ns:AUTHORIZETRADEDRAFT_IOPK_RES"/>
</wsdl:message> 
<wsdl:message name="AuthorizesettlementFSReq">
   <wsdl:part name="RequestMsg" element="ns:AUTHORIZESETTLEMENT_FSFS_REQ"/>
</wsdl:message> 
<wsdl:message name="AuthorizesettlementFSRes">
   <wsdl:part name="ResponseMsg" element="ns:AUTHORIZESETTLEMENT_FSFS_RES"/>
</wsdl:message> 
<wsdl:message name="AuthorizesettlementIOReq">
   <wsdl:part name="RequestMsg" element="ns:AUTHORIZESETTLEMENT_IOPK_REQ"/>
</wsdl:message> 
<wsdl:message name="AuthorizesettlementPKRes">
   <wsdl:part name="ResponseMsg" element="ns:AUTHORIZESETTLEMENT_IOPK_RES"/>
</wsdl:message> 
<wsdl:message name="AuthorizetradesettleFSReq">
   <wsdl:part name="RequestMsg" element="ns:AUTHORIZETRADESETTLE_FSFS_REQ"/>
</wsdl:message> 
<wsdl:message name="AuthorizetradesettleFSRes">
   <wsdl:part name="ResponseMsg" element="ns:AUTHORIZETRADESETTLE_FSFS_RES"/>
</wsdl:message> 
<wsdl:message name="AuthorizetradesettleIOReq">
   <wsdl:part name="RequestMsg" element="ns:AUTHORIZETRADESETTLE_IOPK_REQ"/>
</wsdl:message> 
<wsdl:message name="AuthorizetradesettlePKRes">
   <wsdl:part name="ResponseMsg" element="ns:AUTHORIZETRADESETTLE_IOPK_RES"/>
</wsdl:message> 
<wsdl:message name="CloseTLproductFSReq">
   <wsdl:part name="RequestMsg" element="ns:CLOSETLPRODUCT_FSFS_REQ"/>
</wsdl:message> 
<wsdl:message name="CloseTLproductFSRes">
   <wsdl:part name="ResponseMsg" element="ns:CLOSETLPRODUCT_FSFS_RES"/>
</wsdl:message> 
<wsdl:message name="CloseTLproductIOReq">
   <wsdl:part name="RequestMsg" element="ns:CLOSETLPRODUCT_IOPK_REQ"/>
</wsdl:message> 
<wsdl:message name="CloseTLproductPKRes">
   <wsdl:part name="ResponseMsg" element="ns:CLOSETLPRODUCT_IOPK_RES"/>
</wsdl:message> 
<wsdl:message name="ClosesettlementFSReq">
   <wsdl:part name="RequestMsg" element="ns:CLOSESETTLEMENT_FSFS_REQ"/>
</wsdl:message> 
<wsdl:message name="ClosesettlementFSRes">
   <wsdl:part name="ResponseMsg" element="ns:CLOSESETTLEMENT_FSFS_RES"/>
</wsdl:message> 
<wsdl:message name="ClosesettlementIOReq">
   <wsdl:part name="RequestMsg" element="ns:CLOSESETTLEMENT_IOPK_REQ"/>
</wsdl:message> 
<wsdl:message name="ClosesettlementPKRes">
   <wsdl:part name="ResponseMsg" element="ns:CLOSESETTLEMENT_IOPK_RES"/>
</wsdl:message> 
<wsdl:message name="ClosetradesettleFSReq">
   <wsdl:part name="RequestMsg" element="ns:CLOSETRADESETTLE_FSFS_REQ"/>
</wsdl:message> 
<wsdl:message name="ClosetradesettleFSRes">
   <wsdl:part name="ResponseMsg" element="ns:CLOSETRADESETTLE_FSFS_RES"/>
</wsdl:message> 
<wsdl:message name="ClosetradesettleIOReq">
   <wsdl:part name="RequestMsg" element="ns:CLOSETRADESETTLE_IOPK_REQ"/>
</wsdl:message> 
<wsdl:message name="ClosetradesettlePKRes">
   <wsdl:part name="ResponseMsg" element="ns:CLOSETRADESETTLE_IOPK_RES"/>
</wsdl:message> 
<wsdl:message name="CreateCTSettlementFSReq">
   <wsdl:part name="RequestMsg" element="ns:CREATECTSETTLEMENT_FSFS_REQ"/>
</wsdl:message> 
<wsdl:message name="CreateCTSettlementFSRes">
   <wsdl:part name="ResponseMsg" element="ns:CREATECTSETTLEMENT_FSFS_RES"/>
</wsdl:message> 
<wsdl:message name="CreateCTSettlementIOReq">
   <wsdl:part name="RequestMsg" element="ns:CREATECTSETTLEMENT_IOPK_REQ"/>
</wsdl:message> 
<wsdl:message name="CreateCTSettlementPKRes">
   <wsdl:part name="ResponseMsg" element="ns:CREATECTSETTLEMENT_IOPK_RES"/>
</wsdl:message> 
<wsdl:message name="CreateTLproductFSReq">
   <wsdl:part name="RequestMsg" element="ns:CREATETLPRODUCT_FSFS_REQ"/>
</wsdl:message> 
<wsdl:message name="CreateTLproductFSRes">
   <wsdl:part name="ResponseMsg" element="ns:CREATETLPRODUCT_FSFS_RES"/>
</wsdl:message> 
<wsdl:message name="CreateTLproductIOReq">
   <wsdl:part name="RequestMsg" element="ns:CREATETLPRODUCT_IOPK_REQ"/>
</wsdl:message> 
<wsdl:message name="CreateTLproductPKRes">
   <wsdl:part name="ResponseMsg" element="ns:CREATETLPRODUCT_IOPK_RES"/>
</wsdl:message> 
<wsdl:message name="CreateTradeDraftFSReq">
   <wsdl:part name="RequestMsg" element="ns:CREATETRADEDRAFT_FSFS_REQ"/>
</wsdl:message> 
<wsdl:message name="CreateTradeDraftFSRes">
   <wsdl:part name="ResponseMsg" element="ns:CREATETRADEDRAFT_FSFS_RES"/>
</wsdl:message> 
<wsdl:message name="CreateTradeDraftIOReq">
   <wsdl:part name="RequestMsg" element="ns:CREATETRADEDRAFT_IOPK_REQ"/>
</wsdl:message> 
<wsdl:message name="CreateTradeDraftPKRes">
   <wsdl:part name="ResponseMsg" element="ns:CREATETRADEDRAFT_IOPK_RES"/>
</wsdl:message> 
<wsdl:message name="CreatesettlementFSReq">
   <wsdl:part name="RequestMsg" element="ns:CREATESETTLEMENT_FSFS_REQ"/>
</wsdl:message> 
<wsdl:message name="CreatesettlementFSRes">
   <wsdl:part name="ResponseMsg" element="ns:CREATESETTLEMENT_FSFS_RES"/>
</wsdl:message> 
<wsdl:message name="CreatesettlementIOReq">
   <wsdl:part name="RequestMsg" element="ns:CREATESETTLEMENT_IOPK_REQ"/>
</wsdl:message> 
<wsdl:message name="CreatesettlementPKRes">
   <wsdl:part name="ResponseMsg" element="ns:CREATESETTLEMENT_IOPK_RES"/>
</wsdl:message> 
<wsdl:message name="CreatetradesettleFSReq">
   <wsdl:part name="RequestMsg" element="ns:CREATETRADESETTLE_FSFS_REQ"/>
</wsdl:message> 
<wsdl:message name="CreatetradesettleFSRes">
   <wsdl:part name="ResponseMsg" element="ns:CREATETRADESETTLE_FSFS_RES"/>
</wsdl:message> 
<wsdl:message name="CreatetradesettleIOReq">
   <wsdl:part name="RequestMsg" element="ns:CREATETRADESETTLE_IOPK_REQ"/>
</wsdl:message> 
<wsdl:message name="CreatetradesettlePKRes">
   <wsdl:part name="ResponseMsg" element="ns:CREATETRADESETTLE_IOPK_RES"/>
</wsdl:message> 
<wsdl:message name="DeleteCTSettlementFSReq">
   <wsdl:part name="RequestMsg" element="ns:DELETECTSETTLEMENT_FSFS_REQ"/>
</wsdl:message> 
<wsdl:message name="DeleteCTSettlementFSRes">
   <wsdl:part name="ResponseMsg" element="ns:DELETECTSETTLEMENT_FSFS_RES"/>
</wsdl:message> 
<wsdl:message name="DeleteCTSettlementIOReq">
   <wsdl:part name="RequestMsg" element="ns:DELETECTSETTLEMENT_IOPK_REQ"/>
</wsdl:message> 
<wsdl:message name="DeleteCTSettlementPKRes">
   <wsdl:part name="ResponseMsg" element="ns:DELETECTSETTLEMENT_IOPK_RES"/>
</wsdl:message> 
<wsdl:message name="DeleteTLproductFSReq">
   <wsdl:part name="RequestMsg" element="ns:DELETETLPRODUCT_FSFS_REQ"/>
</wsdl:message> 
<wsdl:message name="DeleteTLproductFSRes">
   <wsdl:part name="ResponseMsg" element="ns:DELETETLPRODUCT_FSFS_RES"/>
</wsdl:message> 
<wsdl:message name="DeleteTLproductIOReq">
   <wsdl:part name="RequestMsg" element="ns:DELETETLPRODUCT_IOPK_REQ"/>
</wsdl:message> 
<wsdl:message name="DeleteTLproductPKRes">
   <wsdl:part name="ResponseMsg" element="ns:DELETETLPRODUCT_IOPK_RES"/>
</wsdl:message> 
<wsdl:message name="DeleteTradeDraftFSReq">
   <wsdl:part name="RequestMsg" element="ns:DELETETRADEDRAFT_FSFS_REQ"/>
</wsdl:message> 
<wsdl:message name="DeleteTradeDraftFSRes">
   <wsdl:part name="ResponseMsg" element="ns:DELETETRADEDRAFT_FSFS_RES"/>
</wsdl:message> 
<wsdl:message name="DeleteTradeDraftIOReq">
   <wsdl:part name="RequestMsg" element="ns:DELETETRADEDRAFT_IOPK_REQ"/>
</wsdl:message> 
<wsdl:message name="DeleteTradeDraftPKRes">
   <wsdl:part name="ResponseMsg" element="ns:DELETETRADEDRAFT_IOPK_RES"/>
</wsdl:message> 
<wsdl:message name="DeletesettlementFSReq">
   <wsdl:part name="RequestMsg" element="ns:DELETESETTLEMENT_FSFS_REQ"/>
</wsdl:message> 
<wsdl:message name="DeletesettlementFSRes">
   <wsdl:part name="ResponseMsg" element="ns:DELETESETTLEMENT_FSFS_RES"/>
</wsdl:message> 
<wsdl:message name="DeletesettlementIOReq">
   <wsdl:part name="RequestMsg" element="ns:DELETESETTLEMENT_IOPK_REQ"/>
</wsdl:message> 
<wsdl:message name="DeletesettlementPKRes">
   <wsdl:part name="ResponseMsg" element="ns:DELETESETTLEMENT_IOPK_RES"/>
</wsdl:message> 
<wsdl:message name="DeletetradesettleFSReq">
   <wsdl:part name="RequestMsg" element="ns:DELETETRADESETTLE_FSFS_REQ"/>
</wsdl:message> 
<wsdl:message name="DeletetradesettleFSRes">
   <wsdl:part name="ResponseMsg" element="ns:DELETETRADESETTLE_FSFS_RES"/>
</wsdl:message> 
<wsdl:message name="DeletetradesettleIOReq">
   <wsdl:part name="RequestMsg" element="ns:DELETETRADESETTLE_IOPK_REQ"/>
</wsdl:message> 
<wsdl:message name="DeletetradesettlePKRes">
   <wsdl:part name="ResponseMsg" element="ns:DELETETRADESETTLE_IOPK_RES"/>
</wsdl:message> 
<wsdl:message name="ModifyTLproductFSReq">
   <wsdl:part name="RequestMsg" element="ns:MODIFYTLPRODUCT_FSFS_REQ"/>
</wsdl:message> 
<wsdl:message name="ModifyTLproductFSRes">
   <wsdl:part name="ResponseMsg" element="ns:MODIFYTLPRODUCT_FSFS_RES"/>
</wsdl:message> 
<wsdl:message name="ModifyTLproductIOReq">
   <wsdl:part name="RequestMsg" element="ns:MODIFYTLPRODUCT_IOPK_REQ"/>
</wsdl:message> 
<wsdl:message name="ModifyTLproductPKRes">
   <wsdl:part name="ResponseMsg" element="ns:MODIFYTLPRODUCT_IOPK_RES"/>
</wsdl:message> 
<wsdl:message name="ModifyTradeDraftFSReq">
   <wsdl:part name="RequestMsg" element="ns:MODIFYTRADEDRAFT_FSFS_REQ"/>
</wsdl:message> 
<wsdl:message name="ModifyTradeDraftFSRes">
   <wsdl:part name="ResponseMsg" element="ns:MODIFYTRADEDRAFT_FSFS_RES"/>
</wsdl:message> 
<wsdl:message name="ModifyTradeDraftIOReq">
   <wsdl:part name="RequestMsg" element="ns:MODIFYTRADEDRAFT_IOPK_REQ"/>
</wsdl:message> 
<wsdl:message name="ModifyTradeDraftPKRes">
   <wsdl:part name="ResponseMsg" element="ns:MODIFYTRADEDRAFT_IOPK_RES"/>
</wsdl:message> 
<wsdl:message name="ModifysettlementFSReq">
   <wsdl:part name="RequestMsg" element="ns:MODIFYSETTLEMENT_FSFS_REQ"/>
</wsdl:message> 
<wsdl:message name="ModifysettlementFSRes">
   <wsdl:part name="ResponseMsg" element="ns:MODIFYSETTLEMENT_FSFS_RES"/>
</wsdl:message> 
<wsdl:message name="ModifysettlementIOReq">
   <wsdl:part name="RequestMsg" element="ns:MODIFYSETTLEMENT_IOPK_REQ"/>
</wsdl:message> 
<wsdl:message name="ModifysettlementPKRes">
   <wsdl:part name="ResponseMsg" element="ns:MODIFYSETTLEMENT_IOPK_RES"/>
</wsdl:message> 
<wsdl:message name="ModifytradesettleFSReq">
   <wsdl:part name="RequestMsg" element="ns:MODIFYTRADESETTLE_FSFS_REQ"/>
</wsdl:message> 
<wsdl:message name="ModifytradesettleFSRes">
   <wsdl:part name="ResponseMsg" element="ns:MODIFYTRADESETTLE_FSFS_RES"/>
</wsdl:message> 
<wsdl:message name="ModifytradesettleIOReq">
   <wsdl:part name="RequestMsg" element="ns:MODIFYTRADESETTLE_IOPK_REQ"/>
</wsdl:message> 
<wsdl:message name="ModifytradesettlePKRes">
   <wsdl:part name="ResponseMsg" element="ns:MODIFYTRADESETTLE_IOPK_RES"/>
</wsdl:message> 
<wsdl:message name="QueryCTSettlementFSRes">
   <wsdl:part name="ResponseMsg" element="ns:QUERYCTSETTLEMENT_IOFS_RES"/>
</wsdl:message> 
<wsdl:message name="QueryCTSettlementIOReq">
   <wsdl:part name="RequestMsg" element="ns:QUERYCTSETTLEMENT_IOFS_REQ"/>
</wsdl:message> 
<wsdl:message name="QueryTLproductFSRes">
   <wsdl:part name="ResponseMsg" element="ns:QUERYTLPRODUCT_IOFS_RES"/>
</wsdl:message> 
<wsdl:message name="QueryTLproductIOReq">
   <wsdl:part name="RequestMsg" element="ns:QUERYTLPRODUCT_IOFS_REQ"/>
</wsdl:message> 
<wsdl:message name="QueryTradeDraftFSRes">
   <wsdl:part name="ResponseMsg" element="ns:QUERYTRADEDRAFT_IOFS_RES"/>
</wsdl:message> 
<wsdl:message name="QueryTradeDraftIOReq">
   <wsdl:part name="RequestMsg" element="ns:QUERYTRADEDRAFT_IOFS_REQ"/>
</wsdl:message> 
<wsdl:message name="QuerysettlementFSRes">
   <wsdl:part name="ResponseMsg" element="ns:QUERYSETTLEMENT_IOFS_RES"/>
</wsdl:message> 
<wsdl:message name="QuerysettlementIOReq">
   <wsdl:part name="RequestMsg" element="ns:QUERYSETTLEMENT_IOFS_REQ"/>
</wsdl:message> 
<wsdl:message name="QuerytradesettleFSRes">
   <wsdl:part name="ResponseMsg" element="ns:QUERYTRADESETTLE_IOFS_RES"/>
</wsdl:message> 
<wsdl:message name="QuerytradesettleIOReq">
   <wsdl:part name="RequestMsg" element="ns:QUERYTRADESETTLE_IOFS_REQ"/>
</wsdl:message> 
<wsdl:message name="ReopenTLproductFSReq">
   <wsdl:part name="RequestMsg" element="ns:REOPENTLPRODUCT_FSFS_REQ"/>
</wsdl:message> 
<wsdl:message name="ReopenTLproductFSRes">
   <wsdl:part name="ResponseMsg" element="ns:REOPENTLPRODUCT_FSFS_RES"/>
</wsdl:message> 
<wsdl:message name="ReopenTLproductIOReq">
   <wsdl:part name="RequestMsg" element="ns:REOPENTLPRODUCT_IOPK_REQ"/>
</wsdl:message> 
<wsdl:message name="ReopenTLproductPKRes">
   <wsdl:part name="ResponseMsg" element="ns:REOPENTLPRODUCT_IOPK_RES"/>
</wsdl:message> 
<wsdl:message name="ReopensettlementFSReq">
   <wsdl:part name="RequestMsg" element="ns:REOPENSETTLEMENT_FSFS_REQ"/>
</wsdl:message> 
<wsdl:message name="ReopensettlementFSRes">
   <wsdl:part name="ResponseMsg" element="ns:REOPENSETTLEMENT_FSFS_RES"/>
</wsdl:message> 
<wsdl:message name="ReopensettlementIOReq">
   <wsdl:part name="RequestMsg" element="ns:REOPENSETTLEMENT_IOPK_REQ"/>
</wsdl:message> 
<wsdl:message name="ReopensettlementPKRes">
   <wsdl:part name="ResponseMsg" element="ns:REOPENSETTLEMENT_IOPK_RES"/>
</wsdl:message> 
<wsdl:portType name="OFCLTLServiceSEI" >
  <wsdl:operation name="AuthorizeCTSettlementIO">
     <wsdl:input message="tns:AuthorizeCTSettlementIOReq"/>
     <wsdl:output message="tns:AuthorizeCTSettlementPKRes"/>
  </wsdl:operation>
  <wsdl:operation name="AuthorizeCTSettlementFS">
     <wsdl:input message="tns:AuthorizeCTSettlementFSReq"/>
     <wsdl:output message="tns:AuthorizeCTSettlementFSRes"/>
  </wsdl:operation>
  <wsdl:operation name="AuthorizeTLproductIO">
     <wsdl:input message="tns:AuthorizeTLproductIOReq"/>
     <wsdl:output message="tns:AuthorizeTLproductPKRes"/>
  </wsdl:operation>
  <wsdl:operation name="AuthorizeTLproductFS">
     <wsdl:input message="tns:AuthorizeTLproductFSReq"/>
     <wsdl:output message="tns:AuthorizeTLproductFSRes"/>
  </wsdl:operation>
  <wsdl:operation name="AuthorizeTradeDraftIO">
     <wsdl:input message="tns:AuthorizeTradeDraftIOReq"/>
     <wsdl:output message="tns:AuthorizeTradeDraftPKRes"/>
  </wsdl:operation>
  <wsdl:operation name="AuthorizeTradeDraftFS">
     <wsdl:input message="tns:AuthorizeTradeDraftFSReq"/>
     <wsdl:output message="tns:AuthorizeTradeDraftFSRes"/>
  </wsdl:operation>
  <wsdl:operation name="AuthorizesettlementIO">
     <wsdl:input message="tns:AuthorizesettlementIOReq"/>
     <wsdl:output message="tns:AuthorizesettlementPKRes"/>
  </wsdl:operation>
  <wsdl:operation name="AuthorizesettlementFS">
     <wsdl:input message="tns:AuthorizesettlementFSReq"/>
     <wsdl:output message="tns:AuthorizesettlementFSRes"/>
  </wsdl:operation>
  <wsdl:operation name="AuthorizetradesettleIO">
     <wsdl:input message="tns:AuthorizetradesettleIOReq"/>
     <wsdl:output message="tns:AuthorizetradesettlePKRes"/>
  </wsdl:operation>
  <wsdl:operation name="AuthorizetradesettleFS">
     <wsdl:input message="tns:AuthorizetradesettleFSReq"/>
     <wsdl:output message="tns:AuthorizetradesettleFSRes"/>
  </wsdl:operation>
  <wsdl:operation name="CloseTLproductIO">
     <wsdl:input message="tns:CloseTLproductIOReq"/>
     <wsdl:output message="tns:CloseTLproductPKRes"/>
  </wsdl:operation>
  <wsdl:operation name="CloseTLproductFS">
     <wsdl:input message="tns:CloseTLproductFSReq"/>
     <wsdl:output message="tns:CloseTLproductFSRes"/>
  </wsdl:operation>
  <wsdl:operation name="ClosesettlementIO">
     <wsdl:input message="tns:ClosesettlementIOReq"/>
     <wsdl:output message="tns:ClosesettlementPKRes"/>
  </wsdl:operation>
  <wsdl:operation name="ClosesettlementFS">
     <wsdl:input message="tns:ClosesettlementFSReq"/>
     <wsdl:output message="tns:ClosesettlementFSRes"/>
  </wsdl:operation>
  <wsdl:operation name="ClosetradesettleIO">
     <wsdl:input message="tns:ClosetradesettleIOReq"/>
     <wsdl:output message="tns:ClosetradesettlePKRes"/>
  </wsdl:operation>
  <wsdl:operation name="ClosetradesettleFS">
     <wsdl:input message="tns:ClosetradesettleFSReq"/>
     <wsdl:output message="tns:ClosetradesettleFSRes"/>
  </wsdl:operation>
  <wsdl:operation name="CreateCTSettlementIO">
     <wsdl:input message="tns:CreateCTSettlementIOReq"/>
     <wsdl:output message="tns:CreateCTSettlementPKRes"/>
  </wsdl:operation>
  <wsdl:operation name="CreateCTSettlementFS">
     <wsdl:input message="tns:CreateCTSettlementFSReq"/>
     <wsdl:output message="tns:CreateCTSettlementFSRes"/>
  </wsdl:operation>
  <wsdl:operation name="CreateTLproductIO">
     <wsdl:input message="tns:CreateTLproductIOReq"/>
     <wsdl:output message="tns:CreateTLproductPKRes"/>
  </wsdl:operation>
  <wsdl:operation name="CreateTLproductFS">
     <wsdl:input message="tns:CreateTLproductFSReq"/>
     <wsdl:output message="tns:CreateTLproductFSRes"/>
  </wsdl:operation>
  <wsdl:operation name="CreateTradeDraftIO">
     <wsdl:input message="tns:CreateTradeDraftIOReq"/>
     <wsdl:output message="tns:CreateTradeDraftPKRes"/>
  </wsdl:operation>
  <wsdl:operation name="CreateTradeDraftFS">
     <wsdl:input message="tns:CreateTradeDraftFSReq"/>
     <wsdl:output message="tns:CreateTradeDraftFSRes"/>
  </wsdl:operation>
  <wsdl:operation name="CreatesettlementIO">
     <wsdl:input message="tns:CreatesettlementIOReq"/>
     <wsdl:output message="tns:CreatesettlementPKRes"/>
  </wsdl:operation>
  <wsdl:operation name="CreatesettlementFS">
     <wsdl:input message="tns:CreatesettlementFSReq"/>
     <wsdl:output message="tns:CreatesettlementFSRes"/>
  </wsdl:operation>
  <wsdl:operation name="CreatetradesettleIO">
     <wsdl:input message="tns:CreatetradesettleIOReq"/>
     <wsdl:output message="tns:CreatetradesettlePKRes"/>
  </wsdl:operation>
  <wsdl:operation name="CreatetradesettleFS">
     <wsdl:input message="tns:CreatetradesettleFSReq"/>
     <wsdl:output message="tns:CreatetradesettleFSRes"/>
  </wsdl:operation>
  <wsdl:operation name="DeleteCTSettlementIO">
     <wsdl:input message="tns:DeleteCTSettlementIOReq"/>
     <wsdl:output message="tns:DeleteCTSettlementPKRes"/>
  </wsdl:operation>
  <wsdl:operation name="DeleteCTSettlementFS">
     <wsdl:input message="tns:DeleteCTSettlementFSReq"/>
     <wsdl:output message="tns:DeleteCTSettlementFSRes"/>
  </wsdl:operation>
  <wsdl:operation name="DeleteTLproductIO">
     <wsdl:input message="tns:DeleteTLproductIOReq"/>
     <wsdl:output message="tns:DeleteTLproductPKRes"/>
  </wsdl:operation>
  <wsdl:operation name="DeleteTLproductFS">
     <wsdl:input message="tns:DeleteTLproductFSReq"/>
     <wsdl:output message="tns:DeleteTLproductFSRes"/>
  </wsdl:operation>
  <wsdl:operation name="DeleteTradeDraftIO">
     <wsdl:input message="tns:DeleteTradeDraftIOReq"/>
     <wsdl:output message="tns:DeleteTradeDraftPKRes"/>
  </wsdl:operation>
  <wsdl:operation name="DeleteTradeDraftFS">
     <wsdl:input message="tns:DeleteTradeDraftFSReq"/>
     <wsdl:output message="tns:DeleteTradeDraftFSRes"/>
  </wsdl:operation>
  <wsdl:operation name="DeletesettlementIO">
     <wsdl:input message="tns:DeletesettlementIOReq"/>
     <wsdl:output message="tns:DeletesettlementPKRes"/>
  </wsdl:operation>
  <wsdl:operation name="DeletesettlementFS">
     <wsdl:input message="tns:DeletesettlementFSReq"/>
     <wsdl:output message="tns:DeletesettlementFSRes"/>
  </wsdl:operation>
  <wsdl:operation name="DeletetradesettleIO">
     <wsdl:input message="tns:DeletetradesettleIOReq"/>
     <wsdl:output message="tns:DeletetradesettlePKRes"/>
  </wsdl:operation>
  <wsdl:operation name="DeletetradesettleFS">
     <wsdl:input message="tns:DeletetradesettleFSReq"/>
     <wsdl:output message="tns:DeletetradesettleFSRes"/>
  </wsdl:operation>
  <wsdl:operation name="ModifyTLproductIO">
     <wsdl:input message="tns:ModifyTLproductIOReq"/>
     <wsdl:output message="tns:ModifyTLproductPKRes"/>
  </wsdl:operation>
  <wsdl:operation name="ModifyTLproductFS">
     <wsdl:input message="tns:ModifyTLproductFSReq"/>
     <wsdl:output message="tns:ModifyTLproductFSRes"/>
  </wsdl:operation>
  <wsdl:operation name="ModifyTradeDraftIO">
     <wsdl:input message="tns:ModifyTradeDraftIOReq"/>
     <wsdl:output message="tns:ModifyTradeDraftPKRes"/>
  </wsdl:operation>
  <wsdl:operation name="ModifyTradeDraftFS">
     <wsdl:input message="tns:ModifyTradeDraftFSReq"/>
     <wsdl:output message="tns:ModifyTradeDraftFSRes"/>
  </wsdl:operation>
  <wsdl:operation name="ModifysettlementIO">
     <wsdl:input message="tns:ModifysettlementIOReq"/>
     <wsdl:output message="tns:ModifysettlementPKRes"/>
  </wsdl:operation>
  <wsdl:operation name="ModifysettlementFS">
     <wsdl:input message="tns:ModifysettlementFSReq"/>
     <wsdl:output message="tns:ModifysettlementFSRes"/>
  </wsdl:operation>
  <wsdl:operation name="ModifytradesettleIO">
     <wsdl:input message="tns:ModifytradesettleIOReq"/>
     <wsdl:output message="tns:ModifytradesettlePKRes"/>
  </wsdl:operation>
  <wsdl:operation name="ModifytradesettleFS">
     <wsdl:input message="tns:ModifytradesettleFSReq"/>
     <wsdl:output message="tns:ModifytradesettleFSRes"/>
  </wsdl:operation>
  <wsdl:operation name="QueryCTSettlementIO">
     <wsdl:input message="tns:QueryCTSettlementIOReq"/>
     <wsdl:output message="tns:QueryCTSettlementFSRes"/>
  </wsdl:operation>
  <wsdl:operation name="QueryTLproductIO">
     <wsdl:input message="tns:QueryTLproductIOReq"/>
     <wsdl:output message="tns:QueryTLproductFSRes"/>
  </wsdl:operation>
  <wsdl:operation name="QueryTradeDraftIO">
     <wsdl:input message="tns:QueryTradeDraftIOReq"/>
     <wsdl:output message="tns:QueryTradeDraftFSRes"/>
  </wsdl:operation>
  <wsdl:operation name="QuerysettlementIO">
     <wsdl:input message="tns:QuerysettlementIOReq"/>
     <wsdl:output message="tns:QuerysettlementFSRes"/>
  </wsdl:operation>
  <wsdl:operation name="QuerytradesettleIO">
     <wsdl:input message="tns:QuerytradesettleIOReq"/>
     <wsdl:output message="tns:QuerytradesettleFSRes"/>
  </wsdl:operation>
  <wsdl:operation name="ReopenTLproductIO">
     <wsdl:input message="tns:ReopenTLproductIOReq"/>
     <wsdl:output message="tns:ReopenTLproductPKRes"/>
  </wsdl:operation>
  <wsdl:operation name="ReopenTLproductFS">
     <wsdl:input message="tns:ReopenTLproductFSReq"/>
     <wsdl:output message="tns:ReopenTLproductFSRes"/>
  </wsdl:operation>
  <wsdl:operation name="ReopensettlementIO">
     <wsdl:input message="tns:ReopensettlementIOReq"/>
     <wsdl:output message="tns:ReopensettlementPKRes"/>
  </wsdl:operation>
  <wsdl:operation name="ReopensettlementFS">
     <wsdl:input message="tns:ReopensettlementFSReq"/>
     <wsdl:output message="tns:ReopensettlementFSRes"/>
  </wsdl:operation>
</wsdl:portType>
<wsdl:binding name="OFCLTLService" type="tns:OFCLTLServiceSEI">
<wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  <wsdl:operation name="AuthorizeCTSettlementFS">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="AuthorizeCTSettlementIO">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="AuthorizeTLproductFS">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="AuthorizeTLproductIO">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="AuthorizeTradeDraftFS">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="AuthorizeTradeDraftIO">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="AuthorizesettlementFS">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="AuthorizesettlementIO">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="AuthorizetradesettleFS">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="AuthorizetradesettleIO">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="CloseTLproductFS">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="CloseTLproductIO">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="ClosesettlementFS">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="ClosesettlementIO">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="ClosetradesettleFS">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="ClosetradesettleIO">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="CreateCTSettlementFS">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="CreateCTSettlementIO">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="CreateTLproductFS">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="CreateTLproductIO">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="CreateTradeDraftFS">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="CreateTradeDraftIO">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="CreatesettlementFS">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="CreatesettlementIO">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="CreatetradesettleFS">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="CreatetradesettleIO">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="DeleteCTSettlementFS">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="DeleteCTSettlementIO">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="DeleteTLproductFS">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="DeleteTLproductIO">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="DeleteTradeDraftFS">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="DeleteTradeDraftIO">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="DeletesettlementFS">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="DeletesettlementIO">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="DeletetradesettleFS">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="DeletetradesettleIO">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="ModifyTLproductFS">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="ModifyTLproductIO">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="ModifyTradeDraftFS">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="ModifyTradeDraftIO">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="ModifysettlementFS">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="ModifysettlementIO">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="ModifytradesettleFS">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="ModifytradesettleIO">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="QueryCTSettlementIO">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="QueryTLproductIO">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="QueryTradeDraftIO">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="QuerysettlementIO">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="QuerytradesettleIO">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="ReopenTLproductFS">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="ReopenTLproductIO">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="ReopensettlementFS">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="ReopensettlementIO">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
</wsdl:binding>
   <wsdl:service name="OFCLTLService">
       <wsdl:port name="OFCLTLServiceSEI" binding="tns:OFCLTLService">
           <wsdlsoap:address location="http://localhost:9080/OFCLTLService/services/OFCLTLService"/>
       </wsdl:port>
   </wsdl:service>
</wsdl:definitions>