WS/FCUBSOLService/XSD/OL-AuthorizeCustCatMaint-Req-Full-MSG.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns="http://fcubs.ofss.com/service/OBCLSTService" targetNamespace="http://fcubs.ofss.com/service/OBCLSTService" elementFormDefault="qualified">
   <xs:include schemaLocation="UBS-Messaging.xsd"/>
   <xs:include schemaLocation="OL-OLDCSCAG-Types.xsd"/>
   <xs:element name="AUTHORIZECUSTCATMAINT_FSFS_REQ">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="FCUBS_HEADER" type="FCUBS_HEADERType"/>
            <xs:element name="FCUBS_BODY">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="Scc-Full" type="OLDCSCAG-Full-Type"/>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>