WS/FCUBSOLService/XSD/OL-CreateMarkLiquidation-Req-IO-MSG.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns="http://fcubs.ofss.com/service/FCUBSOLService" targetNamespace="http://fcubs.ofss.com/service/FCUBSOLService" elementFormDefault="qualified">
   <xs:include schemaLocation="UBS-Messaging.xsd"/>
   <xs:include schemaLocation="OL-MarkLiquidation-Types.xsd"/>
   <xs:element name="CREATEMARKLIQUIDATION_IOPK_REQ">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="FCUBS_HEADER" type="FCUBS_HEADERType"/>
            <xs:element name="FCUBS_BODY">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="Addltext-IO" type="MarkLiquidation-Create-IO-Type"/>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>