WS/FCUBSOLService/XSD/OL-FlrCeilRateMnt-Types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
   <xs:annotation>
      <xs:documentation xml:lang="en">All Types of OLDFLRCL
      </xs:documentation>
   </xs:annotation>
   <xs:include schemaLocation="SubSys-Fields.xsd"/>
   

   <xs:complexType name="FlrCeilRateMnt-PK-Type">
      <xs:sequence>
         <xs:element name="CONTREFNO" minOccurs="1">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="16"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="FlrCeilRateMnt-Full-Type">
      <xs:sequence>
         <xs:element name="CONTREFNO" minOccurs="1">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="16"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="CONCCY" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="USERREFNUM" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="16"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="PRODCODE" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="4"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="PRODDESC" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="16"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="CUST" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="16"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="CUSTNAME" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="16"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="FACILITY_NAME" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="16"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="MAKER" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="320"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="MAKERSTAMP" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="35"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="CHECKER" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="320"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="CHECKERSTAMP" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="35"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="MODNO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="4"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="TXNSTAT" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="1"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="AUTHSTAT" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="1"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="Currency-Details" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="CCY" minOccurs="1">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="3"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="CCYNAME" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="16"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="Effective-Date" minOccurs="0" maxOccurs="unbounded">
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element name="EFFDATE" minOccurs="1"  type="xs:date">
                           </xs:element>
                           <xs:element name="Rate-Details" minOccurs="0" maxOccurs="unbounded">
                              <xs:complexType>
                                 <xs:sequence>
                                    <xs:element name="LOANPRD" minOccurs="1">
                                       <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                             <xs:maxLength value="4"/>
                                          </xs:restriction>
                                       </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="INT_COMPONENT" minOccurs="1">
                                       <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                             <xs:maxLength value="10"/>
                                          </xs:restriction>
                                       </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="BASERATEFLR" minOccurs="0">
                                       <xs:simpleType>
                                          <xs:restriction base="xs:decimal">
                                             <xs:totalDigits value="15"/>
                                             <xs:fractionDigits value="10"/>
                                          </xs:restriction>
                                       </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="BASERATECEIL" minOccurs="0">
                                       <xs:simpleType>
                                          <xs:restriction base="xs:decimal">
                                             <xs:totalDigits value="15"/>
                                             <xs:fractionDigits value="10"/>
                                          </xs:restriction>
                                       </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="AIRTFLR" minOccurs="0">
                                       <xs:simpleType>
                                          <xs:restriction base="xs:decimal">
                                             <xs:totalDigits value="15"/>
                                             <xs:fractionDigits value="10"/>
                                          </xs:restriction>
                                       </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="AIRTCEIL" minOccurs="0">
                                       <xs:simpleType>
                                          <xs:restriction base="xs:decimal">
                                             <xs:totalDigits value="15"/>
                                             <xs:fractionDigits value="10"/>
                                          </xs:restriction>
                                       </xs:simpleType>
                                    </xs:element>
                                 </xs:sequence>
                              </xs:complexType>
                           </xs:element>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="UDFDETAILS" type="UDFDETAILSType2" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>