WS/FCUBSOLService/XSD/OL-RtFixDaysMaint-Types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
   <xs:annotation>
      <xs:documentation xml:lang="en">All Types of OLDCCYRF
      </xs:documentation>
   </xs:annotation>
   

   <xs:complexType name="RtFixDaysMaint-PK-Type">
      <xs:sequence>
         <xs:element name="CCY" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="RtFixDaysMaint-Full-Type">
      <xs:sequence>
         <xs:element name="RATEFIXINGDAYS" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="2"/>
                  <xs:fractionDigits value="0"/>
                  <xs:minInclusive value="0"/>
                  <xs:maxInclusive value="99"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="CCY" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="MAKER" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="320"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="MAKERSTAMP" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="35"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="CHECKER" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="320"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="CHECKERSTAMP" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="35"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="MODNO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="4"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="TXNSTAT" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="1"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="AUTHSTAT" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="1"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="RtFixDaysMaint-Query-IO-Type">
      <xs:sequence>
         <xs:element name="CCY" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="RtFixDaysMaint-Create-IO-Type">
      <xs:sequence>
         <xs:element name="RATEFIXINGDAYS" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="2"/>
                  <xs:fractionDigits value="0"/>
                  <xs:minInclusive value="0"/>
                  <xs:maxInclusive value="99"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="CCY" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="RtFixDaysMaint-Modify-IO-Type">
      <xs:sequence>
         <xs:element name="RATEFIXINGDAYS" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="2"/>
                  <xs:fractionDigits value="0"/>
                  <xs:minInclusive value="0"/>
                  <xs:maxInclusive value="99"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="CCY" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="MAKER" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="320"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="MAKERSTAMP" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="35"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="RtFixDaysMaint-Authorize-IO-Type">
      <xs:sequence>
         <xs:element name="CCY" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="CHECKER" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="320"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="CHECKERSTAMP" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="35"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="MODNO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="4"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="RtFixDaysMaint-Delete-IO-Type">
      <xs:sequence>
         <xs:element name="CCY" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="RtFixDaysMaint-Close-IO-Type">
      <xs:sequence>
         <xs:element name="CCY" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="MAKER" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="320"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="MAKERSTAMP" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="35"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="MODNO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="4"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="RtFixDaysMaint-Reopen-IO-Type">
      <xs:sequence>
         <xs:element name="CCY" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="MAKER" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="320"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="MAKERSTAMP" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="35"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="MODNO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="4"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
</xs:schema>