WS/FCUBSOLService/XSD/SubSys-OLCPDFDM-Types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
   <xs:annotation>
      <xs:documentation xml:lang="en">All Types of OLCPDFDM
      </xs:documentation>
   </xs:annotation>
   

   <xs:complexType name="OLCPDFDM-Full-Type">
      <xs:sequence>
         <xs:element name="Field-Details" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="FLDNUM" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                           <xs:totalDigits value="22"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="FLDNAME" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="105"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="FLD_DESC" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="255"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="OLCPDFDM-Query-IO-Type">
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="OLCPDFDM-Create-IO-Type">
      <xs:sequence>
         <xs:element name="Field-Details" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="FLDNAME" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="105"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="FLD_DESC" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="255"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="OLCPDFDM-Modify-IO-Type">
      <xs:sequence>
         <xs:element name="Field-Details" minOccurs="1" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="FLDNUM" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                           <xs:totalDigits value="22"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="FLDNAME" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="105"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="OLCPDFDM-Authorize-IO-Type">
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="OLCPDFDM-Delete-IO-Type">
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="OLCPDFDM-Close-IO-Type">
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="OLCPDFDM-Reopen-IO-Type">
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="OLCPDFDM-Reverse-IO-Type">
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="OLCPDFDM-Rollover-IO-Type">
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="OLCPDFDM-Confirm-IO-Type">
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="OLCPDFDM-Liquidate-IO-Type">
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="OLCPDFDM-Summaryquery-IO-Type">
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema>