WS/FCUBSOLService/XSD/SUBSYS-BRK.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="BrkMasterType">
		<xs:sequence>
			<xs:element name="FCCREF">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="[a-zA-Z0-9]{16}" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="ESN">
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:totalDigits value="4" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="BROKER">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9" />
						<xs:minLength value="1" />
						<xs:pattern value="[a-zA-Z0-9]*" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="BRKAMT">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:fractionDigits value="3" />
						<xs:totalDigits value="22" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="BRKCCY">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="3" />
						<xs:pattern value="[A-Z]{3}" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="RULE">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="DSCACR">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="BRKNAM">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="105" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="RULEDESC">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="105" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="Brokerage-Details" type="BrkDetailType" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BrkDetailType">
		<xs:sequence>
			<xs:element minOccurs="0" name="BOOKCCY">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="3" />
						<xs:pattern value="[A-Z]{3}" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="BKMTHD">
				<xs:simpleType>
					<xs:restriction base="xs:integer" />
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="BOOKAMT">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:fractionDigits value="3" />
						<xs:totalDigits value="22" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="LIQSTAT">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="LREFNO">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="16" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>