WS/FCUBSOLService/XSD/SUBSYS-STTLMENT.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="SettlementMainType">
		<xs:sequence>
			<xs:element minOccurs="0" name="ACC_INST1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="105" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="ACC_INST2">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="105" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="ACC_INST3">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="105" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="ACC_INST4">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="105" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="ACC_INST5">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="105" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="ACC_INST6">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="105" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="AGRID">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AMTTAG">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="25" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="BNKPRIO">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="BNFINSTCVR1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="105" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="BNFINSTCVR2">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="105" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="BNFINSTCVR3">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="105" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="BNFINSTCVR4">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="105" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="BNFINSTCVR5">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="105" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="BNFINSTCVR6">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="105" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="BENEF_INST1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="105" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="BENEF_INST2">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="105" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="BENEF_INST3">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="105" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="BENEF_INST4">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="105" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="BENEF_INST5">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="105" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="BENEF_INST6">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="105" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="CHGDET">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="105" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="CLGNTW">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="105" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="CVRBY">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="105" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="COVER_REQ">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Y" />
						<xs:enumeration value="N" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="XPTACC">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="105" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="XPTBIC">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="105" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="XPTCLGNTW">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="105" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="XPTNAME">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="105" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="IBANACCNO">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="INST_NO">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="16" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="INST_TYPE">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="15" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="INT_REIM_INST1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="105" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="INT_REIM_INST2">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="105" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="INT_REIM_INST3">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="105" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="INT_REIM_INST4">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="105" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="INT_REIM_INST5">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="105" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="INT_REIM_INST6">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="105" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="INTMEDRY1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="105" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="INTMEDRY2">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="105" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="INTMEDRY3">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="105" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="INTMEDRY4">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="105" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="INTMEDRY5">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="105" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="INTMEDRY6">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="105" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="ORDER_CUST1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="105" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="ORDER_CUST2">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="105" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="ORDER_CUST3">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="105" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="ORDER_CUST4">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="105" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="ORDER_CUST5">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="105" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="ORDER_CUST6">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="105" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="ORDER_INST1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="105" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="ORDER_INST2">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="105" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="ORDER_INST3">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="105" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="ORDER_INST4">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="105" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="ORDER_INST5">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="105" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="ORDER_INST6">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="105" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="OUR_CORRESP">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="11" />
						<xs:pattern value="[a-zA-Z0-9]*" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="PMNT_BY">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="M" />
						<xs:enumeration value="I" />
						<xs:enumeration value="C" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="PMNT_DETAILS1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="105" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="PMNT_DETAILS2">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="105" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="PMNT_DETAILS3">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="105" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="PMNT_DETAILS4">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="105" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="POSTACCNG">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="RCVR_CORRESP1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="105" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="RCVR_CORRESP2">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="105" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="RCVR_CORRESP3">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="105" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="RCVR_CORRESP4">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="105" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="RCVR_CORRESP5">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="105" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="RCVR_CORRESP6">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="105" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="RECEIVER">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="11" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="RTGSNW">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="RTGSPMNT">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="SNDR_INFO1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="105" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="SNDR_INFO2">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="105" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="SNDR_INFO3">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="105" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="SNDR_INFO4">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="105" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="SNDR_INFO5">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="105" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="SNDR_INFO6">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="105" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="TRNFRTYP">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="ULT_BENEF1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="105" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="ULT_BENEF2">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="105" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="ULT_BENEF3">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="105" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="ULT_BENEF4">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="105" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="ULT_BENEF5">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="105" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="ULT_BENEF6">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="105" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="AMTTAGDESC">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="DISEXTBKCD">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="PAYBNK">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="PAYBRN">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="WAVEINSTCHARG">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Y" />
						<xs:enumeration value="N" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="BNKOPRCD">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="ENV_CONT1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2000" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="ENV_CONT2">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2000" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="ENV_CONT3">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2000" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="ENV_CONT4">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2000" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="ENV_CONT5">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SettlementAddlDetailsType">
		<xs:sequence>
			<xs:element minOccurs="0" name="ACCBRN">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="3" />
						<xs:pattern value="[a-zA-Z_0-9]{3}" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="ACC_CCY">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="3" />
						<xs:pattern value="[a-zA-Z_0-9]{3}" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="ACC">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20" />
						<xs:pattern value="[a-zA-Z0-9]*" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AMTTAG">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="25" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="CUSTSPRD">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:fractionDigits value="12" />
						<xs:totalDigits value="24" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="ERIAMT">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:fractionDigits value="3" />
						<xs:totalDigits value="22" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="ERICCY">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="3" />
						<xs:pattern value="[A-Z]{3}" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="XRATE">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:fractionDigits value="12" />
						<xs:totalDigits value="24" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="GENMSG">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="1" />
						<xs:pattern value="[a-zA-Z_0-9]{1}" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="NETACRSMOD">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="1" />
						<xs:pattern value="[a-zA-Z_0-9]{1}" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="PAYRCV">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="1" />
						<xs:pattern value="[a-zA-Z_0-9]{1}" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="RATECDDEFRD">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="1" />
						<xs:pattern value="[a-zA-Z_0-9]{1}" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="SPRDDFN">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="1" />
						<xs:pattern value="[a-zA-Z_0-9]{1}" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="TAG_CCY">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="3" />
						<xs:pattern value="[a-zA-Z_0-9]{3}" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="DRCRIND">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="1" />
						<xs:pattern value="[a-zA-Z_0-9]{1}" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="Settlement-Addl-Main" type="SettlementMainType" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SettlementDetailsType">
		<xs:sequence>
			<xs:element minOccurs="0" name="AMTTAG">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="25" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="TRNTPCD">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="5" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="BNKOPRCD">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="REGREP1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="REGREP2">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="REGREP3">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="ENV_CONT1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2000" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="ENV_CONT2">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2000" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="ENV_CONT3">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2000" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="ENV_CONT4">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2000" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="ENV_CONT5">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="TIMEIND1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="TIMEIND2">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="TIMEIND3">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="INSTRCDLT">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="INSTRCDLT1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="INSTRCDLT2">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="INSTRCDLT3">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="INSTRCDLT4">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="INSTRCDLT5">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="INSTRCDTXT">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="INSTRCDTXT1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="INSTRCDTXT2">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="INSTRCDTXT3">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="INSTRCDTXT4">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="INSTRCDTXT5">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SettlementClearingDetails">
		<xs:sequence>
			<xs:element minOccurs="0" name="FCCREF">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="16" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="ESN">
				<xs:simpleType>
					<xs:restriction base="xs:integer" />
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="AMTTAG">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="25" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BRNCD">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="MSGTYPE">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CLGNW">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="15" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CRBNCD">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SNDR_CUSNM1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SNDR_CUSNM2">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SNDR_CUSNM3">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SNDR_CUSNM4">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="RCVR_CUSNM1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="RCVR_CUSNM2">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="RCVR_CUSNM3">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="RCVR_CUSNM4">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SNDR_RCVR_PRCNT">
				<xs:simpleType>
					<xs:restriction base="xs:integer" />
				</xs:simpleType>
			</xs:element>
			<xs:element name="SNDR_ACC">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="34" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="RCVR_ACC">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="34" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ULT_BKCD">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ADDINFO1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ADDINFO2">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ADDINFO3">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ADDINFO4">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="NIPPYR">
				<xs:simpleType>
					<xs:restriction base="xs:integer" />
				</xs:simpleType>
			</xs:element>
			<xs:element name="SUPPID">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PYRIDFR">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="14" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PYMTTYPE">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DLCLR">
				<xs:simpleType>
					<xs:restriction base="xs:integer" />
				</xs:simpleType>
			</xs:element>
			<xs:element name="NOFDCLR">
				<xs:simpleType>
					<xs:restriction base="xs:integer" />
				</xs:simpleType>
			</xs:element>
			<xs:element name="NOFCHK">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="REPRRES1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="REPRRES2">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="REPRRES3">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="REPRRES4">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CDFDOC">
				<xs:simpleType>
					<xs:restriction base="xs:integer" />
				</xs:simpleType>
			</xs:element>
			<xs:element name="ADDIDFR">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SNDR_INFO1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SNDR_INFO2">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SNDR_INFO3">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SNDR_INFO4">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SNDR_INFO5">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SNDR_INFO6">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="GENRT">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="FRETXT1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="FRETXT2">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="FRETXT3">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PMTCD">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ADDINFOSBR">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="16" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>