WS/FCUBSCcyService/XSD/CY-DeleteCYDefinition-Req-IO-MSG.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns="http://fcubs.ofss.com/service/FCUBSCcyService" targetNamespace="http://fcubs.ofss.com/service/FCUBSCcyService" elementFormDefault="qualified">
   <xs:include schemaLocation="UBS-Messaging.xsd"/>
   <xs:include schemaLocation="CY-CYDefinition-Types.xsd"/>
   <xs:element name="DELETECYDEFINITION_IOPK_REQ">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="FCUBS_HEADER" type="FCUBS_HEADERType"/>
            <xs:element name="FCUBS_BODY">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="Ccy-Defn-IO" type="CYDefinition-Delete-IO-Type"/>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>