WS/FCUBSCcyService/XSD/IS-ISDBICUP-Types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
   <xs:annotation>
      <xs:documentation xml:lang="en">All Types of ISDBICUP
      </xs:documentation>
   </xs:annotation>
   

   <xs:complexType name="ISDBICUP-PK-Type">
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="ISDBICUP-Full-Type">
      <xs:sequence>
         <xs:element name="FILE_NAME" minOccurs="1">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="50"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="FILE_PATH" minOccurs="1">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="100"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="INTRADAY_SEQ_NO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="16"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="SOURCE_CODE" minOccurs="1">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:enumeration value=""/>
                  <xs:enumeration value="BIC"/>
                  <xs:enumeration value="CCH"/>
                  <xs:enumeration value="BICIBAN"/>
                  <xs:enumeration value="IBANIS"/>
                  <xs:enumeration value="BICDRPL"/>
                  <xs:enumeration value="IBANPL"/>
                  <xs:enumeration value="ISPL"/>
                  <xs:enumeration value="EXCLIST"/>
                  <xs:enumeration value="SEPABIC"/>
                  <xs:enumeration value="BICPS18"/>
                  <xs:enumeration value="BICCTRY"/>
                  <xs:enumeration value="BICCCY"/>
                  <xs:enumeration value="BICHOL"/>
                  <xs:enumeration value="BICHOLS"/>
                  <xs:enumeration value="BICTZON"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="ISDBICUP-Create-IO-Type">
      <xs:sequence>
         <xs:element name="FILE_NAME" minOccurs="1">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="50"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="FILE_PATH" minOccurs="1">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="100"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="SOURCE_CODE" minOccurs="1">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:enumeration value=""/>
                  <xs:enumeration value="BIC"/>
                  <xs:enumeration value="CCH"/>
                  <xs:enumeration value="BICIBAN"/>
                  <xs:enumeration value="IBANIS"/>
                  <xs:enumeration value="BICDRPL"/>
                  <xs:enumeration value="IBANPL"/>
                  <xs:enumeration value="ISPL"/>
                  <xs:enumeration value="EXCLIST"/>
                  <xs:enumeration value="SEPABIC"/>
                  <xs:enumeration value="BICPS18"/>
                  <xs:enumeration value="BICCTRY"/>
                  <xs:enumeration value="BICCCY"/>
                  <xs:enumeration value="BICHOL"/>
                  <xs:enumeration value="BICHOLS"/>
                  <xs:enumeration value="BICTZON"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
</xs:schema>