WS/FCUBSCcyService/XSD/OR-QueryFCDBLead-Res-Full-MSG.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns="http://fcubs.ofss.com/service/FCUBSORService" targetNamespace="http://fcubs.ofss.com/service/FCUBSORService" elementFormDefault="qualified">
   <xs:include schemaLocation="UBS-Messaging.xsd"/>
   <xs:include schemaLocation="OR-LeadOrigination-Types.xsd"/>
   <xs:element name="QUERYFCDBLEAD_IOFS_RES">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="FCUBS_HEADER" type="FCUBS_HEADERType"/>
            <xs:element name="FCUBS_BODY">
               <xs:complexType>
                  <xs:sequence>
                     <xs:choice>
                        <xs:element name="Application-Details-IO" type="LeadOrigination-Query-IO-Type"/>
                        <xs:element name="Application-Details-Full" type="LeadOrigination-Full-Type"/>
                     </xs:choice>
                     <xs:element name="FCUBS_ERROR_RESP" type="ERRORType" minOccurs="0" maxOccurs="unbounded"/>
                     <xs:element name="FCUBS_WARNING_RESP" type="WARNINGType" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>