WS/FCUBSCcyService/XSD/Retail-Teller-Common.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:simpleType name="XRefType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="20" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ProdType">
		<xs:restriction base="xs:string">
			<xs:length value="4" />
			<xs:pattern value="[a-zA-Z0-9]{4}" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FccRefType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-zA-Z0-9]{16}" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AmtType">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="3" />
			<xs:totalDigits value="22" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CcyType">
		<xs:restriction base="xs:string">
			<xs:length value="3" />
			<xs:pattern value="[A-Z]{3}" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BrnType">
		<xs:restriction base="xs:string">
			<xs:length value="3" />
			<xs:pattern value="[a-zA-Z_0-9]{3}" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="XRateType">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="12" />
			<xs:totalDigits value="24" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AccType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="20" />
			<xs:pattern value="[a-zA-Z0-9]*" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CCType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="1000" />
			<xs:pattern value="[a-zA-Z0-9]*" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AuthStatType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="A" />
			<xs:enumeration value="U" />
			<xs:maxLength value="1" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CustNoType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="9" />
			<xs:pattern value="[a-zA-Z0-9]*" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NarrativeType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="255" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IntegerType">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="0" />
			<xs:totalDigits value="10" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="YNType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Y" />
			<xs:enumeration value="N" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ContStatType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="1" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UserIdType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="12" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RoutType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="27" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EndType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="9" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TxnType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NumType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="16" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MisType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="9" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RcodeType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="30" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RdescType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="30" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ReasonType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="100" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="YesNoType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Y" />
			<xs:enumeration value="N" />
			<xs:maxLength value="1" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="String35Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="35" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="String105Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="105" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ChargeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="B" />
			<xs:enumeration value="O" />
			<xs:enumeration value="S" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="String3Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="String20Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="20" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="String2000Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="2000" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OperCodeType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="4" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TranType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="5" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ReceiverType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="11" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BatchNoType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="4" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SCodeType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="16" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CalchgType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="4" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DrCrType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="D" />
			<xs:enumeration value="C" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CountryType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3" />
			<xs:pattern value="[A-Z]*" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ModuleType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="2" />
			<xs:pattern value="[A-Z]*" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EvntCdType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="4" />
			<xs:pattern value="[A-Z]*" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="String255Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="255" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="InstrNoType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="16" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="InstrStateType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="4" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BankCodeType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="9" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="String65Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="65" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="String50Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="50" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="String1Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="1" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CodeTranTypeType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="5" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DecimalType">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="3" />
			<xs:totalDigits value="22" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MISHeadType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="9" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TxnCodeType">
		<xs:restriction base="xs:string">
			<xs:length value="3" />
			<xs:pattern value="[a-zA-Z0-9]{3}" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RemBrnType">
		<xs:restriction base="xs:string">
			<xs:length value="35" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RemBnkType">
		<xs:restriction base="xs:string">
			<xs:length value="35" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ToTillType">
		<xs:restriction base="xs:string">
			<xs:length value="32" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TokenType">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="0" />
			<xs:totalDigits value="22" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Commmodetype">
	   <xs:restriction base="xs:string">
		  <xs:enumeration value="M"/>
		  <xs:enumeration value="E"/>
	   </xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Mobnotype">
	   <xs:restriction base="xs:string">
		  <xs:maxLength value="105"/>
	   </xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Emailidtype">
	   <xs:restriction base="xs:string">
		  <xs:maxLength value="105"/>
	   </xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Countrytype">
	   <xs:restriction base="xs:string">
		  <xs:maxLength value="3"/>
	   </xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Custnametype">
	   <xs:restriction base="xs:string">
		  <xs:maxLength value="20"/>
	   </xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MONTHStype">
	   <xs:restriction base="xs:string">
		  <xs:maxLength value="20"/>
	   </xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DAYStype">
	   <xs:restriction base="xs:string">
		  <xs:maxLength value="20"/>
	   </xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="YEARStype">
	   <xs:restriction base="xs:string">
		  <xs:maxLength value="20"/>
	   </xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DOCNUMBERtype">
	   <xs:restriction base="xs:string">
		  <xs:maxLength value="20"/>
	   </xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DOCTYPEtype">
	   <xs:restriction base="xs:string">
		  <xs:maxLength value="20"/>
	   </xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DOCCATEGORYtype">
	   <xs:restriction base="xs:string">
		  <xs:maxLength value="20"/>
	   </xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FUNDREFNOtype">
	   <xs:restriction base="xs:string">
		  <xs:maxLength value="20"/>
	   </xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SDBREFNOtype">
	   <xs:restriction base="xs:string">
		  <xs:maxLength value="20"/>
	   </xs:restriction>
	</xs:simpleType>
</xs:schema>