WS/FCUBSCcyService/XSD/ST-STDCRACC-Types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
   <xs:annotation>
      <xs:documentation xml:lang="en">All Types of STDCRACC
      </xs:documentation>
   </xs:annotation>
   

   <xs:complexType name="STDCRACC-PK-Type">
      <xs:sequence>
         <xs:element name="CUST_ACC" minOccurs="1">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="34"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="STDCRACC-Full-Type">
      <xs:sequence>
         <xs:element name="CUSTOMER_NUMBER" minOccurs="1">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="20"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="ACC_CURR" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="CUST_AC_IBAN" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="35"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="CUSTNAM" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="255"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="CUST_AC_NAME" minOccurs="1">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="140"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="NO_CR" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:enumeration value="Y"/>
                  <xs:enumeration value="N"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="NO_DR" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:enumeration value="Y"/>
                  <xs:enumeration value="N"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="BLOCK" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:enumeration value="Y"/>
                  <xs:enumeration value="N"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="FROZEN" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:enumeration value="Y"/>
                  <xs:enumeration value="N"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="DORMANT" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:enumeration value="Y"/>
                  <xs:enumeration value="N"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="ACCOUNT_CLASS" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:enumeration value="6"/>
                  <xs:enumeration value="1"/>
                  <xs:enumeration value="7"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="CUST_ACC" minOccurs="1">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="34"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="HOST_CODE" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="8"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="SOURCE_SYSTEM" minOccurs="1">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="35"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="SOUR_CUST_ACC" minOccurs="1">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="35"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="CUST_ACC_BRN" minOccurs="1">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="6"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="ECA_CHECK_REQD" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:enumeration value="Y"/>
                  <xs:enumeration value="N"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="ADDRESS_LINE1" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="105"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="ADDRESS2" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="105"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="ADDRESS3" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="105"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="ADDRESS4" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="105"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="COUNTRY" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="10"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="ENTITLEMENT_GROUP_BRANCH" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="ENTITLEMENT_GROUP_PAYMENT" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="MAKER" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="320"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="MAKERSTAMP" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="35"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="CHECKER" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="320"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="CHECKERSTAMP" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="35"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="MODNO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="4"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="TXNSTAT" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="1"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="AUTHSTAT" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="1"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="STDCRACC-Query-IO-Type">
      <xs:sequence>
         <xs:element name="CUST_ACC" minOccurs="1">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="34"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="STDCRACC-Create-IO-Type">
      <xs:sequence>
         <xs:element name="CUSTOMER_NUMBER" minOccurs="1">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="20"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="ACC_CURR" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="CUST_AC_IBAN" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="35"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="CUST_AC_NAME" minOccurs="1">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="140"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="NO_CR" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:enumeration value="Y"/>
                  <xs:enumeration value="N"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="NO_DR" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:enumeration value="Y"/>
                  <xs:enumeration value="N"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="BLOCK" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:enumeration value="Y"/>
                  <xs:enumeration value="N"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="FROZEN" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:enumeration value="Y"/>
                  <xs:enumeration value="N"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="DORMANT" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:enumeration value="Y"/>
                  <xs:enumeration value="N"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="ACCOUNT_CLASS" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:enumeration value="6"/>
                  <xs:enumeration value="1"/>
                  <xs:enumeration value="7"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="CUST_ACC" minOccurs="1">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="34"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="SOURCE_SYSTEM" minOccurs="1">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="35"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="SOUR_CUST_ACC" minOccurs="1">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="35"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="CUST_ACC_BRN" minOccurs="1">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="6"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="ECA_CHECK_REQD" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:enumeration value="Y"/>
                  <xs:enumeration value="N"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="ADDRESS_LINE1" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="105"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="ADDRESS2" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="105"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="ADDRESS3" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="105"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="ADDRESS4" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="105"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="COUNTRY" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="10"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="ENTITLEMENT_GROUP_BRANCH" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="ENTITLEMENT_GROUP_PAYMENT" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="STDCRACC-Modify-IO-Type">
      <xs:sequence>
         <xs:element name="CUSTOMER_NUMBER" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="20"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="CUST_AC_IBAN" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="35"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="CUST_AC_NAME" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="140"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="AC_OPEN_DATE" minOccurs="0"  type="xs:date">
         </xs:element>
         <xs:element name="NO_CR" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:enumeration value="Y"/>
                  <xs:enumeration value="N"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="NO_DR" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:enumeration value="Y"/>
                  <xs:enumeration value="N"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="BLOCK" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:enumeration value="Y"/>
                  <xs:enumeration value="N"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="FROZEN" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:enumeration value="Y"/>
                  <xs:enumeration value="N"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="DORMANT" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:enumeration value="Y"/>
                  <xs:enumeration value="N"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="CUST_ACC" minOccurs="1">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="34"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="ECA_CHECK_REQD" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:enumeration value="Y"/>
                  <xs:enumeration value="N"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="ADDRESS_LINE1" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="105"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="ADDRESS2" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="105"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="ADDRESS3" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="105"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="ADDRESS4" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="105"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="COUNTRY" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="10"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="ENTITLEMENT_GROUP_BRANCH" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="ENTITLEMENT_GROUP_PAYMENT" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="MAKER" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="320"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="MAKERSTAMP" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="35"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="STDCRACC-Authorize-IO-Type">
      <xs:sequence>
         <xs:element name="CUST_ACC" minOccurs="1">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="34"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="CHECKER" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="320"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="CHECKERSTAMP" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="35"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="MODNO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="4"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="STDCRACC-Delete-IO-Type">
      <xs:sequence>
         <xs:element name="CUST_ACC" minOccurs="1">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="34"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="STDCRACC-Close-IO-Type">
      <xs:sequence>
         <xs:element name="CUST_ACC" minOccurs="1">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="34"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="MAKER" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="320"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="MAKERSTAMP" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="35"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="MODNO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="4"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="STDCRACC-Reopen-IO-Type">
      <xs:sequence>
         <xs:element name="CUST_ACC" minOccurs="1">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="34"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="MAKER" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="320"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="MAKERSTAMP" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="35"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="MODNO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="4"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="STDCRACC-SummaryQuery-IO-Type">
      <xs:sequence>
         <xs:element name="FETCH_PAGE" minOccurs="0" type="xs:nonNegativeInteger"/>
         <xs:element name="FETCH_SIZE" minOccurs="0" type="xs:nonNegativeInteger"/>
         <xs:element name="AUTHSTAT" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="1" />
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="TXNSTAT" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="1" />
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="CUST_ACCOUNT_NO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="20" />
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="CUST_AC_NAME" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="140" />
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="CUSTOMER_NO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="20" />
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="SOURCE_SYSTEM_ACC_NO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="35" />
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="CUST_AC_CCY" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3" />
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="CUST_AC_IBAN" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="35" />
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="ENTITLEMENT_GROUP_PAYMENT" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30" />
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="ENTITLEMENT_GROUP_BRANCH" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30" />
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="Query-Order-By" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="ORDER_BY_FIELD">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="CUST_ACCOUNT_NO" />
                           <xs:enumeration value="CUST_AC_NAME" />
                           <xs:enumeration value="CUSTOMER_NO" />
                           <xs:enumeration value="SOURCE_SYSTEM_ACC_NO" />
                           <xs:enumeration value="CUST_AC_CCY" />
                           <xs:enumeration value="CUST_AC_IBAN" />
                           <xs:enumeration value="ENTITLEMENT_GROUP_PAYMENT" />
                           <xs:enumeration value="ENTITLEMENT_GROUP_BRANCH" />
                           <xs:enumeration value=""/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element minOccurs="0" name="ORDER_BY_TYPE">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="ASC" />
                           <xs:enumeration value="DESC" />
                           <xs:enumeration value=""/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="STDCRACC-SummaryQuery-Full-Type">
      <xs:sequence>
         <xs:element name="FETCH_PAGE" minOccurs="0" type="xs:nonNegativeInteger"/>
         <xs:element name="FETCH_SIZE" minOccurs="0" type="xs:nonNegativeInteger"/>
         <xs:element name="AUTHSTAT" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="1" />
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="TXNSTAT" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="1" />
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="CUST_ACCOUNT_NO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="20" />
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="CUST_AC_NAME" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="140" />
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="CUSTOMER_NO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="20" />
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="SOURCE_SYSTEM_ACC_NO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="35" />
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="CUST_AC_CCY" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3" />
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="CUST_AC_IBAN" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="35" />
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="ENTITLEMENT_GROUP_PAYMENT" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30" />
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="ENTITLEMENT_GROUP_BRANCH" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30" />
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="Query-Order-By" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="ORDER_BY_FIELD">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="CUST_ACCOUNT_NO" />
                           <xs:enumeration value="CUST_AC_NAME" />
                           <xs:enumeration value="CUSTOMER_NO" />
                           <xs:enumeration value="SOURCE_SYSTEM_ACC_NO" />
                           <xs:enumeration value="CUST_AC_CCY" />
                           <xs:enumeration value="CUST_AC_IBAN" />
                           <xs:enumeration value="ENTITLEMENT_GROUP_PAYMENT" />
                           <xs:enumeration value="ENTITLEMENT_GROUP_BRANCH" />
                           <xs:enumeration value="CUST_ACCOUNT_NO" />
                           <xs:enumeration value="CUST_AC_NAME" />
                           <xs:enumeration value="CUSTOMER_NO" />
                           <xs:enumeration value="SOURCE_SYSTEM_ACC_NO" />
                           <xs:enumeration value="CUST_AC_CCY" />
                           <xs:enumeration value="CUST_AC_IBAN" />
                           <xs:enumeration value="ENTITLEMENT_GROUP_PAYMENT" />
                           <xs:enumeration value="ENTITLEMENT_GROUP_BRANCH" />
                           <xs:enumeration value=""/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element minOccurs="0" name="ORDER_BY_TYPE">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="ASC" />
                           <xs:enumeration value="DESC" />
                           <xs:enumeration value=""/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="Query-Result" minOccurs="0" >
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="TOTAL_RECORDS" minOccurs="0" type="xs:nonNegativeInteger"/>
                  <xs:element name="TOTAL_PAGES" minOccurs="0" type="xs:nonNegativeInteger"/>
                  <xs:element name="CURRENT_PAGE" minOccurs="0" type="xs:nonNegativeInteger"/>
                  <xs:element name="Record-Details" minOccurs="0" maxOccurs="unbounded">
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element name="RECORD_NO" minOccurs="0"  type="xs:nonNegativeInteger"/>
                           <xs:element minOccurs="0" name="AUTHSTAT">
                              <xs:simpleType>
                                 <xs:restriction base="xs:string">
                                    <xs:maxLength value="1" />
                                 </xs:restriction>
                              </xs:simpleType>
                           </xs:element>
                           <xs:element minOccurs="0" name="TXNSTAT">
                              <xs:simpleType>
                                 <xs:restriction base="xs:string">
                                    <xs:maxLength value="1" />
                                 </xs:restriction>
                              </xs:simpleType>
                           </xs:element>
                           <xs:element minOccurs="0" name="CUST_ACCOUNT_NO">
                              <xs:simpleType>
                                 <xs:restriction base="xs:string">
                                    <xs:maxLength value="20" />
                                 </xs:restriction>
                              </xs:simpleType>
                           </xs:element>
                           <xs:element minOccurs="0" name="CUST_AC_NAME">
                              <xs:simpleType>
                                 <xs:restriction base="xs:string">
                                    <xs:maxLength value="140" />
                                 </xs:restriction>
                              </xs:simpleType>
                           </xs:element>
                           <xs:element minOccurs="0" name="CUSTOMER_NO">
                              <xs:simpleType>
                                 <xs:restriction base="xs:string">
                                    <xs:maxLength value="20" />
                                 </xs:restriction>
                              </xs:simpleType>
                           </xs:element>
                           <xs:element minOccurs="0" name="SOURCE_SYSTEM_ACC_BRN">
                              <xs:simpleType>
                                 <xs:restriction base="xs:string">
                                    <xs:maxLength value="6" />
                                 </xs:restriction>
                              </xs:simpleType>
                           </xs:element>
                           <xs:element minOccurs="0" name="SOURCE_SYSTEM">
                              <xs:simpleType>
                                 <xs:restriction base="xs:string">
                                    <xs:maxLength value="35" />
                                 </xs:restriction>
                              </xs:simpleType>
                           </xs:element>
                           <xs:element minOccurs="0" name="SOURCE_SYSTEM_ACC_NO">
                              <xs:simpleType>
                                 <xs:restriction base="xs:string">
                                    <xs:maxLength value="35" />
                                 </xs:restriction>
                              </xs:simpleType>
                           </xs:element>
                           <xs:element minOccurs="0" name="CUST_AC_CCY">
                              <xs:simpleType>
                                 <xs:restriction base="xs:string">
                                    <xs:maxLength value="3" />
                                 </xs:restriction>
                              </xs:simpleType>
                           </xs:element>
                           <xs:element minOccurs="0" name="CUST_AC_IBAN">
                              <xs:simpleType>
                                 <xs:restriction base="xs:string">
                                    <xs:maxLength value="35" />
                                 </xs:restriction>
                              </xs:simpleType>
                           </xs:element>
                           <xs:element minOccurs="0" name="ENTITLEMENT_GROUP_PAYMENT">
                              <xs:simpleType>
                                 <xs:restriction base="xs:string">
                                    <xs:maxLength value="30" />
                                 </xs:restriction>
                              </xs:simpleType>
                           </xs:element>
                           <xs:element minOccurs="0" name="ENTITLEMENT_GROUP_BRANCH">
                              <xs:simpleType>
                                 <xs:restriction base="xs:string">
                                    <xs:maxLength value="30" />
                                 </xs:restriction>
                              </xs:simpleType>
                           </xs:element>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
</xs:schema>