WS/FCUBSCcyService/XSD/SUBSYS-INTS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="IntMainType">
		<xs:sequence>
			<xs:element minOccurs="0" name="INTCOMP">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="VALDT" type="xs:date" />
			<xs:element minOccurs="0" name="TXNDT" type="xs:date" />
			<xs:element minOccurs="0" name="INTAMT">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:fractionDigits value="3" />
						<xs:totalDigits value="22" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="CHDAMDMNT">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="INTCCY">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="3" />
						<xs:pattern value="[A-Z]{3}" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="EVNT">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="ESN">
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:totalDigits value="20" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="PKUPEVSQ">
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:totalDigits value="3" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="INTBASIS">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="0" />
						<xs:enumeration value="1" />
						<xs:enumeration value="2" />
						<xs:enumeration value="3" />
						<xs:enumeration value="4" />
						<xs:enumeration value="5" />
						<xs:enumeration value="6" />
						<xs:enumeration value="7" />
						<xs:enumeration value="8" />
						<xs:enumeration value="9" />
						<xs:enumeration value="-1" />
						<xs:enumeration value="-2" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="INTRATE">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:fractionDigits value="8" />
						<xs:totalDigits value="13" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="INTRATECODE">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="16" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="INTSPREAD">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:fractionDigits value="8" />
						<xs:totalDigits value="13" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="AQRDAMT">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:fractionDigits value="3" />
						<xs:totalDigits value="22" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="WAIVER">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Y" />
						<xs:enumeration value="N" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="ACREQD">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="16" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="RTTYPE">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="X" />
						<xs:enumeration value="F" />
						<xs:enumeration value="S" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="MAXRRATE">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:fractionDigits value="8" />
						<xs:totalDigits value="13" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="MINRATE">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:fractionDigits value="8" />
						<xs:totalDigits value="13" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="RETENOR">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="5" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="BORLENIND">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="B" />
						<xs:enumeration value="L" />
						<xs:enumeration value="M" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="RTCALCTYP">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="U" />
						<xs:enumeration value="D" />
						<xs:enumeration value="I" />
						<xs:enumeration value="R" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="CUSTMARG">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:fractionDigits value="8" />
						<xs:totalDigits value="13" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="UNT">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="D" />
						<xs:enumeration value="M" />
						<xs:enumeration value="Y" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="NOUNIT">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="5" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="RTCDUSE">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="A" />
						<xs:enumeration value="P" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="CONASDISC">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Y" />
						<xs:enumeration value="N" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="DENOBASIS">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="A" />
						<xs:enumeration value="I" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="BASIS366">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Y" />
						<xs:enumeration value="D" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="NOINTPRD">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="3" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="MINSPREAD">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:fractionDigits value="8" />
						<xs:totalDigits value="13" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="MAXSPREAD">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:fractionDigits value="8" />
						<xs:totalDigits value="13" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="MARGIN">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:fractionDigits value="5" />
						<xs:totalDigits value="10" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="INTDESC">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="INTCMPDESC">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="105" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="EFFCTIVERATE">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:fractionDigits value="8" />
						<xs:totalDigits value="13" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="NEGINTERESTALLOW">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="Interest-Details" type="IntDetailType" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IntDetailType">
		<xs:sequence>
			<xs:element minOccurs="0" name="VALDT" type="xs:date" />
			<xs:element minOccurs="0" name="TXNDT" type="xs:date" />
			<xs:element minOccurs="0" name="INTAMT">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:fractionDigits value="3" />
						<xs:totalDigits value="22" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="INTCCY">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="3" />
						<xs:pattern value="[A-Z]{3}" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ESN">
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:totalDigits value="20" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="INTBASIS">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1" />
						<xs:enumeration value="2" />
						<xs:enumeration value="3" />
						<xs:enumeration value="4" />
						<xs:enumeration value="5" />
						<xs:enumeration value="6" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="INTRATE">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:fractionDigits value="8" />
						<xs:totalDigits value="13" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="INTRATECODE">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="16" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="INTSPREAD">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:fractionDigits value="8" />
						<xs:totalDigits value="13" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="AQRDAMT">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:fractionDigits value="3" />
						<xs:totalDigits value="22" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="RTTYPE">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="X" />
						<xs:enumeration value="F" />
						<xs:enumeration value="S" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>