WS/FCUBSCcyService/XSD/SubSys-ADVICES.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="ADVDETAILSType">
		<xs:sequence>
			<xs:element name="MSGTYPE">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="15" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="PARTYID">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="MEDIUM">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="15" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="SUPPRESS">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="PRIORITY">
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:totalDigits value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="CHGREQ">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>