WS/FCUBSSMService/XSD/FCUBS_REQ_ENV.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="UBS-Messaging.xsd" />
	<xs:element name="FCUBS_REQ_ENV">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="FCUBS_HEADER" type="FCUBS_HEADERType" />
				<xs:element name="FCUBS_BODY" type="FCUBS_BODYType" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="FCUBS_BODYType">
		<xs:sequence>
			<xs:any maxOccurs="unbounded" processContents="lax" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>