WS/FCUBSSMService/XSD/SubSys-MIS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:simpleType name="RefrtcdType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="10" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RefrtsprdType">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="5" />
			<xs:minInclusive value="0" />
			<xs:totalDigits value="15" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RefrtType">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="15" />
			<xs:minInclusive value="0" />
			<xs:totalDigits value="26" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MISCodeTypes">
		<xs:restriction base="xs:string">
			<xs:maxLength value="9" />
			<xs:minLength value="1" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RateFlagType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="1" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ProcflgType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="1" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UnitType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="1" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CalcMethType">
		<xs:restriction base="xs:integer" />
	</xs:simpleType>
	<xs:simpleType name="RateRefType">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="5" />
			<xs:totalDigits value="11" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RateRefTypeType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="1" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MISGrpType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="12" />
			<xs:minLength value="1" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CUSTNOType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="9" />
			<xs:minLength value="1" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="REL_REFType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="16" />
			<xs:minLength value="1" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="REL_ACCType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="16" />
			<xs:minLength value="1" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CCYType1">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="MIMAINTACCType">
		<xs:sequence>
			<xs:element minOccurs="0" name="MISGRP" type="MISGrpType" />
			<xs:element minOccurs="0" name="RTFLAG" type="RateFlagType" />
			<xs:element minOccurs="0" name="LINKGRP" type="MISGrpType" />
			<xs:element minOccurs="0" name="POOLCD" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="REFRTCD" type="RefrtcdType" />
			<xs:element minOccurs="0" name="REFRTSPRD" type="RefrtsprdType" />
			<xs:element minOccurs="0" name="REFRTTYPE" type="RateRefTypeType" />
			<xs:element minOccurs="0" name="CALCMETH" type="CalcMethType" />
			<xs:element minOccurs="0" name="TXNMIS1" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="TXNMIS2" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="TXNMIS3" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="TXNMIS4" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="TXNMIS5" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="TXNMIS6" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="TXNMIS7" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="TXNMIS8" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="TXNMIS9" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="TXNMIS10" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="COMPMIS1" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="COMPMIS2" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="COMPMIS3" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="COMPMIS4" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="COMPMIS5" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="COMPMIS6" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="COMPMIS7" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="COMPMIS8" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="COMPMIS9" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="COMPMIS10" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="COSTCOD1" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="COSTCOD2" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="COSTCOD3" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="COSTCOD4" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="COSTCOD5" type="MISCodeTypes" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MISDETAILSType">
		<xs:sequence>
			<xs:element minOccurs="0" name="BRANCH" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="CUSTNO" type="CUSTNOType" />
			<xs:element minOccurs="0" name="MISGRP" type="MISGrpType" />
			<xs:element minOccurs="0" name="REL_REF" type="REL_REFType" />
			<xs:element minOccurs="0" name="REL_ACC" type="REL_ACCType" />
			<xs:element minOccurs="0" name="MISHD" type="xs:string" />
			<xs:element minOccurs="0" name="POOLCD" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="REFRT" type="RefrtType" />
			<xs:element minOccurs="0" name="REFRTTYPE" type="RateRefTypeType" />
			<xs:element minOccurs="0" name="REFXRT" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="CALCMETH" type="CalcMethType" />
			<xs:element minOccurs="0" name="MISGRPTXN" type="xs:string" />
			<xs:element minOccurs="0" name="REFRTCD" type="RefrtcdType" />
			<xs:element minOccurs="0" name="REFRTSPRD" type="RefrtsprdType" />
			<xs:element minOccurs="0" name="FUNDMIS1" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="FUNDMIS2" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="FUNDMIS3" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="FUNDMIS4" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="FUNDMIS5" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="FUNDMIS6" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="FUNDMIS7" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="FUNDMIS8" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="FUNDMIS9" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="FUNDMIS10" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="MISGRPCOMP" type="xs:string" />
			<xs:element minOccurs="0" name="COMPMIS1" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="COMPMIS2" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="COMPMIS3" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="COMPMIS4" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="COMPMIS5" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="COMPMIS6" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="COMPMIS7" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="COMPMIS8" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="COMPMIS9" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="COMPMIS10" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="COSTCOD1" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="COSTCOD2" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="COSTCOD3" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="COSTCOD4" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="COSTCOD5" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="LINKGRP" type="MISGrpType" />
			<xs:element minOccurs="0" name="CCY" type="CCYType1" />
			<xs:element minOccurs="0" name="RTFLAG" type="RateFlagType" />
			<xs:element minOccurs="0" name="PROCFLG" type="ProcflgType" />
			<xs:element minOccurs="0" name="TXNMIS1" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="TXNMIS2" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="TXNMIS3" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="TXNMIS4" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="TXNMIS5" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="TXNMIS6" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="TXNMIS7" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="TXNMIS8" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="TXNMIS9" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="TXNMIS10" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="FUNDMIS1LBL1" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="FUNDMIS2LBL2" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="FUNDMIS3LBL3" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="FUNDMIS4LBL4" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="FUNDMIS5LBL5" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="FUNDMIS6LBL6" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="FUNDMIS7LBL7" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="FUNDMIS8LBL8" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="FUNDMIS9LBL9" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="FUNDMIS10LBL10" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="COMPMIS1LBL1" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="COMPMIS2LBL2" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="COMPMIS3LBL3" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="COMPMIS4LBL4" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="COMPMIS5LBL5" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="COMPMIS6LBL6" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="COMPMIS7LBL7" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="COMPMIS8LBL8" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="COMPMIS9LBL9" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="COMPMIS10LBL10" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="TXNMIS1LBL1" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="TXNMIS2LBL2" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="TXNMIS3LBL3" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="TXNMIS4LBL4" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="TXNMIS5LBL5" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="TXNMIS6LBL6" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="TXNMIS7LBL7" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="TXNMIS8LBL8" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="TXNMIS9LBL9" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="TXNMIS10LBL10" type="MISCodeTypes" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CUSTMISType">
		<xs:sequence>
			<xs:element minOccurs="0" name="MISGRP" type="MISGrpType" />
			<xs:element minOccurs="0" name="LINKGRP" type="MISGrpType" />
			<xs:element minOccurs="0" name="CUSTMIS1" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="CUSTMIS2" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="CUSTMIS3" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="CUSTMIS4" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="CUSTMIS5" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="CUSTMIS6" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="CUSTMIS7" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="CUSTMIS8" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="CUSTMIS9" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="CUSTMIS10" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="COMPMIS1" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="COMPMIS2" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="COMPMIS3" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="COMPMIS4" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="COMPMIS5" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="COMPMIS6" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="COMPMIS7" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="COMPMIS8" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="COMPMIS9" type="MISCodeTypes" />
			<xs:element minOccurs="0" name="COMPMIS10" type="MISCodeTypes" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MISDETAILSRESType">
		<xs:sequence>
			<xs:element minOccurs="0" name="RTFLAG">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="POOLCD">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="PROCFLG">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="REFRT">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:fractionDigits value="5" />
						<xs:totalDigits value="11" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="REFRTTYPE">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="CALCMETH">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="CCY">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="REFRTCD">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="REFRTSPRD">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:fractionDigits value="5" />
						<xs:totalDigits value="10" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="RELACC">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="RELREF">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="16" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="MISGRPTXN">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="MISHD">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="MISGRPCOMP">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="TXNMIS1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="TXNMIS2">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="TXNMIS3">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="TXNMIS4">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="TXNMIS5">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="TXNMIS6">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="TXNMIS7">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="TXNMIS8">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="TXNMIS9">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="TXNMIS10">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="UNTYPE">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="COMPMIS1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="COMPMIS2">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="COMPMIS3">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="COMPMIS4">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="COMPMIS5">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="COMPMIS6">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="COMPMIS7">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="COMPMIS8">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="COMPMIS9">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="COMPMIS10">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="COSTCOD1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="COSTCOD2">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="COSTCOD3">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="COSTCOD4">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="COSTCOD5">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="CUST">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="FUNDMIS1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="FUNDMIS2">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="FUNDMIS3">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="FUNDMIS4">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="FUNDMIS5">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="FUNDMIS6">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="FUNDMIS7">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="FUNDMIS8">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="FUNDMIS9">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="FUNDMIS10">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MISDETAILSREQType">
		<xs:sequence>
			<xs:element minOccurs="0" name="RTFLAG">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1" />
						<xs:pattern value="[A-Z0-9]*" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="POOLCD">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="PROCFLG">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="REFRTTYPE">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="CALCMETH">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="CCY">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="REFRTSPRD">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:fractionDigits value="5" />
						<xs:totalDigits value="10" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="RELACC">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="RELREF">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="16" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="MISGRP">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="12" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="MISGRPTXN">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="MISGRPCOMP">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="TXNMIS1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="TXNMIS2">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="TXNMIS3">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="TXNMIS4">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="TXNMIS5">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="TXNMIS6">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="TXNMIS7">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="TXNMIS8">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="TXNMIS9">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="TXNMIS10">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="UNTYPE">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="COMPMIS1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="COMPMIS2">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="COMPMIS3">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="COMPMIS4">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="COMPMIS5">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="COMPMIS6">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="COMPMIS7">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="COMPMIS8">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="COMPMIS9">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="COMPMIS10">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="COSTCOD1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="COSTCOD2">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="COSTCOD3">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="COSTCOD4">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="COSTCOD5">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="CUST">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="FUNDMIS1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="FUNDMIS2">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="FUNDMIS3">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="FUNDMIS4">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="FUNDMIS5">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="FUNDMIS6">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="FUNDMIS7">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="FUNDMIS8">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="FUNDMIS9">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="FUNDMIS10">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MISRefineRateDetails">
		<xs:sequence>
			<xs:element minOccurs="0" name="UNITREF">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BKDATE">
				<xs:simpleType>
					<xs:restriction base="xs:date" />
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="EFFDT">
				<xs:simpleType>
					<xs:restriction base="xs:date" />
				</xs:simpleType>
			</xs:element>
			<xs:element name="REFRT">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:fractionDigits value="5" />
						<xs:totalDigits value="11" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MISAMENDDetails">
		<xs:sequence>
			<xs:element minOccurs="0" name="CONTREF">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="16" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="RTYPE">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="RCODE">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="16" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SPD">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:fractionDigits value="8" />
						<xs:totalDigits value="13" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MISCHANGELOGDetails">
		<xs:sequence>
			<xs:element minOccurs="0" name="BRN">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="REFNO">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="MIS">
				<xs:simpleType>
					<xs:restriction base="xs:date" />
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="TXNDT">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="OLDMIS">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="NEWMIS">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MISBALTRANLOGDetails">
		<xs:sequence>
			<xs:element minOccurs="0" name="BRN">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="REFNO">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="MIS">
				<xs:simpleType>
					<xs:restriction base="xs:date" />
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="TXNDT">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="OLDMIS">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="NEWMIS">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PERIOD">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="FINYR">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="GLCODE">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CCY">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AMT">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:fractionDigits value="3" />
						<xs:totalDigits value="22" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="EXRATE">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:fractionDigits value="12" />
						<xs:totalDigits value="24" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>