WS/FCUBSSMService/XSD/SubSys-LinkedEntities.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="LINKEDENTITYType">
		<xs:sequence>
			<xs:element name="DESCP">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="105" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CUSTOMER">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9" />
						<xs:pattern value="[a-zA-Z0-9]*" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="RELATIONSHIP">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10" />
						<xs:pattern value="[a-zA-Z0-9]*" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="INHERIT">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>