WS/FCUBSSMService/XSD/SUBSYS-SCHEDULE.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="ScheduleType">
		<xs:sequence>
			<xs:element minOccurs="0" name="SCOMP">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="SCHD_TYPE">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="P" />
						<xs:enumeration value="R" />
						<xs:enumeration value="C" />
						<xs:enumeration value="D" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="FREQ">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="D" />
						<xs:enumeration value="W" />
						<xs:enumeration value="M" />
						<xs:enumeration value="Q" />
						<xs:enumeration value="H" />
						<xs:enumeration value="Y" />
						<xs:enumeration value="B" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="FREQ_UNIT">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="14" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="LCYEQINDLN">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:fractionDigits value="3" />
						<xs:totalDigits value="22" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="STDT" type="xs:date" />
			<xs:element minOccurs="0" name="NO_OF_SCHD">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="14" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="AMT">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:fractionDigits value="3" />
						<xs:totalDigits value="22" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>