WS/OBCLLSService/XSD/FC-DeleteFacilityOnline-Req-IO-MSG.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns="http://fcubs.ofss.com/service/OBCLLSService" targetNamespace="http://fcubs.ofss.com/service/OBCLLSService" elementFormDefault="qualified">
   <xs:include schemaLocation="UBS-Messaging.xsd"/>
   <xs:include schemaLocation="FC-FacilityOnline-Types.xsd"/>
   <xs:element name="DELETEFACILITYONLINE_IOPK_REQ">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="FCUBS_HEADER" type="FCUBS_HEADERType"/>
            <xs:element name="FCUBS_BODY">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="Oltbs-Contract-IO" type="FacilityOnline-Delete-IO-Type"/>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>