WS/OBCLLSService/XSD/FC-FacilityOnline-Types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
   <xs:annotation>
      <xs:documentation xml:lang="en">All Types of FCDTRONL
      </xs:documentation>
   </xs:annotation>
   <xs:include schemaLocation="SubSys-LBCCONBW-Types.xsd"/>
   <xs:include schemaLocation="SubSys-LBCPARAT-Types.xsd"/>
   <xs:include schemaLocation="SubSys-LFCFEECF-Types.xsd"/>
   <xs:include schemaLocation="SubSys-OLCONDET-Types.xsd"/>
   <xs:include schemaLocation="SubSys-OLCTRMIS-Types.xsd"/>
   <xs:include schemaLocation="SubSys-OLCTRUDF-Types.xsd"/>
   <xs:include schemaLocation="SubSys-LBCONPTY-Types.xsd"/>
   <xs:include schemaLocation="SubSys-LBCPRTAX-Types.xsd"/>
   <xs:include schemaLocation="SubSys-LBCAGDET-Types.xsd"/>
   <xs:include schemaLocation="SubSys-TXCTRTAX-Types.xsd"/>
   <xs:include schemaLocation="SubSys-LFCFRMNT-Types.xsd"/>
   

   <xs:complexType name="FacilityOnline-PK-Type">
      <xs:sequence>
         <xs:element name="CONTRREFNO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="16"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="FacilityOnline-Full-Type">
      <xs:sequence>
         <xs:element name="CONTRREFNO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="16"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="BRANCH" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="6"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="CUSTOMREFNO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="16"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="PRODUCT" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="4"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="USERREFNO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="16"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="DES" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="25"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="VERNO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="4"/>
                  <xs:fractionDigits value="0"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="LASTVERNO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="22"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="PROCESS_REF_NUM" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="255"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="CHANNEL_REF_NUM" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="255"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="SOURCECODE" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="15"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="ALT_REFNO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="16"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="ECA_STAT" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:enumeration value=""/>
                  <xs:enumeration value="R"/>
                  <xs:enumeration value="A"/>
                  <xs:enumeration value="U"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="Tctb-Syndication-Master" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="COUNTERPARTY" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="20"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="CURRENCY" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="3"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="AMOUNT" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                           <xs:totalDigits value="22"/>
                           <xs:fractionDigits value="3"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="FACILITY_START_DATE" minOccurs="0"  type="xs:date">
                  </xs:element>
                  <xs:element name="FACILITY_END_DATE" minOccurs="0"  type="xs:date">
                  </xs:element>
                  <xs:element name="AGENCY_ID2" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="20"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="CUSIPNO" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="16"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="USRDEFSTAT" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="4"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="AGENT_CIF" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="20"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="STRTDATE" minOccurs="0"  type="xs:date">
                  </xs:element>
                  <xs:element name="MINIMUMAMOUNT" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                           <xs:totalDigits value="22"/>
                           <xs:fractionDigits value="3"/>
                           <xs:minInclusive value="0"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="ENDT" minOccurs="0"  type="xs:date">
                  </xs:element>
                  <xs:element name="MAXIMUM_AMOUNT" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                           <xs:totalDigits value="22"/>
                           <xs:fractionDigits value="3"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="NAMED_AGENT" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="20"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="PURPOSE_OF_SYNDICATION" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="180"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="PURSYN2" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="35"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="INTRMKS" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="255"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="PURSYN1" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="35"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="NAMED_AGENT_NAME" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="255"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="AGENCYTYPE" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="L"/>
                           <xs:enumeration value="P"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="WATFAC" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="Y"/>
                           <xs:enumeration value="N"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="WATCHLISTREM" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="200"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="CCY" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="3"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="AMNT" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                           <xs:totalDigits value="24"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="Control" type="LFCFEECF-Full-Type" minOccurs="0" />
                  <xs:element name="Settlements" type="OLCONDET-Full-Type" minOccurs="0" />
                  <xs:element name="Header-Agdet" type="LBCAGDET-Full-Type" minOccurs="0" />
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="Lstbs-Syndication-Preference" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="SCHMOVEACROSSMONTH" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="Y"/>
                           <xs:enumeration value="N"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="IGNHOL" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="Y"/>
                           <xs:enumeration value="N"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="SCHMOV" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="N"/>
                           <xs:enumeration value="P"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="BRNHOLSCH" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="Y"/>
                           <xs:enumeration value="N"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="FACHOLCCY" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="Y"/>
                           <xs:enumeration value="N"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="SCHHOLCCY" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="3"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="LOCHOLCCY" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="Y"/>
                           <xs:enumeration value="N"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="CASSCH" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="Y"/>
                           <xs:enumeration value="N"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="MATSCHMOV" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="N"/>
                           <xs:enumeration value="P"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="FACHOLCCYMAT" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="Y"/>
                           <xs:enumeration value="N"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="HOLCCYMAT" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="3"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="LOCHOLCCYMAT" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="Y"/>
                           <xs:enumeration value="N"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="MOVACMN" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="Y"/>
                           <xs:enumeration value="N"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="MATIGNHOL" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="Y"/>
                           <xs:enumeration value="N"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="MATCONBRNHOL" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="Y"/>
                           <xs:enumeration value="N"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="PRIMARY_ADMIN" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="10"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="SECONDARY_ADMIN" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="10"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="NAME" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="255"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="SECADMINNAME" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="255"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="APPLY_FC_HOL_TREATMENT" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="S"/>
                           <xs:enumeration value="N"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="APPLY_MAT_FC_HOL_TREATMENT" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="M"/>
                           <xs:enumeration value="N"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="PARTIAL_LIQD_ALLOWED" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="Y"/>
                           <xs:enumeration value="N"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="Oltbs-Contract-Event-Log" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="DE_MAKER_DT" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="35"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="MAKERID" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="320"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="CHECKERID" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="320"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="AUTHSTAT" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="A"/>
                           <xs:enumeration value="U"/>
                           <xs:enumeration value=""/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="CHECKERDT" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="35"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="TXNSTAT" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="A"/>
                           <xs:enumeration value="L"/>
                           <xs:enumeration value="V"/>
                           <xs:enumeration value="Y"/>
                           <xs:enumeration value="H"/>
                           <xs:enumeration value=""/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="Tctbs-Facility-Ccy" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="CCY" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="3"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="CCYDESC" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="255"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="Tctbs-Assignment-Fee-Details" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="CCY" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="3"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="CURRENCY_DESC" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="255"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="AMNT" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                           <xs:totalDigits value="22"/>
                           <xs:fractionDigits value="3"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="Synd-Con-Fincentre-Sch" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="FIN_CENTRE" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="12"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="FIN_CENTRE_DESC" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="140"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="Synd-Con-Fincentre-Mat" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="FIN_CENTRE" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="12"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="FIN_CENTRE_DESC" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="140"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="Cont-Sch" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="COMP" minOccurs="1">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="10"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="STDT" minOccurs="1"  type="xs:date">
                  </xs:element>
                  <xs:element name="END_DATE" minOccurs="0"  type="xs:date">
                  </xs:element>
                  <xs:element name="NO" minOccurs="1">
                     <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                           <xs:totalDigits value="4"/>
                           <xs:fractionDigits value="0"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="FREQUENCY" minOccurs="1">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="D"/>
                           <xs:enumeration value="Q"/>
                           <xs:enumeration value="M"/>
                           <xs:enumeration value="H"/>
                           <xs:enumeration value="Y"/>
                           <xs:enumeration value="B"/>
                           <xs:enumeration value=""/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="FREQUNIT" minOccurs="1">
                     <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                           <xs:totalDigits value="4"/>
                           <xs:fractionDigits value="0"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="AMT" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                           <xs:totalDigits value="22"/>
                           <xs:fractionDigits value="3"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="SCH_MONTH_END_IND" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="N"/>
                           <xs:enumeration value="Y"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="Sch-Det" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="PAYBYDATE" minOccurs="0"  type="xs:date">
                  </xs:element>
                  <xs:element name="TOTAMTDUE" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                           <xs:totalDigits value="22"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="TOT_AMT_SET" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                           <xs:totalDigits value="22"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="TOT_AMT_ADJ" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                           <xs:totalDigits value="22"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="Sch-Amt-Due" minOccurs="0" maxOccurs="unbounded">
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element name="COMP" minOccurs="0">
                              <xs:simpleType>
                                 <xs:restriction base="xs:string">
                                    <xs:maxLength value="15"/>
                                 </xs:restriction>
                              </xs:simpleType>
                           </xs:element>
                           <xs:element name="AMT_DUE" minOccurs="0">
                              <xs:simpleType>
                                 <xs:restriction base="xs:decimal">
                                    <xs:totalDigits value="22"/>
                                    <xs:fractionDigits value="3"/>
                                 </xs:restriction>
                              </xs:simpleType>
                           </xs:element>
                           <xs:element name="AMTSETTLED" minOccurs="0">
                              <xs:simpleType>
                                 <xs:restriction base="xs:decimal">
                                    <xs:totalDigits value="22"/>
                                    <xs:fractionDigits value="3"/>
                                 </xs:restriction>
                              </xs:simpleType>
                           </xs:element>
                           <xs:element name="ADJ_AMOUNT" minOccurs="0">
                              <xs:simpleType>
                                 <xs:restriction base="xs:decimal">
                                    <xs:totalDigits value="22"/>
                                    <xs:fractionDigits value="3"/>
                                 </xs:restriction>
                              </xs:simpleType>
                           </xs:element>
                           <xs:element name="EXPECTED_BALANCE" minOccurs="0">
                              <xs:simpleType>
                                 <xs:restriction base="xs:string">
                                    <xs:maxLength value="255"/>
                                 </xs:restriction>
                              </xs:simpleType>
                           </xs:element>
                           <xs:element name="Sch-Amt-Setlled" minOccurs="0" maxOccurs="unbounded">
                              <xs:complexType>
                                 <xs:sequence>
                                    <xs:element name="IPDAT" minOccurs="0">
                                       <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                             <xs:maxLength value="35"/>
                                          </xs:restriction>
                                       </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="VALDT" minOccurs="0"  type="xs:date">
                                    </xs:element>
                                    <xs:element name="AMTSETTLED" minOccurs="0">
                                       <xs:simpleType>
                                          <xs:restriction base="xs:decimal">
                                             <xs:totalDigits value="22"/>
                                             <xs:fractionDigits value="3"/>
                                          </xs:restriction>
                                       </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="LCYEQUIV_SETTLED" minOccurs="0">
                                       <xs:simpleType>
                                          <xs:restriction base="xs:decimal">
                                             <xs:totalDigits value="22"/>
                                             <xs:fractionDigits value="3"/>
                                          </xs:restriction>
                                       </xs:simpleType>
                                    </xs:element>
                                 </xs:sequence>
                              </xs:complexType>
                           </xs:element>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="Paid-Sch" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="COMP" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="10"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="SRTDTE" minOccurs="0"  type="xs:date">
                  </xs:element>
                  <xs:element name="ENDDT" minOccurs="0"  type="xs:date">
                  </xs:element>
                  <xs:element name="N_1" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                           <xs:totalDigits value="4"/>
                           <xs:fractionDigits value="0"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="FREQCY" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="1"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="FREQ_UNIT" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                           <xs:totalDigits value="4"/>
                           <xs:fractionDigits value="0"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="PERCENTAGE" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                           <xs:totalDigits value="22"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="AMT" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                           <xs:totalDigits value="22"/>
                           <xs:fractionDigits value="3"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="LCY_EQVT_FOR_INDEX_LOANS" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                           <xs:totalDigits value="22"/>
                           <xs:fractionDigits value="3"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="Header-Conbw" type="LBCCONBW-Full-Type" minOccurs="0" />
         <xs:element name="Mst-parat" type="LBCPARAT-Full-Type" minOccurs="0" />
         <xs:element name="Misdetails" type="OLCTRMIS-Full-Type" minOccurs="0" />
         <xs:element name="Txn-Fld-Master" type="OLCTRUDF-Full-Type" minOccurs="0" />
         <xs:element name="Contract-Party-Details" type="LBCONPTY-Full-Type" minOccurs="0" />
         <xs:element name="Header-lbcprtax" type="LBCPRTAX-Full-Type" minOccurs="0" />
         <xs:element name="Taxes" type="TXCTRTAX-Full-Type" minOccurs="0" />
         <xs:element name="Cftms-Fee-Component" type="LFCFRMNT-Full-Type" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="FacilityOnline-Query-IO-Type">
      <xs:sequence>
         <xs:element name="CONTRREFNO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="16"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="FacilityOnline-Create-IO-Type">
      <xs:sequence>
         <xs:element name="CONTRREFNO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="16"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="PRODUCT" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="4"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="USERREFNO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="16"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="PROCESS_REF_NUM" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="255"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="CHANNEL_REF_NUM" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="255"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="SOURCECODE" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="15"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="ALT_REFNO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="16"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="Tctb-Syndication-Master" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="COUNTERPARTY" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="20"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="CURRENCY" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="3"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="AMOUNT" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                           <xs:totalDigits value="22"/>
                           <xs:fractionDigits value="3"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="FACILITY_START_DATE" minOccurs="0"  type="xs:date">
                  </xs:element>
                  <xs:element name="FACILITY_END_DATE" minOccurs="0"  type="xs:date">
                  </xs:element>
                  <xs:element name="AGENCY_ID2" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="20"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="CUSIPNO" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="16"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="USRDEFSTAT" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="4"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="AGENT_CIF" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="20"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="STRTDATE" minOccurs="0"  type="xs:date">
                  </xs:element>
                  <xs:element name="MINIMUMAMOUNT" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                           <xs:totalDigits value="22"/>
                           <xs:fractionDigits value="3"/>
                           <xs:minInclusive value="0"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="ENDT" minOccurs="0"  type="xs:date">
                  </xs:element>
                  <xs:element name="MAXIMUM_AMOUNT" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                           <xs:totalDigits value="22"/>
                           <xs:fractionDigits value="3"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="NAMED_AGENT" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="20"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="PURPOSE_OF_SYNDICATION" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="180"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="PURSYN2" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="35"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="INTRMKS" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="255"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="PURSYN1" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="35"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="NAMED_AGENT_NAME" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="255"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="AGENCYTYPE" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="L"/>
                           <xs:enumeration value="P"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="WATFAC" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="Y"/>
                           <xs:enumeration value="N"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="WATCHLISTREM" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="200"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="Control" type="LFCFEECF-Create-IO-Type" minOccurs="0" />
                  <xs:element name="Settlements" type="OLCONDET-Create-IO-Type" minOccurs="0" />
                  <xs:element name="Header-Agdet" type="LBCAGDET-Create-IO-Type" minOccurs="0" />
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="Lstbs-Syndication-Preference" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="SCHMOVEACROSSMONTH" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="Y"/>
                           <xs:enumeration value="N"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="IGNHOL" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="Y"/>
                           <xs:enumeration value="N"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="SCHMOV" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="N"/>
                           <xs:enumeration value="P"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="BRNHOLSCH" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="Y"/>
                           <xs:enumeration value="N"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="FACHOLCCY" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="Y"/>
                           <xs:enumeration value="N"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="SCHHOLCCY" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="3"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="LOCHOLCCY" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="Y"/>
                           <xs:enumeration value="N"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="CASSCH" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="Y"/>
                           <xs:enumeration value="N"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="MATSCHMOV" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="N"/>
                           <xs:enumeration value="P"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="FACHOLCCYMAT" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="Y"/>
                           <xs:enumeration value="N"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="HOLCCYMAT" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="3"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="LOCHOLCCYMAT" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="Y"/>
                           <xs:enumeration value="N"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="MOVACMN" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="Y"/>
                           <xs:enumeration value="N"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="MATIGNHOL" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="Y"/>
                           <xs:enumeration value="N"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="MATCONBRNHOL" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="Y"/>
                           <xs:enumeration value="N"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="PRIMARY_ADMIN" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="10"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="SECONDARY_ADMIN" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="10"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="NAME" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="255"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="SECADMINNAME" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="255"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="APPLY_FC_HOL_TREATMENT" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="S"/>
                           <xs:enumeration value="N"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="APPLY_MAT_FC_HOL_TREATMENT" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="M"/>
                           <xs:enumeration value="N"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="PARTIAL_LIQD_ALLOWED" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="Y"/>
                           <xs:enumeration value="N"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="Oltbs-Contract-Event-Log" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="DE_MAKER_DT" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="35"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="MAKERID" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="320"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="CHECKERID" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="320"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="AUTHSTAT" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="A"/>
                           <xs:enumeration value="U"/>
                           <xs:enumeration value=""/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="CHECKERDT" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="35"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="Tctbs-Facility-Ccy" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="CCY" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="3"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="CCYDESC" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="255"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="Tctbs-Assignment-Fee-Details" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="CCY" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="3"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="CURRENCY_DESC" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="255"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="AMNT" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                           <xs:totalDigits value="22"/>
                           <xs:fractionDigits value="3"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="Synd-Con-Fincentre-Sch" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="FIN_CENTRE" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="12"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="FIN_CENTRE_DESC" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="140"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="Synd-Con-Fincentre-Mat" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="FIN_CENTRE" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="12"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="FIN_CENTRE_DESC" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="140"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="Cont-Sch" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="COMP" minOccurs="1">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="10"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="STDT" minOccurs="1"  type="xs:date">
                  </xs:element>
                  <xs:element name="END_DATE" minOccurs="0"  type="xs:date">
                  </xs:element>
                  <xs:element name="NO" minOccurs="1">
                     <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                           <xs:totalDigits value="4"/>
                           <xs:fractionDigits value="0"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="FREQUENCY" minOccurs="1">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="D"/>
                           <xs:enumeration value="Q"/>
                           <xs:enumeration value="M"/>
                           <xs:enumeration value="H"/>
                           <xs:enumeration value="Y"/>
                           <xs:enumeration value="B"/>
                           <xs:enumeration value=""/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="FREQUNIT" minOccurs="1">
                     <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                           <xs:totalDigits value="4"/>
                           <xs:fractionDigits value="0"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="AMT" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                           <xs:totalDigits value="22"/>
                           <xs:fractionDigits value="3"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="SCH_MONTH_END_IND" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="N"/>
                           <xs:enumeration value="Y"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="Sch-Det" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="PAYBYDATE" minOccurs="0"  type="xs:date">
                  </xs:element>
                  <xs:element name="TOTAMTDUE" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                           <xs:totalDigits value="22"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="TOT_AMT_SET" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                           <xs:totalDigits value="22"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="TOT_AMT_ADJ" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                           <xs:totalDigits value="22"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="Sch-Amt-Due" minOccurs="0" maxOccurs="unbounded">
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element name="COMP" minOccurs="0">
                              <xs:simpleType>
                                 <xs:restriction base="xs:string">
                                    <xs:maxLength value="15"/>
                                 </xs:restriction>
                              </xs:simpleType>
                           </xs:element>
                           <xs:element name="AMT_DUE" minOccurs="0">
                              <xs:simpleType>
                                 <xs:restriction base="xs:decimal">
                                    <xs:totalDigits value="22"/>
                                    <xs:fractionDigits value="3"/>
                                 </xs:restriction>
                              </xs:simpleType>
                           </xs:element>
                           <xs:element name="AMTSETTLED" minOccurs="0">
                              <xs:simpleType>
                                 <xs:restriction base="xs:decimal">
                                    <xs:totalDigits value="22"/>
                                    <xs:fractionDigits value="3"/>
                                 </xs:restriction>
                              </xs:simpleType>
                           </xs:element>
                           <xs:element name="ADJ_AMOUNT" minOccurs="0">
                              <xs:simpleType>
                                 <xs:restriction base="xs:decimal">
                                    <xs:totalDigits value="22"/>
                                    <xs:fractionDigits value="3"/>
                                 </xs:restriction>
                              </xs:simpleType>
                           </xs:element>
                           <xs:element name="EXPECTED_BALANCE" minOccurs="0">
                              <xs:simpleType>
                                 <xs:restriction base="xs:string">
                                    <xs:maxLength value="255"/>
                                 </xs:restriction>
                              </xs:simpleType>
                           </xs:element>
                           <xs:element name="Sch-Amt-Setlled" minOccurs="0" maxOccurs="unbounded">
                              <xs:complexType>
                                 <xs:sequence>
                                    <xs:element name="IPDAT" minOccurs="0">
                                       <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                             <xs:maxLength value="35"/>
                                          </xs:restriction>
                                       </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="VALDT" minOccurs="0"  type="xs:date">
                                    </xs:element>
                                    <xs:element name="AMTSETTLED" minOccurs="0">
                                       <xs:simpleType>
                                          <xs:restriction base="xs:decimal">
                                             <xs:totalDigits value="22"/>
                                             <xs:fractionDigits value="3"/>
                                          </xs:restriction>
                                       </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="LCYEQUIV_SETTLED" minOccurs="0">
                                       <xs:simpleType>
                                          <xs:restriction base="xs:decimal">
                                             <xs:totalDigits value="22"/>
                                             <xs:fractionDigits value="3"/>
                                          </xs:restriction>
                                       </xs:simpleType>
                                    </xs:element>
                                 </xs:sequence>
                              </xs:complexType>
                           </xs:element>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="Paid-Sch" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="COMP" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="10"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="SRTDTE" minOccurs="0"  type="xs:date">
                  </xs:element>
                  <xs:element name="ENDDT" minOccurs="0"  type="xs:date">
                  </xs:element>
                  <xs:element name="N_1" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                           <xs:totalDigits value="4"/>
                           <xs:fractionDigits value="0"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="FREQCY" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="1"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="FREQ_UNIT" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                           <xs:totalDigits value="4"/>
                           <xs:fractionDigits value="0"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="PERCENTAGE" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                           <xs:totalDigits value="22"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="AMT" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                           <xs:totalDigits value="22"/>
                           <xs:fractionDigits value="3"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="LCY_EQVT_FOR_INDEX_LOANS" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                           <xs:totalDigits value="22"/>
                           <xs:fractionDigits value="3"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="Header-Conbw" type="LBCCONBW-Create-IO-Type" minOccurs="0" />
         <xs:element name="Mst-parat" type="LBCPARAT-Create-IO-Type" minOccurs="0" />
         <xs:element name="Misdetails" type="OLCTRMIS-Create-IO-Type" minOccurs="0" />
         <xs:element name="Txn-Fld-Master" type="OLCTRUDF-Create-IO-Type" minOccurs="0" />
         <xs:element name="Contract-Party-Details" type="LBCONPTY-Create-IO-Type" minOccurs="0" />
         <xs:element name="Header-lbcprtax" type="LBCPRTAX-Create-IO-Type" minOccurs="0" />
         <xs:element name="Taxes" type="TXCTRTAX-Create-IO-Type" minOccurs="0" />
         <xs:element name="Cftms-Fee-Component" type="LFCFRMNT-Create-IO-Type" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="FacilityOnline-Modify-IO-Type">
      <xs:sequence>
         <xs:element name="CONTRREFNO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="16"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="ALT_REFNO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="16"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="Tctb-Syndication-Master" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="AMOUNT" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                           <xs:totalDigits value="22"/>
                           <xs:fractionDigits value="3"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="FACILITY_END_DATE" minOccurs="0"  type="xs:date">
                  </xs:element>
                  <xs:element name="AGENCY_ID2" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="20"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="CUSIPNO" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="16"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="USRDEFSTAT" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="4"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="STRTDATE" minOccurs="0"  type="xs:date">
                  </xs:element>
                  <xs:element name="MINIMUMAMOUNT" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                           <xs:totalDigits value="22"/>
                           <xs:fractionDigits value="3"/>
                           <xs:minInclusive value="0"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="ENDT" minOccurs="0"  type="xs:date">
                  </xs:element>
                  <xs:element name="MAXIMUM_AMOUNT" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                           <xs:totalDigits value="22"/>
                           <xs:fractionDigits value="3"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="PURPOSE_OF_SYNDICATION" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="180"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="PURSYN2" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="35"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="INTRMKS" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="255"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="PURSYN1" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="35"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="WATFAC" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="Y"/>
                           <xs:enumeration value="N"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="WATCHLISTREM" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="200"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="SUBSYSSTAT" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="2000"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="Control" type="LFCFEECF-Modify-IO-Type" minOccurs="0" />
                  <xs:element name="Settlements" type="OLCONDET-Modify-IO-Type" minOccurs="0" />
                  <xs:element name="Header-Agdet" type="LBCAGDET-Modify-IO-Type" minOccurs="0" />
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="Lstbs-Syndication-Preference" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="SCHMOVEACROSSMONTH" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="Y"/>
                           <xs:enumeration value="N"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="IGNHOL" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="Y"/>
                           <xs:enumeration value="N"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="SCHMOV" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="N"/>
                           <xs:enumeration value="P"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="BRNHOLSCH" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="Y"/>
                           <xs:enumeration value="N"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="FACHOLCCY" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="Y"/>
                           <xs:enumeration value="N"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="SCHHOLCCY" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="3"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="LOCHOLCCY" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="Y"/>
                           <xs:enumeration value="N"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="CASSCH" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="Y"/>
                           <xs:enumeration value="N"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="MATSCHMOV" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="N"/>
                           <xs:enumeration value="P"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="FACHOLCCYMAT" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="Y"/>
                           <xs:enumeration value="N"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="HOLCCYMAT" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="3"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="LOCHOLCCYMAT" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="Y"/>
                           <xs:enumeration value="N"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="MOVACMN" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="Y"/>
                           <xs:enumeration value="N"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="MATIGNHOL" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="Y"/>
                           <xs:enumeration value="N"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="MATCONBRNHOL" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="Y"/>
                           <xs:enumeration value="N"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="PRIMARY_ADMIN" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="10"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="SECONDARY_ADMIN" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="10"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="APPLY_FC_HOL_TREATMENT" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="S"/>
                           <xs:enumeration value="N"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="APPLY_MAT_FC_HOL_TREATMENT" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="M"/>
                           <xs:enumeration value="N"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="PARTIAL_LIQD_ALLOWED" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="Y"/>
                           <xs:enumeration value="N"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="Oltbs-Contract-Event-Log" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="DE_MAKER_DT" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="35"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="MAKERID" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="320"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="TXNSTAT1" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="A"/>
                           <xs:enumeration value="L"/>
                           <xs:enumeration value="V"/>
                           <xs:enumeration value="Y"/>
                           <xs:enumeration value="H"/>
                           <xs:enumeration value=""/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="CHECKERID" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="320"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="AUTHSTAT" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="A"/>
                           <xs:enumeration value="U"/>
                           <xs:enumeration value=""/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="CHECKERDT" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="35"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="Tctbs-Facility-Ccy" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="CCY" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="3"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="CCYDESC" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="255"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="Tctbs-Assignment-Fee-Details" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="CCY" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="3"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="AMNT" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                           <xs:totalDigits value="22"/>
                           <xs:fractionDigits value="3"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="Synd-Con-Fincentre-Sch" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="CONTRACT_REF_NO" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="64"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="FIN_CENTRE" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="12"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="FIN_CENTRE_DESC" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="140"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="SCHEDULE_TYPE" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="40"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="VERSION_NO" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                           <xs:totalDigits value="4"/>
                           <xs:fractionDigits value="0"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="Synd-Con-Fincentre-Mat" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="CONTRACT_REF_NO" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="64"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="FIN_CENTRE" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="12"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="FIN_CENTRE_DESC" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="140"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="SCHEDULE_TYPE" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="40"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="VERSION_NO" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                           <xs:totalDigits value="4"/>
                           <xs:fractionDigits value="0"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="Header-Conbw" type="LBCCONBW-Modify-IO-Type" minOccurs="0" />
         <xs:element name="Mst-parat" type="LBCPARAT-Modify-IO-Type" minOccurs="0" />
         <xs:element name="Misdetails" type="OLCTRMIS-Modify-IO-Type" minOccurs="0" />
         <xs:element name="Txn-Fld-Master" type="OLCTRUDF-Modify-IO-Type" minOccurs="0" />
         <xs:element name="Contract-Party-Details" type="LBCONPTY-Modify-IO-Type" minOccurs="0" />
         <xs:element name="Header-lbcprtax" type="LBCPRTAX-Modify-IO-Type" minOccurs="0" />
         <xs:element name="Taxes" type="TXCTRTAX-Modify-IO-Type" minOccurs="0" />
         <xs:element name="Cftms-Fee-Component" type="LFCFRMNT-Modify-IO-Type" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="FacilityOnline-Authorize-IO-Type">
      <xs:sequence>
         <xs:element name="CONTRREFNO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="16"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="FacilityOnline-Delete-IO-Type">
      <xs:sequence>
         <xs:element name="CONTRREFNO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="16"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="FacilityOnline-Reverse-IO-Type">
      <xs:sequence>
         <xs:element name="CONTRREFNO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="16"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
</xs:schema>