WS/OBCLLSService/XSD/LB-AuthorizeDraftTranche-Res-Full-MSG.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns="http://fcubs.ofss.com/service/FCUBSLSService" targetNamespace="http://fcubs.ofss.com/service/FCUBSLSService" elementFormDefault="qualified">
   <xs:include schemaLocation="UBS-Messaging.xsd"/>
   <xs:include schemaLocation="LB-DraftTranche-Types.xsd"/>
   <xs:element name="AUTHORIZEDRAFTTRANCHE_FSFS_RES">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="FCUBS_HEADER" type="FCUBS_HEADERType"/>
            <xs:element name="FCUBS_BODY">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="Oltbs-Upload-Master-Full" type="DraftTranche-Full-Type"/>
                     <xs:element name="FCUBS_ERROR_RESP" type="ERRORType" minOccurs="0" maxOccurs="unbounded"/>
                     <xs:element name="FCUBS_WARNING_RESP" type="WARNINGType" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>