WS/OBCLLSService/XSD/LB-EXRateFx-Types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
   <xs:annotation>
      <xs:documentation xml:lang="en">All Types of LBDEXRFX
      </xs:documentation>
   </xs:annotation>
   <xs:include schemaLocation="SubSys-LBCADVIC-Types.xsd"/>
   

   <xs:complexType name="EXRateFx-PK-Type">
      <xs:sequence>
         <xs:element name="CONTRACTREFNO" minOccurs="1">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="16"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="EXRATEEFFSTARTDATE" type="xs:date">
         </xs:element>
         <xs:element name="EVENTSEQNO" >
            <xs:simpleType>
               <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="4"/>
                  <xs:fractionDigits value="0"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="EXRateFx-Full-Type">
      <xs:sequence>
         <xs:element name="CONTRACTREFNO" minOccurs="1">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="16"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="EXRATEEFFSTARTDATE" minOccurs="0"  type="xs:date">
         </xs:element>
         <xs:element name="EVENTSEQNO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="4"/>
                  <xs:fractionDigits value="0"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="PROD_CODE" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="255"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="PROD_DESC" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="255"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="USERREFNOO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="255"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="CUST" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="255"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="CUSNAME" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="255"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="FACILITY_NAME" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="255"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="AGEREFNO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="255"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="BRANCH" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="6"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="CONTRACTCCY" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="TRANCHECCY" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="CONTAMT" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="255"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="TRANCHCCYEQV" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="255"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="EXRATEFIXINGDATE" minOccurs="0"  type="xs:date">
         </xs:element>
         <xs:element name="REV_RATEC" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="255"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="EFF_END_DT" minOccurs="0"  type="xs:date">
         </xs:element>
         <xs:element name="REVRATTYPE" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="255"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="EXRATEFIXNOTIFIDATE" minOccurs="0"  type="xs:date">
         </xs:element>
         <xs:element name="NEXT_EFFECTIVE_START_DATE" minOccurs="0"  type="xs:date">
         </xs:element>
         <xs:element name="EXCHANGERATE" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="23"/>
                  <xs:fractionDigits value="15"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="REMARKS" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="255"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="Oltbs-Contract-Event-Log" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="MAKERDTST" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="35"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="MAKERID" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="320"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="TXNSTAT" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="A"/>
                           <xs:enumeration value="L"/>
                           <xs:enumeration value="V"/>
                           <xs:enumeration value="H"/>
                           <xs:enumeration value="Y"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="CHECKERID" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="320"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="AUTHSTAT" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="A"/>
                           <xs:enumeration value="U"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="CHECKERDTST" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="35"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="TXTPARTICIPANTSTATUS" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="255"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="Contract-Event-Advic" type="LBCADVIC-Full-Type" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="EXRateFx-Query-IO-Type">
      <xs:sequence>
         <xs:element name="CONTRACTREFNO" minOccurs="1">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="16"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="EXRATEEFFSTARTDATE" minOccurs="0"  type="xs:date">
         </xs:element>
         <xs:element name="EVENTSEQNO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="4"/>
                  <xs:fractionDigits value="0"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="EXRateFx-Create-IO-Type">
      <xs:sequence>
         <xs:element name="CONTRACTREFNO" minOccurs="1">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="16"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="EXRATEEFFSTARTDATE" minOccurs="0"  type="xs:date">
         </xs:element>
         <xs:element name="EVENTSEQNO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="4"/>
                  <xs:fractionDigits value="0"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="CONTRACTCCY" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="TRANCHECCY" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="EFF_END_DT" minOccurs="0"  type="xs:date">
         </xs:element>
         <xs:element name="REVRATTYPE" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="255"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="EXRATEFIXNOTIFIDATE" minOccurs="0"  type="xs:date">
         </xs:element>
         <xs:element name="NEXT_EFFECTIVE_START_DATE" minOccurs="0"  type="xs:date">
         </xs:element>
         <xs:element name="EXCHANGERATE" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="23"/>
                  <xs:fractionDigits value="15"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="REMARKS" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="255"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="Oltbs-Contract-Event-Log" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="MAKERDTST" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="35"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="MAKERID" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="320"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="TXNSTAT" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="A"/>
                           <xs:enumeration value="L"/>
                           <xs:enumeration value="V"/>
                           <xs:enumeration value="H"/>
                           <xs:enumeration value="Y"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="CHECKERID" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="320"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="AUTHSTAT" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="A"/>
                           <xs:enumeration value="U"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="CHECKERDTST" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="35"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="TXTPARTICIPANTSTATUS" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="255"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="Contract-Event-Advic" type="LBCADVIC-Create-IO-Type" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="EXRateFx-Modify-IO-Type">
      <xs:sequence>
         <xs:element name="CONTRACTREFNO" minOccurs="1">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="16"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="EXRATEEFFSTARTDATE" minOccurs="0"  type="xs:date">
         </xs:element>
         <xs:element name="EVENTSEQNO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="4"/>
                  <xs:fractionDigits value="0"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="EFF_END_DT" minOccurs="0"  type="xs:date">
         </xs:element>
         <xs:element name="EXRATEFIXNOTIFIDATE" minOccurs="0"  type="xs:date">
         </xs:element>
         <xs:element name="NEXT_EFFECTIVE_START_DATE" minOccurs="0"  type="xs:date">
         </xs:element>
         <xs:element name="EXCHANGERATE" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="23"/>
                  <xs:fractionDigits value="15"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="Contract-Event-Advic" type="LBCADVIC-Modify-IO-Type" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="EXRateFx-Authorize-IO-Type">
      <xs:sequence>
         <xs:element name="CONTRACTREFNO" minOccurs="1">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="16"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="EXRATEEFFSTARTDATE" minOccurs="0"  type="xs:date">
         </xs:element>
         <xs:element name="EVENTSEQNO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="4"/>
                  <xs:fractionDigits value="0"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="EXRateFx-Delete-IO-Type">
      <xs:sequence>
         <xs:element name="CONTRACTREFNO" minOccurs="1">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="16"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="EXRATEEFFSTARTDATE" minOccurs="0"  type="xs:date">
         </xs:element>
         <xs:element name="EVENTSEQNO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="4"/>
                  <xs:fractionDigits value="0"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
</xs:schema>