WS/OBCLLSService/XSD/LP-ParticipantProduct-Types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
   <xs:annotation>
      <xs:documentation xml:lang="en">All Types of LPDPRMNT
      </xs:documentation>
   </xs:annotation>
   <xs:include schemaLocation="SubSys-OLCACRHM-Types.xsd"/>
   <xs:include schemaLocation="SubSys-OLCACADD-Types.xsd"/>
   <xs:include schemaLocation="SubSys-OLCPRMNT-Types.xsd"/>
   <xs:include schemaLocation="SubSys-LFCLSFEE-Types.xsd"/>
   <xs:include schemaLocation="SubSys-LFCPRDIA-Types.xsd"/>
   <xs:include schemaLocation="SubSys-LFCPRTAX-Types.xsd"/>
   <xs:include schemaLocation="SubSys-ParticipantProdInt-Types.xsd"/>
   

   <xs:complexType name="ParticipantProduct-PK-Type">
      <xs:sequence>
         <xs:element name="PRODUCTCODE" minOccurs="1">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="4"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="ParticipantProduct-Full-Type">
      <xs:sequence>
         <xs:element name="PRODUCTCODE" minOccurs="1">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="4"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="PRODUCTDESCRIPTION" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="35"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="PROD_TYPE" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:enumeration value="D"/>
                  <xs:enumeration value="T"/>
                  <xs:enumeration value="F"/>
                  <xs:enumeration value="CO"/>
                  <xs:enumeration value="CS"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="PRDSLG" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="255"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="PRDREMRKS" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="255"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="STARTDT" minOccurs="0"  type="xs:date">
         </xs:element>
         <xs:element name="ENDDAT" minOccurs="0"  type="xs:date">
         </xs:element>
         <xs:element name="PRODUCTGROUP" minOccurs="1">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="6"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="RTVAROVDLMT" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="11"/>
                  <xs:fractionDigits value="5"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="MAXRTVARI" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="11"/>
                  <xs:fractionDigits value="5"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="REFERENCE_NO_FORMAT" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="4"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="PRODCODE" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="4"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="AUTOCOLLEC" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:enumeration value="Y"/>
                  <xs:enumeration value="N"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="AUTOINITIATION" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:enumeration value="Y"/>
                  <xs:enumeration value="N"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="TRSLNKDTO" minOccurs="1">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="4"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="PROD_DESC" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="255"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="BRNLST" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:enumeration value="D"/>
                  <xs:enumeration value="A"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="CCYLST" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:enumeration value="D"/>
                  <xs:enumeration value="A"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="CATGLIS" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:enumeration value="D"/>
                  <xs:enumeration value="A"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="MAKER" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="12"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="MAKERSTAMP" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="35"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="CHECKER" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="12"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="CHECKERSTAMP" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="35"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="MODNO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="4"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="TXNSTAT" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="1"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="AUTHSTAT" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="1"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="Role-To-Head-Mapping" type="OLCACRHM-Full-Type" minOccurs="0" />
         <xs:element name="Product-Events" type="OLCACADD-Full-Type" minOccurs="0" />
         <xs:element name="Product-Mis-Details" type="OLCPRMNT-Full-Type" minOccurs="0" />
         <xs:element name="Product-Details" type="LFCLSFEE-Full-Type" minOccurs="0" />
         <xs:element name="Product-Diary" type="LFCPRDIA-Full-Type" minOccurs="0" />
         <xs:element name="Product-Tax" type="LFCPRTAX-Full-Type" minOccurs="0" />
         <xs:element name="Product-Main" type="ParticipantProdInt-Full-Type" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="ParticipantProduct-Query-IO-Type">
      <xs:sequence>
         <xs:element name="PRODUCTCODE" minOccurs="1">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="4"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="ParticipantProduct-Create-IO-Type">
      <xs:sequence>
         <xs:element name="PRODUCTCODE" minOccurs="1">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="4"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="PRODUCTDESCRIPTION" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="35"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="PROD_TYPE" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:enumeration value="D"/>
                  <xs:enumeration value="T"/>
                  <xs:enumeration value="F"/>
                  <xs:enumeration value="CO"/>
                  <xs:enumeration value="CS"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="PRDSLG" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="255"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="PRDREMRKS" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="255"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="STARTDT" minOccurs="0"  type="xs:date">
         </xs:element>
         <xs:element name="ENDDAT" minOccurs="0"  type="xs:date">
         </xs:element>
         <xs:element name="PRODUCTGROUP" minOccurs="1">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="6"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="RTVAROVDLMT" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="11"/>
                  <xs:fractionDigits value="5"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="MAXRTVARI" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="11"/>
                  <xs:fractionDigits value="5"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="REFERENCE_NO_FORMAT" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="4"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="PRODCODE" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="4"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="AUTOCOLLEC" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:enumeration value="Y"/>
                  <xs:enumeration value="N"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="AUTOINITIATION" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:enumeration value="Y"/>
                  <xs:enumeration value="N"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="TRSLNKDTO" minOccurs="1">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="4"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="PROD_DESC" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="255"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="BRNLST" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:enumeration value="D"/>
                  <xs:enumeration value="A"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="CCYLST" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:enumeration value="D"/>
                  <xs:enumeration value="A"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="CATGLIS" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:enumeration value="D"/>
                  <xs:enumeration value="A"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="Role-To-Head-Mapping" type="OLCACRHM-Create-IO-Type" minOccurs="0" />
         <xs:element name="Product-Events" type="OLCACADD-Create-IO-Type" minOccurs="0" />
         <xs:element name="Product-Mis-Details" type="OLCPRMNT-Create-IO-Type" minOccurs="0" />
         <xs:element name="Product-Details" type="LFCLSFEE-Create-IO-Type" minOccurs="0" />
         <xs:element name="Product-Diary" type="LFCPRDIA-Create-IO-Type" minOccurs="0" />
         <xs:element name="Product-Tax" type="LFCPRTAX-Create-IO-Type" minOccurs="0" />
         <xs:element name="Product-Main" type="ParticipantProdInt-Create-IO-Type" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="ParticipantProduct-Modify-IO-Type">
      <xs:sequence>
         <xs:element name="PRODUCTCODE" minOccurs="1">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="4"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="PRODUCTDESCRIPTION" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="35"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="PRDSLG" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="255"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="STARTDT" minOccurs="0"  type="xs:date">
         </xs:element>
         <xs:element name="ENDDAT" minOccurs="0"  type="xs:date">
         </xs:element>
         <xs:element name="PRODUCTGROUP" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="6"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="RTVAROVDLMT" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="11"/>
                  <xs:fractionDigits value="5"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="MAXRTVARI" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="11"/>
                  <xs:fractionDigits value="5"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="AUTOCOLLEC" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:enumeration value="Y"/>
                  <xs:enumeration value="N"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="AUTOINITIATION" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:enumeration value="Y"/>
                  <xs:enumeration value="N"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="MAKER" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="12"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="MAKERSTAMP" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="35"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="Role-To-Head-Mapping" type="OLCACRHM-Modify-IO-Type" minOccurs="0" />
         <xs:element name="Product-Events" type="OLCACADD-Modify-IO-Type" minOccurs="0" />
         <xs:element name="Product-Mis-Details" type="OLCPRMNT-Modify-IO-Type" minOccurs="0" />
         <xs:element name="Product-Details" type="LFCLSFEE-Modify-IO-Type" minOccurs="0" />
         <xs:element name="Product-Diary" type="LFCPRDIA-Modify-IO-Type" minOccurs="0" />
         <xs:element name="Product-Tax" type="LFCPRTAX-Modify-IO-Type" minOccurs="0" />
         <xs:element name="Product-Main" type="ParticipantProdInt-Modify-IO-Type" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="ParticipantProduct-Authorize-IO-Type">
      <xs:sequence>
         <xs:element name="PRODUCTCODE" minOccurs="1">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="4"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="CHECKER" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="12"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="CHECKERSTAMP" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="35"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="MODNO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="4"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="ParticipantProduct-Delete-IO-Type">
      <xs:sequence>
         <xs:element name="PRODUCTCODE" minOccurs="1">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="4"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="ParticipantProduct-Close-IO-Type">
      <xs:sequence>
         <xs:element name="PRODUCTCODE" minOccurs="1">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="4"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="MAKER" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="12"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="MAKERSTAMP" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="35"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="MODNO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="4"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="ParticipantProduct-Reopen-IO-Type">
      <xs:sequence>
         <xs:element name="PRODUCTCODE" minOccurs="1">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="4"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="MAKER" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="12"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="MAKERSTAMP" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="35"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="MODNO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="4"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="ParticipantProduct-SummaryQuery-IO-Type">
      <xs:sequence>
         <xs:element name="FETCH_PAGE" minOccurs="0" type="xs:nonNegativeInteger"/>
         <xs:element name="FETCH_SIZE" minOccurs="0" type="xs:nonNegativeInteger"/>
         <xs:element name="AUTHSTAT" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="1" />
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="TXNSTAT" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="1" />
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="PRODUCTCODE" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="4" />
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="PRODUCTDESCRIPTION" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="35" />
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="PRODUCTTYPE" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:enumeration value="D"/>
                  <xs:enumeration value="T"/>
                  <xs:enumeration value="F"/>
                  <xs:enumeration value="CO"/>
                  <xs:enumeration value="CS"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="MODULE" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="2" />
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="PRODUCTSTARTDATE" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="LOWER_BOUND" minOccurs="0" type="xs:date"/>
                  <xs:element name="UPPER_BOUND" minOccurs="0" type="xs:date"/>
                  <xs:element name="EQUALS" minOccurs="0" type="xs:date"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="PRODUCTENDDATE" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="LOWER_BOUND" minOccurs="0" type="xs:date"/>
                  <xs:element name="UPPER_BOUND" minOccurs="0" type="xs:date"/>
                  <xs:element name="EQUALS" minOccurs="0" type="xs:date"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="Query-Order-By" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="ORDER_BY_FIELD">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="PRODUCTCODE" />
                           <xs:enumeration value="PRODUCTDESCRIPTION" />
                           <xs:enumeration value="PRODUCTTYPE" />
                           <xs:enumeration value="MODULE" />
                           <xs:enumeration value="PRODUCTSTARTDATE" />
                           <xs:enumeration value="PRODUCTENDDATE" />
                           <xs:enumeration value=""/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element minOccurs="0" name="ORDER_BY_TYPE">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="ASC" />
                           <xs:enumeration value="DESC" />
                           <xs:enumeration value=""/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="ParticipantProduct-SummaryQuery-Full-Type">
      <xs:sequence>
         <xs:element name="FETCH_PAGE" minOccurs="0" type="xs:nonNegativeInteger"/>
         <xs:element name="FETCH_SIZE" minOccurs="0" type="xs:nonNegativeInteger"/>
         <xs:element name="AUTHSTAT" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="1" />
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="TXNSTAT" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="1" />
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="PRODUCTCODE" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="4" />
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="PRODUCTDESCRIPTION" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="35" />
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="PRODUCTTYPE" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:enumeration value="D"/>
                  <xs:enumeration value="T"/>
                  <xs:enumeration value="F"/>
                  <xs:enumeration value="CO"/>
                  <xs:enumeration value="CS"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="MODULE" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="2" />
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="PRODUCTSTARTDATE" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="LOWER_BOUND" minOccurs="0" type="xs:date"/>
                  <xs:element name="UPPER_BOUND" minOccurs="0" type="xs:date"/>
                  <xs:element name="EQUALS" minOccurs="0" type="xs:date"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="PRODUCTENDDATE" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="LOWER_BOUND" minOccurs="0" type="xs:date"/>
                  <xs:element name="UPPER_BOUND" minOccurs="0" type="xs:date"/>
                  <xs:element name="EQUALS" minOccurs="0" type="xs:date"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="Query-Order-By" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="ORDER_BY_FIELD">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="PRODUCTCODE" />
                           <xs:enumeration value="PRODUCTDESCRIPTION" />
                           <xs:enumeration value="PRODUCTTYPE" />
                           <xs:enumeration value="MODULE" />
                           <xs:enumeration value="PRODUCTSTARTDATE" />
                           <xs:enumeration value="PRODUCTENDDATE" />
                           <xs:enumeration value="PRODUCTCODE" />
                           <xs:enumeration value="PRODUCTDESCRIPTION" />
                           <xs:enumeration value="PRODUCTTYPE" />
                           <xs:enumeration value="MODULE" />
                           <xs:enumeration value="PRODUCTSTARTDATE" />
                           <xs:enumeration value="PRODUCTENDDATE" />
                           <xs:enumeration value=""/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element minOccurs="0" name="ORDER_BY_TYPE">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="ASC" />
                           <xs:enumeration value="DESC" />
                           <xs:enumeration value=""/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="Query-Result" minOccurs="0" >
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="TOTAL_RECORDS" minOccurs="0" type="xs:nonNegativeInteger"/>
                  <xs:element name="TOTAL_PAGES" minOccurs="0" type="xs:nonNegativeInteger"/>
                  <xs:element name="CURRENT_PAGE" minOccurs="0" type="xs:nonNegativeInteger"/>
                  <xs:element name="Record-Details" minOccurs="0" maxOccurs="unbounded">
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element name="RECORD_NO" minOccurs="0"  type="xs:nonNegativeInteger"/>
                           <xs:element minOccurs="0" name="AUTHSTAT">
                              <xs:simpleType>
                                 <xs:restriction base="xs:string">
                                    <xs:maxLength value="1" />
                                 </xs:restriction>
                              </xs:simpleType>
                           </xs:element>
                           <xs:element minOccurs="0" name="TXNSTAT">
                              <xs:simpleType>
                                 <xs:restriction base="xs:string">
                                    <xs:maxLength value="1" />
                                 </xs:restriction>
                              </xs:simpleType>
                           </xs:element>
                           <xs:element minOccurs="0" name="PRODUCTCODE">
                              <xs:simpleType>
                                 <xs:restriction base="xs:string">
                                    <xs:maxLength value="4" />
                                 </xs:restriction>
                              </xs:simpleType>
                           </xs:element>
                           <xs:element minOccurs="0" name="PRODUCTDESCRIPTION">
                              <xs:simpleType>
                                 <xs:restriction base="xs:string">
                                    <xs:maxLength value="35" />
                                 </xs:restriction>
                              </xs:simpleType>
                           </xs:element>
                           <xs:element minOccurs="0" name="PRODUCTTYPE">
                              <xs:simpleType>
                                 <xs:restriction base="xs:string">
                                    <xs:maxLength value="2" />
                                 </xs:restriction>
                              </xs:simpleType>
                           </xs:element>
                           <xs:element minOccurs="0" name="MODULE">
                              <xs:simpleType>
                                 <xs:restriction base="xs:string">
                                    <xs:maxLength value="2" />
                                 </xs:restriction>
                              </xs:simpleType>
                           </xs:element>
                           <xs:element minOccurs="0" name="PRODUCTSLOGAN">
                              <xs:simpleType>
                                 <xs:restriction base="xs:string">
                                    <xs:maxLength value="255" />
                                 </xs:restriction>
                              </xs:simpleType>
                           </xs:element>
                           <xs:element minOccurs="0" name="PRODUCTREMARKS">
                              <xs:simpleType>
                                 <xs:restriction base="xs:string">
                                    <xs:maxLength value="255" />
                                 </xs:restriction>
                              </xs:simpleType>
                           </xs:element>
                           <xs:element name="PRODUCTSTARTDATE" minOccurs="0"  type="xs:date"/>
                           <xs:element name="PRODUCTENDDATE" minOccurs="0"  type="xs:date"/>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
</xs:schema>