WS/OBCLLSService/XSD/SubSys-LBCRATIO-Types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
   <xs:annotation>
      <xs:documentation xml:lang="en">All Types of LBCRATIO
      </xs:documentation>
   </xs:annotation>
   

   <xs:complexType name="LBCRATIO-Full-Type">
      <xs:sequence>
         <xs:element name="TOTAL" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="24"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="CONTRACT_REF_NO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="16"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="PART" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="20"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="ESN" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="0"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="Lbtb-Part-Nonprorata-Ratio" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="PARTICIPANT_SHARE" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                           <xs:totalDigits value="15"/>
                           <xs:fractionDigits value="10"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="VALUE_DATE" minOccurs="0"  type="xs:date">
                  </xs:element>
                  <xs:element name="EVENT_SEQ_NO" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                           <xs:totalDigits value="4"/>
                           <xs:fractionDigits value="0"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="PARTICIPANT" minOccurs="1">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="20"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="CONTRACT_REF_NO" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="16"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="PARTICIPANT_NAME" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="255"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="LBCRATIO-Query-IO-Type">
      <xs:sequence>
         <xs:element name="CONTRACT_REF_NO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="16"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="PART" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="20"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="ESN" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="0"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="LBCRATIO-Create-IO-Type">
      <xs:sequence>
         <xs:element name="TOTAL" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="24"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="CONTRACT_REF_NO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="16"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="PART" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="20"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="ESN" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="0"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="Lbtb-Part-Nonprorata-Ratio" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="PARTICIPANT_SHARE" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                           <xs:totalDigits value="15"/>
                           <xs:fractionDigits value="10"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="VALUE_DATE" minOccurs="0"  type="xs:date">
                  </xs:element>
                  <xs:element name="EVENT_SEQ_NO" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                           <xs:totalDigits value="4"/>
                           <xs:fractionDigits value="0"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="PARTICIPANT" minOccurs="1">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="20"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="CONTRACT_REF_NO" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="16"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="PARTICIPANT_NAME" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="255"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="LBCRATIO-Modify-IO-Type">
      <xs:sequence>
         <xs:element name="CONTRACT_REF_NO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="16"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="PART" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="20"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="ESN" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="0"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="LBCRATIO-Authorize-IO-Type">
      <xs:sequence>
         <xs:element name="CONTRACT_REF_NO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="16"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="PART" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="20"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="ESN" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="0"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="LBCRATIO-Delete-IO-Type">
      <xs:sequence>
         <xs:element name="CONTRACT_REF_NO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="16"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="PART" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="20"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="ESN" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="0"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="LBCRATIO-Close-IO-Type">
      <xs:sequence>
         <xs:element name="CONTRACT_REF_NO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="16"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="PART" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="20"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="ESN" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="0"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="LBCRATIO-Reopen-IO-Type">
      <xs:sequence>
         <xs:element name="CONTRACT_REF_NO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="16"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="PART" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="20"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="ESN" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="0"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="LBCRATIO-Reverse-IO-Type">
      <xs:sequence>
         <xs:element name="CONTRACT_REF_NO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="16"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="PART" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="20"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="ESN" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="0"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="LBCRATIO-Rollover-IO-Type">
      <xs:sequence>
         <xs:element name="CONTRACT_REF_NO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="16"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="PART" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="20"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="ESN" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="0"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="LBCRATIO-Confirm-IO-Type">
      <xs:sequence>
         <xs:element name="CONTRACT_REF_NO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="16"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="PART" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="20"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="ESN" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="0"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="LBCRATIO-Liquidate-IO-Type">
      <xs:sequence>
         <xs:element name="CONTRACT_REF_NO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="16"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="PART" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="20"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="ESN" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="0"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="LBCRATIO-Summaryquery-IO-Type">
      <xs:sequence>
         <xs:element name="CONTRACT_REF_NO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="16"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="PART" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="20"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="ESN" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="0"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
</xs:schema>