WS/OBCLLSService/XSD/SubSys-ParticipantProdInt-Types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
   <xs:annotation>
      <xs:documentation xml:lang="en">All Types of LFCLPICF
      </xs:documentation>
   </xs:annotation>
   

   <xs:complexType name="ParticipantProdInt-Full-Type">
      <xs:sequence>
         <xs:element name="PRDDESC" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="35"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="PRDCD" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="4"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="MODULE" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="2"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="Product-Iccf" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="AMORTIZATIONCONSTCOMPONENT" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="Y"/>
                           <xs:enumeration value="N"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="SPECIALRATETYPE" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="R"/>
                           <xs:enumeration value="A"/>
                           <xs:enumeration value=""/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="PRODUCT" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="4"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="COMPONENT" minOccurs="1">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="10"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="COMPDESC" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="35"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="EVENT" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="4"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="BASAMTTAG" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="25"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="RATE_T" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="F"/>
                           <xs:enumeration value="X"/>
                           <xs:enumeration value="S"/>
                           <xs:enumeration value=""/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="SPECIALPENALTY" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="Y"/>
                           <xs:enumeration value="N"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="CHNGDRGAMNDMNT" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="Y"/>
                           <xs:enumeration value="N"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="FLTRTTYP" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="A"/>
                           <xs:enumeration value="P"/>
                           <xs:enumeration value=""/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="RULE" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="10"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="BORROW_LEND_IND" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="B"/>
                           <xs:enumeration value="L"/>
                           <xs:enumeration value="M"/>
                           <xs:enumeration value=""/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="RATE_CALC_TYPE" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="U"/>
                           <xs:enumeration value="D"/>
                           <xs:enumeration value="I"/>
                           <xs:enumeration value="R"/>
                           <xs:enumeration value=""/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="REFINANCEREQD" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="Y"/>
                           <xs:enumeration value="N"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="STOP_ASSOCIATION" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="Y"/>
                           <xs:enumeration value="N"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="COMPONENTNO" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                           <xs:totalDigits value="4"/>
                           <xs:fractionDigits value="0"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="MARGINAPPLICATION" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="P"/>
                           <xs:enumeration value="A"/>
                           <xs:enumeration value="N"/>
                           <xs:enumeration value=""/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="MARGIN_BASIS" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="F"/>
                           <xs:enumeration value="T"/>
                           <xs:enumeration value="D"/>
                           <xs:enumeration value="C"/>
                           <xs:enumeration value=""/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="COMPONENTSRNO" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                           <xs:totalDigits value="3"/>
                           <xs:fractionDigits value="0"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="PROPAGATION_REQD" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="Y"/>
                           <xs:enumeration value="N"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="MAINCOMP" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="Y"/>
                           <xs:enumeration value="N"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="ONCEAUTH" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="1"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="BASICAMTCATG" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="D"/>
                           <xs:enumeration value="X"/>
                           <xs:enumeration value="O"/>
                           <xs:enumeration value="R"/>
                           <xs:enumeration value="S"/>
                           <xs:enumeration value=""/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="PENALTY_START_DATE_BASIS" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="D"/>
                           <xs:enumeration value="N"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="ACCREQ" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="Y"/>
                           <xs:enumeration value="N"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="RESETTENOR" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                           <xs:totalDigits value="5"/>
                           <xs:fractionDigits value="0"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="RATEREVISIONMETHOD" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="A"/>
                           <xs:enumeration value="M"/>
                           <xs:enumeration value=""/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="INTCOMPUTATION" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="S"/>
                           <xs:enumeration value="C"/>
                           <xs:enumeration value=""/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="HOLCOMPOUND" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="Y"/>
                           <xs:enumeration value="N"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="DEFAULT_WAIVER" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="Y"/>
                           <xs:enumeration value="N"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="LIQ_PREM_COMP" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="Y"/>
                           <xs:enumeration value="N"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="LIQUIDITYPREMIUMTYPE" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="B"/>
                           <xs:enumeration value="C"/>
                           <xs:enumeration value=""/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="AUTORATECODE" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="10"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="FIXEDRATETYPE" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="U"/>
                           <xs:enumeration value="S"/>
                           <xs:enumeration value="T"/>
                           <xs:enumeration value="A"/>
                           <xs:enumeration value=""/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="ONPREPAYMNT" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="Y"/>
                           <xs:enumeration value="N"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="REAPPLYINTONOUTSTAMT" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="Y"/>
                           <xs:enumeration value="N"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="NOINTONPREMATUREWITHDRWL" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="Y"/>
                           <xs:enumeration value="N"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="FIXED_RATE_CD" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="10"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="FLT_RATE_CD" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="10"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="PREPMNTPNLTY" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="10"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="DISACCRAPPL" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="Y"/>
                           <xs:enumeration value="N"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="BILLING_NOTICE" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="Y"/>
                           <xs:enumeration value="N"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="BILNGNOTCDAYS" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                           <xs:totalDigits value="3"/>
                           <xs:fractionDigits value="0"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="RETAINMAINCOMPPROP" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="Y"/>
                           <xs:enumeration value="N"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="CONSIDERFORLIQ" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="1"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="BASISAMT" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="1"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="PRODESC" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="255"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="EVNDESC" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="255"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="BASAMTTAG_DESC" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="255"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="BASICAMTCATGDESC" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="255"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="RULEDESC" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="255"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="FLOATRATCDDESC" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="255"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="DESC" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="255"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="FIXEDRATCODESC" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="255"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="NEGATIVE_INTEREST_ALLOWED" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="Y"/>
                           <xs:enumeration value="N"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="ORIGCOMP" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="10"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="SKIMPAYRECEIVE" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="P"/>
                           <xs:enumeration value="R"/>
                           <xs:enumeration value=""/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="SKIMCOMPONENT" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="Y"/>
                           <xs:enumeration value="N"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="MAXSKIMINSTANCEALWD" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                           <xs:totalDigits value="3"/>
                           <xs:fractionDigits value="0"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="RATEFIXINGREQD" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="Y"/>
                           <xs:enumeration value="N"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="ParticipantProdInt-Query-IO-Type">
      <xs:sequence>
         <xs:element name="PRDCD" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="4"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="ParticipantProdInt-Create-IO-Type">
      <xs:sequence>
         <xs:element name="PRDCD" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="4"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="Product-Iccf" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="AMORTIZATIONCONSTCOMPONENT" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="Y"/>
                           <xs:enumeration value="N"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="SPECIALRATETYPE" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="R"/>
                           <xs:enumeration value="A"/>
                           <xs:enumeration value=""/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="PRODUCT" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="4"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="COMPONENT" minOccurs="1">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="10"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="RATE_T" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="F"/>
                           <xs:enumeration value="X"/>
                           <xs:enumeration value="S"/>
                           <xs:enumeration value=""/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="SPECIALPENALTY" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="Y"/>
                           <xs:enumeration value="N"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="CHNGDRGAMNDMNT" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="Y"/>
                           <xs:enumeration value="N"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="FLTRTTYP" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="A"/>
                           <xs:enumeration value="P"/>
                           <xs:enumeration value=""/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="RULE" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="10"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="BORROW_LEND_IND" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="B"/>
                           <xs:enumeration value="L"/>
                           <xs:enumeration value="M"/>
                           <xs:enumeration value=""/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="RATE_CALC_TYPE" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="U"/>
                           <xs:enumeration value="D"/>
                           <xs:enumeration value="I"/>
                           <xs:enumeration value="R"/>
                           <xs:enumeration value=""/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="REFINANCEREQD" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="Y"/>
                           <xs:enumeration value="N"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="STOP_ASSOCIATION" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="Y"/>
                           <xs:enumeration value="N"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="COMPONENTNO" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                           <xs:totalDigits value="4"/>
                           <xs:fractionDigits value="0"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="MARGINAPPLICATION" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="P"/>
                           <xs:enumeration value="A"/>
                           <xs:enumeration value="N"/>
                           <xs:enumeration value=""/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="MARGIN_BASIS" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="F"/>
                           <xs:enumeration value="T"/>
                           <xs:enumeration value="D"/>
                           <xs:enumeration value="C"/>
                           <xs:enumeration value=""/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="COMPONENTSRNO" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                           <xs:totalDigits value="3"/>
                           <xs:fractionDigits value="0"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="PROPAGATION_REQD" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="Y"/>
                           <xs:enumeration value="N"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="MAINCOMP" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="Y"/>
                           <xs:enumeration value="N"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="ONCEAUTH" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="1"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="BASICAMTCATG" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="D"/>
                           <xs:enumeration value="X"/>
                           <xs:enumeration value="O"/>
                           <xs:enumeration value="R"/>
                           <xs:enumeration value="S"/>
                           <xs:enumeration value=""/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="PENALTY_START_DATE_BASIS" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="D"/>
                           <xs:enumeration value="N"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="ACCREQ" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="Y"/>
                           <xs:enumeration value="N"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="RESETTENOR" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                           <xs:totalDigits value="5"/>
                           <xs:fractionDigits value="0"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="RATEREVISIONMETHOD" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="A"/>
                           <xs:enumeration value="M"/>
                           <xs:enumeration value=""/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="INTCOMPUTATION" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="S"/>
                           <xs:enumeration value="C"/>
                           <xs:enumeration value=""/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="HOLCOMPOUND" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="Y"/>
                           <xs:enumeration value="N"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="DEFAULT_WAIVER" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="Y"/>
                           <xs:enumeration value="N"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="LIQ_PREM_COMP" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="Y"/>
                           <xs:enumeration value="N"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="LIQUIDITYPREMIUMTYPE" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="B"/>
                           <xs:enumeration value="C"/>
                           <xs:enumeration value=""/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="AUTORATECODE" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="10"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="FIXEDRATETYPE" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="U"/>
                           <xs:enumeration value="S"/>
                           <xs:enumeration value="T"/>
                           <xs:enumeration value="A"/>
                           <xs:enumeration value=""/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="ONPREPAYMNT" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="Y"/>
                           <xs:enumeration value="N"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="REAPPLYINTONOUTSTAMT" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="Y"/>
                           <xs:enumeration value="N"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="NOINTONPREMATUREWITHDRWL" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="Y"/>
                           <xs:enumeration value="N"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="FIXED_RATE_CD" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="10"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="FLT_RATE_CD" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="10"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="PREPMNTPNLTY" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="10"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="DISACCRAPPL" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="Y"/>
                           <xs:enumeration value="N"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="BILLING_NOTICE" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="Y"/>
                           <xs:enumeration value="N"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="BILNGNOTCDAYS" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                           <xs:totalDigits value="3"/>
                           <xs:fractionDigits value="0"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="RETAINMAINCOMPPROP" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="Y"/>
                           <xs:enumeration value="N"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="CONSIDERFORLIQ" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="1"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="BASISAMT" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="1"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="PRODESC" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="255"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="NEGATIVE_INTEREST_ALLOWED" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="Y"/>
                           <xs:enumeration value="N"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="ORIGCOMP" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="10"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="SKIMPAYRECEIVE" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="P"/>
                           <xs:enumeration value="R"/>
                           <xs:enumeration value=""/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="SKIMCOMPONENT" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="Y"/>
                           <xs:enumeration value="N"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="MAXSKIMINSTANCEALWD" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                           <xs:totalDigits value="3"/>
                           <xs:fractionDigits value="0"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="RATEFIXINGREQD" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="Y"/>
                           <xs:enumeration value="N"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="ParticipantProdInt-Modify-IO-Type">
      <xs:sequence>
         <xs:element name="PRDCD" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="4"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="Product-Iccf" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="AMORTIZATIONCONSTCOMPONENT" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="Y"/>
                           <xs:enumeration value="N"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="SPECIALRATETYPE" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="R"/>
                           <xs:enumeration value="A"/>
                           <xs:enumeration value=""/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="EVENT" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="4"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="BASAMTTAG" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="25"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="RATE_T" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="F"/>
                           <xs:enumeration value="X"/>
                           <xs:enumeration value="S"/>
                           <xs:enumeration value=""/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="SPECIALPENALTY" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="Y"/>
                           <xs:enumeration value="N"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="CHNGDRGAMNDMNT" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="Y"/>
                           <xs:enumeration value="N"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="FLTRTTYP" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="A"/>
                           <xs:enumeration value="P"/>
                           <xs:enumeration value=""/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="RULE" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="10"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="BORROW_LEND_IND" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="B"/>
                           <xs:enumeration value="L"/>
                           <xs:enumeration value="M"/>
                           <xs:enumeration value=""/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="RATE_CALC_TYPE" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="U"/>
                           <xs:enumeration value="D"/>
                           <xs:enumeration value="I"/>
                           <xs:enumeration value="R"/>
                           <xs:enumeration value=""/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="REFINANCEREQD" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="Y"/>
                           <xs:enumeration value="N"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="STOP_ASSOCIATION" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="Y"/>
                           <xs:enumeration value="N"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="COMPONENTNO" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                           <xs:totalDigits value="4"/>
                           <xs:fractionDigits value="0"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="MARGINAPPLICATION" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="P"/>
                           <xs:enumeration value="A"/>
                           <xs:enumeration value="N"/>
                           <xs:enumeration value=""/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="MARGIN_BASIS" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="F"/>
                           <xs:enumeration value="T"/>
                           <xs:enumeration value="D"/>
                           <xs:enumeration value="C"/>
                           <xs:enumeration value=""/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="COMPONENTSRNO" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                           <xs:totalDigits value="3"/>
                           <xs:fractionDigits value="0"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="PROPAGATION_REQD" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="Y"/>
                           <xs:enumeration value="N"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="MAINCOMP" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="Y"/>
                           <xs:enumeration value="N"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="BASICAMTCATG" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="D"/>
                           <xs:enumeration value="X"/>
                           <xs:enumeration value="O"/>
                           <xs:enumeration value="R"/>
                           <xs:enumeration value="S"/>
                           <xs:enumeration value=""/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="PENALTY_START_DATE_BASIS" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="D"/>
                           <xs:enumeration value="N"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="ACCREQ" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="Y"/>
                           <xs:enumeration value="N"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="RESETTENOR" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                           <xs:totalDigits value="5"/>
                           <xs:fractionDigits value="0"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="RATEREVISIONMETHOD" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="A"/>
                           <xs:enumeration value="M"/>
                           <xs:enumeration value=""/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="INTCOMPUTATION" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="S"/>
                           <xs:enumeration value="C"/>
                           <xs:enumeration value=""/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="HOLCOMPOUND" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="Y"/>
                           <xs:enumeration value="N"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="DEFAULT_WAIVER" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="Y"/>
                           <xs:enumeration value="N"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="LIQ_PREM_COMP" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="Y"/>
                           <xs:enumeration value="N"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="LIQUIDITYPREMIUMTYPE" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="B"/>
                           <xs:enumeration value="C"/>
                           <xs:enumeration value=""/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="AUTORATECODE" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="10"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="FIXEDRATETYPE" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="U"/>
                           <xs:enumeration value="S"/>
                           <xs:enumeration value="T"/>
                           <xs:enumeration value="A"/>
                           <xs:enumeration value=""/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="ONPREPAYMNT" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="Y"/>
                           <xs:enumeration value="N"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="REAPPLYINTONOUTSTAMT" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="Y"/>
                           <xs:enumeration value="N"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="NOINTONPREMATUREWITHDRWL" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="Y"/>
                           <xs:enumeration value="N"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="FIXED_RATE_CD" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="10"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="FLT_RATE_CD" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="10"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="PREPMNTPNLTY" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="10"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="DISACCRAPPL" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="Y"/>
                           <xs:enumeration value="N"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="BILLING_NOTICE" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="Y"/>
                           <xs:enumeration value="N"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="BILNGNOTCDAYS" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                           <xs:totalDigits value="3"/>
                           <xs:fractionDigits value="0"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="RETAINMAINCOMPPROP" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="Y"/>
                           <xs:enumeration value="N"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="CONSIDERFORLIQ" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="1"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="BASISAMT" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="1"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="SKIMPAYRECEIVE" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="P"/>
                           <xs:enumeration value="R"/>
                           <xs:enumeration value=""/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="SKIMCOMPONENT" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="Y"/>
                           <xs:enumeration value="N"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="ParticipantProdInt-Authorize-IO-Type">
      <xs:sequence>
         <xs:element name="PRDCD" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="4"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="ParticipantProdInt-Delete-IO-Type">
      <xs:sequence>
         <xs:element name="PRDCD" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="4"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="ParticipantProdInt-Close-IO-Type">
      <xs:sequence>
         <xs:element name="PRDCD" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="4"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="ParticipantProdInt-Reopen-IO-Type">
      <xs:sequence>
         <xs:element name="PRDCD" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="4"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="ParticipantProdInt-Reverse-IO-Type">
      <xs:sequence>
         <xs:element name="PRDCD" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="4"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="ParticipantProdInt-Rollover-IO-Type">
      <xs:sequence>
         <xs:element name="PRDCD" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="4"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="ParticipantProdInt-Confirm-IO-Type">
      <xs:sequence>
         <xs:element name="PRDCD" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="4"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="ParticipantProdInt-Liquidate-IO-Type">
      <xs:sequence>
         <xs:element name="PRDCD" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="4"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="ParticipantProdInt-Summaryquery-IO-Type">
      <xs:sequence>
         <xs:element name="PRDCD" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="4"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
</xs:schema>