WS/OBCLLSService/XSD/SubSys-Stccrdsa-Types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
   <xs:annotation>
      <xs:documentation xml:lang="en">All Types of STCCRDSA
      </xs:documentation>
   </xs:annotation>
   

   <xs:complexType name="Stccrdsa-Full-Type">
      <xs:sequence>
         <xs:element name="BRANCH_CODE" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="CUST_NO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="9"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="ACTNO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="20"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="Sttms-Detail" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="BRANCH_CODE" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="3"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="REQUEST_REFERENCE_NO" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="16"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="CARDNO" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="19"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="CUST_NO" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="9"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="CARD_PRODUCT" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="4"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="PRIMARY_CARD" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="1"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="NAME_ON_CARD" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="35"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="OWNER_ID_NO" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="150"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="CARD_ISSUED_DT" minOccurs="0"  type="xs:date">
                  </xs:element>
                  <xs:element name="CARD_EXPIRY_DT" minOccurs="0"  type="xs:date">
                  </xs:element>
                  <xs:element name="CARD_STATUS" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="1"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="RECORD_STAT" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="1"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="AUTH_STAT" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="1"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="CARD_BIN" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="11"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="CUST_AC_NO" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="20"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="Stccrdsa-Query-IO-Type">
      <xs:sequence>
         <xs:element name="BRANCH_CODE" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="CUST_NO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="9"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="ACTNO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="20"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="Stccrdsa-Create-IO-Type">
      <xs:sequence>
         <xs:element name="BRANCH_CODE" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="CUST_NO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="9"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="ACTNO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="20"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="Sttms-Detail" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="BRANCH_CODE" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="3"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="REQUEST_REFERENCE_NO" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="16"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="CARDNO" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="19"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="CUST_NO" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="9"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="CARD_PRODUCT" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="4"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="PRIMARY_CARD" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="1"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="NAME_ON_CARD" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="35"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="OWNER_ID_NO" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="150"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="CARD_ISSUED_DT" minOccurs="0"  type="xs:date">
                  </xs:element>
                  <xs:element name="CARD_EXPIRY_DT" minOccurs="0"  type="xs:date">
                  </xs:element>
                  <xs:element name="CARD_STATUS" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="1"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="RECORD_STAT" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="1"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="AUTH_STAT" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="1"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="CARD_BIN" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="11"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="CUST_AC_NO" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="20"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="Stccrdsa-Modify-IO-Type">
      <xs:sequence>
         <xs:element name="BRANCH_CODE" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="CUST_NO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="9"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="ACTNO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="20"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="Stccrdsa-Authorize-IO-Type">
      <xs:sequence>
         <xs:element name="BRANCH_CODE" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="CUST_NO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="9"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="ACTNO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="20"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="Stccrdsa-Delete-IO-Type">
      <xs:sequence>
         <xs:element name="BRANCH_CODE" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="CUST_NO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="9"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="ACTNO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="20"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="Stccrdsa-Close-IO-Type">
      <xs:sequence>
         <xs:element name="BRANCH_CODE" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="CUST_NO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="9"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="ACTNO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="20"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="Stccrdsa-Reopen-IO-Type">
      <xs:sequence>
         <xs:element name="BRANCH_CODE" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="CUST_NO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="9"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="ACTNO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="20"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="Stccrdsa-Reverse-IO-Type">
      <xs:sequence>
         <xs:element name="BRANCH_CODE" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="CUST_NO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="9"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="ACTNO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="20"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="Stccrdsa-Rollover-IO-Type">
      <xs:sequence>
         <xs:element name="BRANCH_CODE" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="CUST_NO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="9"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="ACTNO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="20"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="Stccrdsa-Confirm-IO-Type">
      <xs:sequence>
         <xs:element name="BRANCH_CODE" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="CUST_NO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="9"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="ACTNO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="20"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="Stccrdsa-Liquidate-IO-Type">
      <xs:sequence>
         <xs:element name="BRANCH_CODE" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="CUST_NO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="9"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="ACTNO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="20"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="Stccrdsa-Summaryquery-IO-Type">
      <xs:sequence>
         <xs:element name="BRANCH_CODE" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="CUST_NO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="9"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="ACTNO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="20"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
</xs:schema>