WS/OBCLLSService/XSD/SubSys-FCCRCMNT-Types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
   <xs:annotation>
      <xs:documentation xml:lang="en">All Types of FCCRCMNT
      </xs:documentation>
   </xs:annotation>
   

   <xs:complexType name="FCCRCMNT-Full-Type">
      <xs:sequence>
         <xs:element name="CONTRACTREFNUM" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="16"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="PRCODE" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="255"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="DESC" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="255"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="CUSTOMER" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="255"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="CUSTNAME" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="255"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="FACNAME" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="255"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="USERREFNOO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="255"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="Margin-Component" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="BRANCHCODE" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="3"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="CUSTOMER_NO" minOccurs="1">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="20"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="COMPONENT" minOccurs="1">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="10"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="SLABTIER" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="S"/>
                           <xs:enumeration value="T"/>
                           <xs:enumeration value="F"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="AMOUNTTYPE" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="A"/>
                           <xs:enumeration value="P"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="CUSTOMER_NAME" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="255"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="COMPONENT_DESCRIPTION" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="255"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="Margin-Ccy" minOccurs="0" maxOccurs="unbounded">
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element name="CCY" minOccurs="1">
                              <xs:simpleType>
                                 <xs:restriction base="xs:string">
                                    <xs:maxLength value="3"/>
                                 </xs:restriction>
                              </xs:simpleType>
                           </xs:element>
                           <xs:element name="CURRENCY_DESC" minOccurs="0">
                              <xs:simpleType>
                                 <xs:restriction base="xs:string">
                                    <xs:maxLength value="255"/>
                                 </xs:restriction>
                              </xs:simpleType>
                           </xs:element>
                           <xs:element name="Margin-Effdate" minOccurs="0" maxOccurs="unbounded">
                              <xs:complexType>
                                 <xs:sequence>
                                    <xs:element name="EFFECTIVEDATE" minOccurs="1"  type="xs:date">
                                    </xs:element>
                                    <xs:element name="Margin-Rate" minOccurs="0" maxOccurs="unbounded">
                                       <xs:complexType>
                                          <xs:sequence>
                                             <xs:element name="MARGINRATE" minOccurs="1">
                                                <xs:simpleType>
                                                   <xs:restriction base="xs:decimal">
                                                      <xs:totalDigits value="15"/>
                                                      <xs:fractionDigits value="6"/>
                                                   </xs:restriction>
                                                </xs:simpleType>
                                             </xs:element>
                                             <xs:element name="FROMBASAMTPRC" minOccurs="0">
                                                <xs:simpleType>
                                                   <xs:restriction base="xs:decimal">
                                                      <xs:totalDigits value="22"/>
                                                      <xs:fractionDigits value="3"/>
                                                   </xs:restriction>
                                                </xs:simpleType>
                                             </xs:element>
                                             <xs:element name="TOBASISAMTPRC" minOccurs="0">
                                                <xs:simpleType>
                                                   <xs:restriction base="xs:decimal">
                                                      <xs:totalDigits value="22"/>
                                                      <xs:fractionDigits value="3"/>
                                                   </xs:restriction>
                                                </xs:simpleType>
                                             </xs:element>
                                             <xs:element name="TOTAL_RATE" minOccurs="0">
                                                <xs:simpleType>
                                                   <xs:restriction base="xs:decimal">
                                                      <xs:totalDigits value="24"/>
                                                   </xs:restriction>
                                                </xs:simpleType>
                                             </xs:element>
                                             <xs:element name="Participant-Margin" minOccurs="0" maxOccurs="unbounded">
                                                <xs:complexType>
                                                   <xs:sequence>
                                                      <xs:element name="MARGIN_RATE" minOccurs="0">
                                                         <xs:simpleType>
                                                            <xs:restriction base="xs:decimal">
                                                               <xs:totalDigits value="15"/>
                                                               <xs:fractionDigits value="10"/>
                                                            </xs:restriction>
                                                         </xs:simpleType>
                                                      </xs:element>
                                                      <xs:element name="PARTICIPANT" minOccurs="0">
                                                         <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                               <xs:maxLength value="20"/>
                                                            </xs:restriction>
                                                         </xs:simpleType>
                                                      </xs:element>
                                                      <xs:element name="PART_NAME" minOccurs="0">
                                                         <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                               <xs:maxLength value="255"/>
                                                            </xs:restriction>
                                                         </xs:simpleType>
                                                      </xs:element>
                                                      <xs:element name="ASSET_RATIO" minOccurs="0">
                                                         <xs:simpleType>
                                                            <xs:restriction base="xs:decimal">
                                                               <xs:totalDigits value="24"/>
                                                            </xs:restriction>
                                                         </xs:simpleType>
                                                      </xs:element>
                                                      <xs:element name="TOTAL_RATE" minOccurs="0">
                                                         <xs:simpleType>
                                                            <xs:restriction base="xs:decimal">
                                                               <xs:totalDigits value="24"/>
                                                            </xs:restriction>
                                                         </xs:simpleType>
                                                      </xs:element>
                                                   </xs:sequence>
                                                </xs:complexType>
                                             </xs:element>
                                          </xs:sequence>
                                       </xs:complexType>
                                    </xs:element>
                                 </xs:sequence>
                              </xs:complexType>
                           </xs:element>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="Participantdata" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="CONTRACT_REF_NO" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="16"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="SSI_MNEMONIC" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="12"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="EVENT_SEQ_NO" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                           <xs:totalDigits value="22"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="DRAWDOWN_NO" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                           <xs:totalDigits value="22"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="OPERATION" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="1"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="CONTRACT_TYPE" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="2"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="SELF_PARTICIPATION" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="1"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="SETTLEMENT_SEQ_NO" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                           <xs:totalDigits value="4"/>
                           <xs:fractionDigits value="0"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="PARTICIPANT" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="20"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="ORIGINATOR" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="1"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="ASSET_RATIO" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                           <xs:totalDigits value="15"/>
                           <xs:fractionDigits value="10"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="VALUE_DATE" minOccurs="0"  type="xs:date">
                  </xs:element>
                  <xs:element name="VERSION_NO" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                           <xs:totalDigits value="4"/>
                           <xs:fractionDigits value="0"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="NETTING_PREF" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="1"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="FCCRCMNT-Query-IO-Type">
      <xs:sequence>
         <xs:element name="CONTRACTREFNUM" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="16"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="FCCRCMNT-Create-IO-Type">
      <xs:sequence>
         <xs:element name="CONTRACTREFNUM" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="16"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="Margin-Component" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="CUSTOMER_NO" minOccurs="1">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="20"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="COMPONENT" minOccurs="1">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="10"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="AMOUNTTYPE" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="A"/>
                           <xs:enumeration value="P"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="Margin-Ccy" minOccurs="0" maxOccurs="unbounded">
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element name="CCY" minOccurs="1">
                              <xs:simpleType>
                                 <xs:restriction base="xs:string">
                                    <xs:maxLength value="3"/>
                                 </xs:restriction>
                              </xs:simpleType>
                           </xs:element>
                           <xs:element name="Margin-Effdate" minOccurs="0" maxOccurs="unbounded">
                              <xs:complexType>
                                 <xs:sequence>
                                    <xs:element name="EFFECTIVEDATE" minOccurs="1"  type="xs:date">
                                    </xs:element>
                                    <xs:element name="Margin-Rate" minOccurs="0" maxOccurs="unbounded">
                                       <xs:complexType>
                                          <xs:sequence>
                                             <xs:element name="MARGINRATE" minOccurs="1">
                                                <xs:simpleType>
                                                   <xs:restriction base="xs:decimal">
                                                      <xs:totalDigits value="15"/>
                                                      <xs:fractionDigits value="6"/>
                                                   </xs:restriction>
                                                </xs:simpleType>
                                             </xs:element>
                                             <xs:element name="FROMBASAMTPRC" minOccurs="0">
                                                <xs:simpleType>
                                                   <xs:restriction base="xs:decimal">
                                                      <xs:totalDigits value="22"/>
                                                      <xs:fractionDigits value="3"/>
                                                   </xs:restriction>
                                                </xs:simpleType>
                                             </xs:element>
                                             <xs:element name="TOBASISAMTPRC" minOccurs="0">
                                                <xs:simpleType>
                                                   <xs:restriction base="xs:decimal">
                                                      <xs:totalDigits value="22"/>
                                                      <xs:fractionDigits value="3"/>
                                                   </xs:restriction>
                                                </xs:simpleType>
                                             </xs:element>
                                             <xs:element name="Participant-Margin" minOccurs="0" maxOccurs="unbounded">
                                                <xs:complexType>
                                                   <xs:sequence>
                                                      <xs:element name="MARGIN_RATE" minOccurs="0">
                                                         <xs:simpleType>
                                                            <xs:restriction base="xs:decimal">
                                                               <xs:totalDigits value="15"/>
                                                               <xs:fractionDigits value="10"/>
                                                            </xs:restriction>
                                                         </xs:simpleType>
                                                      </xs:element>
                                                      <xs:element name="PARTICIPANT" minOccurs="0">
                                                         <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                               <xs:maxLength value="20"/>
                                                            </xs:restriction>
                                                         </xs:simpleType>
                                                      </xs:element>
                                                      <xs:element name="ASSET_RATIO" minOccurs="0">
                                                         <xs:simpleType>
                                                            <xs:restriction base="xs:decimal">
                                                               <xs:totalDigits value="24"/>
                                                            </xs:restriction>
                                                         </xs:simpleType>
                                                      </xs:element>
                                                   </xs:sequence>
                                                </xs:complexType>
                                             </xs:element>
                                          </xs:sequence>
                                       </xs:complexType>
                                    </xs:element>
                                 </xs:sequence>
                              </xs:complexType>
                           </xs:element>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="Participantdata" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="CONTRACT_REF_NO" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="16"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="SSI_MNEMONIC" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="12"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="EVENT_SEQ_NO" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                           <xs:totalDigits value="22"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="DRAWDOWN_NO" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                           <xs:totalDigits value="22"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="OPERATION" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="1"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="CONTRACT_TYPE" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="2"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="SELF_PARTICIPATION" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="1"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="SETTLEMENT_SEQ_NO" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                           <xs:totalDigits value="4"/>
                           <xs:fractionDigits value="0"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="PARTICIPANT" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="20"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="ORIGINATOR" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="1"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="ASSET_RATIO" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                           <xs:totalDigits value="15"/>
                           <xs:fractionDigits value="10"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="VALUE_DATE" minOccurs="0"  type="xs:date">
                  </xs:element>
                  <xs:element name="VERSION_NO" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                           <xs:totalDigits value="4"/>
                           <xs:fractionDigits value="0"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="NETTING_PREF" minOccurs="0">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="1"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="FCCRCMNT-Modify-IO-Type">
      <xs:sequence>
         <xs:element name="CONTRACTREFNUM" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="16"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="Margin-Ccy" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="CCY" minOccurs="1">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="3"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="CURRENCY_DESC" minOccurs="1">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:maxLength value="255"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="Margin-Effdate" minOccurs="0" maxOccurs="unbounded">
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element name="EFFECTIVEDATE" minOccurs="1"  type="xs:date">
                           </xs:element>
                           <xs:element name="Margin-Rate" minOccurs="0" maxOccurs="unbounded">
                              <xs:complexType>
                                 <xs:sequence>
                                    <xs:element name="MARGINRATE" minOccurs="0">
                                       <xs:simpleType>
                                          <xs:restriction base="xs:decimal">
                                             <xs:totalDigits value="15"/>
                                             <xs:fractionDigits value="6"/>
                                          </xs:restriction>
                                       </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="FROMBASAMTPRC" minOccurs="0">
                                       <xs:simpleType>
                                          <xs:restriction base="xs:decimal">
                                             <xs:totalDigits value="22"/>
                                             <xs:fractionDigits value="3"/>
                                          </xs:restriction>
                                       </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="TOBASISAMTPRC" minOccurs="0">
                                       <xs:simpleType>
                                          <xs:restriction base="xs:decimal">
                                             <xs:totalDigits value="22"/>
                                             <xs:fractionDigits value="3"/>
                                          </xs:restriction>
                                       </xs:simpleType>
                                    </xs:element>
                                 </xs:sequence>
                              </xs:complexType>
                           </xs:element>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="FCCRCMNT-Authorize-IO-Type">
      <xs:sequence>
         <xs:element name="CONTRACTREFNUM" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="16"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="FCCRCMNT-Delete-IO-Type">
      <xs:sequence>
         <xs:element name="CONTRACTREFNUM" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="16"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="FCCRCMNT-Close-IO-Type">
      <xs:sequence>
         <xs:element name="CONTRACTREFNUM" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="16"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="FCCRCMNT-Reopen-IO-Type">
      <xs:sequence>
         <xs:element name="CONTRACTREFNUM" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="16"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="FCCRCMNT-Reverse-IO-Type">
      <xs:sequence>
         <xs:element name="CONTRACTREFNUM" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="16"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="FCCRCMNT-Rollover-IO-Type">
      <xs:sequence>
         <xs:element name="CONTRACTREFNUM" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="16"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="FCCRCMNT-Confirm-IO-Type">
      <xs:sequence>
         <xs:element name="CONTRACTREFNUM" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="16"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="FCCRCMNT-Liquidate-IO-Type">
      <xs:sequence>
         <xs:element name="CONTRACTREFNUM" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="16"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="FCCRCMNT-Summaryquery-IO-Type">
      <xs:sequence>
         <xs:element name="CONTRACTREFNUM" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="16"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
</xs:schema>