INFRA/SMWeb/WEB-INF/XSD/SM-DeleteRoleMaintSMS-Req-Full-MSG.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns="http://sms.ofss.com/ws/SMSUserService" targetNamespace="http://sms.ofss.com/ws/SMSUserService" elementFormDefault="qualified">
   <xs:include schemaLocation="UBS-Messaging.xsd"/>
   <xs:include schemaLocation="SM-RoleMaintSMS-Types.xsd"/>
   <xs:element name="DELETEROLEMAINTSMS_FSFS_REQ">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="FCUBS_HEADER" type="FCUBS_HEADERType"/>
            <xs:element name="FCUBS_BODY">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="Rolemaster-Full" type="RoleMaintSMS-Full-Type"/>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>