INFRA/SMWeb/WEB-INF/wsdl/SMSUserService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
 <wsdl:definitions name="SMSUserService"
 targetNamespace = "http://smsuserservice.ws.sms.ofss.com"
 xmlns:tns = "http://smsuserservice.ws.sms.ofss.com"
 xmlns:wsdlsoap = "http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:wsdl = "http://schemas.xmlsoap.org/wsdl/"
 xmlns:xs = "http://www.w3.org/2001/XMLSchema"
 xmlns="http://schemas.xmlsoap.org/wsdl/"
 xmlns:ns="http://sms.ofss.com/ws/SMSUserService">
<wsdl:types>
   <xs:schema>
     <xs:import namespace="http://sms.ofss.com/ws/SMSUserService"
       schemaLocation="../XSD/SM-AuthorizeRoleMaintSMS-Req-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://sms.ofss.com/ws/SMSUserService"
       schemaLocation="../XSD/SM-AuthorizeRoleMaintSMS-Res-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://sms.ofss.com/ws/SMSUserService"
       schemaLocation="../XSD/SM-AuthorizeRoleMaintSMS-Req-IO-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://sms.ofss.com/ws/SMSUserService"
       schemaLocation="../XSD/SM-AuthorizeRoleMaintSMS-Res-PK-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://sms.ofss.com/ws/SMSUserService"
       schemaLocation="../XSD/SM-AuthorizeUserMaintSMS-Req-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://sms.ofss.com/ws/SMSUserService"
       schemaLocation="../XSD/SM-AuthorizeUserMaintSMS-Res-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://sms.ofss.com/ws/SMSUserService"
       schemaLocation="../XSD/SM-AuthorizeUserMaintSMS-Req-IO-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://sms.ofss.com/ws/SMSUserService"
       schemaLocation="../XSD/SM-AuthorizeUserMaintSMS-Res-PK-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://sms.ofss.com/ws/SMSUserService"
       schemaLocation="../XSD/SM-CloseRoleMaintSMS-Req-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://sms.ofss.com/ws/SMSUserService"
       schemaLocation="../XSD/SM-CloseRoleMaintSMS-Res-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://sms.ofss.com/ws/SMSUserService"
       schemaLocation="../XSD/SM-CloseRoleMaintSMS-Req-IO-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://sms.ofss.com/ws/SMSUserService"
       schemaLocation="../XSD/SM-CloseRoleMaintSMS-Res-PK-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://sms.ofss.com/ws/SMSUserService"
       schemaLocation="../XSD/SM-CloseUserMaintSMS-Req-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://sms.ofss.com/ws/SMSUserService"
       schemaLocation="../XSD/SM-CloseUserMaintSMS-Res-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://sms.ofss.com/ws/SMSUserService"
       schemaLocation="../XSD/SM-CloseUserMaintSMS-Req-IO-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://sms.ofss.com/ws/SMSUserService"
       schemaLocation="../XSD/SM-CloseUserMaintSMS-Res-PK-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://sms.ofss.com/ws/SMSUserService"
       schemaLocation="../XSD/SM-CreateRoleMaintSMS-Req-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://sms.ofss.com/ws/SMSUserService"
       schemaLocation="../XSD/SM-CreateRoleMaintSMS-Res-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://sms.ofss.com/ws/SMSUserService"
       schemaLocation="../XSD/SM-CreateRoleMaintSMS-Req-IO-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://sms.ofss.com/ws/SMSUserService"
       schemaLocation="../XSD/SM-CreateRoleMaintSMS-Res-PK-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://sms.ofss.com/ws/SMSUserService"
       schemaLocation="../XSD/SM-CreateUserMaintSMS-Req-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://sms.ofss.com/ws/SMSUserService"
       schemaLocation="../XSD/SM-CreateUserMaintSMS-Res-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://sms.ofss.com/ws/SMSUserService"
       schemaLocation="../XSD/SM-CreateUserMaintSMS-Req-IO-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://sms.ofss.com/ws/SMSUserService"
       schemaLocation="../XSD/SM-CreateUserMaintSMS-Res-PK-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://sms.ofss.com/ws/SMSUserService"
       schemaLocation="../XSD/SM-DeleteRoleMaintSMS-Req-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://sms.ofss.com/ws/SMSUserService"
       schemaLocation="../XSD/SM-DeleteRoleMaintSMS-Res-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://sms.ofss.com/ws/SMSUserService"
       schemaLocation="../XSD/SM-DeleteRoleMaintSMS-Req-IO-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://sms.ofss.com/ws/SMSUserService"
       schemaLocation="../XSD/SM-DeleteRoleMaintSMS-Res-PK-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://sms.ofss.com/ws/SMSUserService"
       schemaLocation="../XSD/SM-DeleteUserMaintSMS-Req-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://sms.ofss.com/ws/SMSUserService"
       schemaLocation="../XSD/SM-DeleteUserMaintSMS-Res-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://sms.ofss.com/ws/SMSUserService"
       schemaLocation="../XSD/SM-DeleteUserMaintSMS-Req-IO-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://sms.ofss.com/ws/SMSUserService"
       schemaLocation="../XSD/SM-DeleteUserMaintSMS-Res-PK-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://sms.ofss.com/ws/SMSUserService"
       schemaLocation="../XSD/SM-ModifyRoleMaintSMS-Req-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://sms.ofss.com/ws/SMSUserService"
       schemaLocation="../XSD/SM-ModifyRoleMaintSMS-Res-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://sms.ofss.com/ws/SMSUserService"
       schemaLocation="../XSD/SM-ModifyRoleMaintSMS-Req-IO-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://sms.ofss.com/ws/SMSUserService"
       schemaLocation="../XSD/SM-ModifyRoleMaintSMS-Res-PK-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://sms.ofss.com/ws/SMSUserService"
       schemaLocation="../XSD/SM-ModifyUserMaintSMS-Req-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://sms.ofss.com/ws/SMSUserService"
       schemaLocation="../XSD/SM-ModifyUserMaintSMS-Res-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://sms.ofss.com/ws/SMSUserService"
       schemaLocation="../XSD/SM-ModifyUserMaintSMS-Req-IO-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://sms.ofss.com/ws/SMSUserService"
       schemaLocation="../XSD/SM-ModifyUserMaintSMS-Res-PK-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://sms.ofss.com/ws/SMSUserService"
       schemaLocation="../XSD/SM-ProvisionUserMaintSMS-Doc-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://sms.ofss.com/ws/SMSUserService"
       schemaLocation="../XSD/SM-QueryRoleMaintSMS-Res-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://sms.ofss.com/ws/SMSUserService"
       schemaLocation="../XSD/SM-QueryRoleMaintSMS-Req-IO-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://sms.ofss.com/ws/SMSUserService"
       schemaLocation="../XSD/SM-QueryUserMaintSMS-Res-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://sms.ofss.com/ws/SMSUserService"
       schemaLocation="../XSD/SM-QueryUserMaintSMS-Req-IO-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://sms.ofss.com/ws/SMSUserService"
       schemaLocation="../XSD/SM-ReopenRoleMaintSMS-Req-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://sms.ofss.com/ws/SMSUserService"
       schemaLocation="../XSD/SM-ReopenRoleMaintSMS-Res-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://sms.ofss.com/ws/SMSUserService"
       schemaLocation="../XSD/SM-ReopenRoleMaintSMS-Req-IO-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://sms.ofss.com/ws/SMSUserService"
       schemaLocation="../XSD/SM-ReopenRoleMaintSMS-Res-PK-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://sms.ofss.com/ws/SMSUserService"
       schemaLocation="../XSD/SM-ReopenUserMaintSMS-Req-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://sms.ofss.com/ws/SMSUserService"
       schemaLocation="../XSD/SM-ReopenUserMaintSMS-Res-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://sms.ofss.com/ws/SMSUserService"
       schemaLocation="../XSD/SM-ReopenUserMaintSMS-Req-IO-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://sms.ofss.com/ws/SMSUserService"
       schemaLocation="../XSD/SM-ReopenUserMaintSMS-Res-PK-MSG.xsd"/>
   </xs:schema>
</wsdl:types>
<wsdl:message name="AuthorizeRoleMaintSMSFSReq">
   <wsdl:part name="RequestMsg" element="ns:AUTHORIZEROLEMAINTSMS_FSFS_REQ"/>
</wsdl:message> 
<wsdl:message name="AuthorizeRoleMaintSMSFSRes">
   <wsdl:part name="ResponseMsg" element="ns:AUTHORIZEROLEMAINTSMS_FSFS_RES"/>
</wsdl:message> 
<wsdl:message name="AuthorizeRoleMaintSMSIOReq">
   <wsdl:part name="RequestMsg" element="ns:AUTHORIZEROLEMAINTSMS_IOPK_REQ"/>
</wsdl:message> 
<wsdl:message name="AuthorizeRoleMaintSMSPKRes">
   <wsdl:part name="ResponseMsg" element="ns:AUTHORIZEROLEMAINTSMS_IOPK_RES"/>
</wsdl:message> 
<wsdl:message name="AuthorizeUserMaintSMSFSReq">
   <wsdl:part name="RequestMsg" element="ns:AUTHORIZEUSERMAINTSMS_FSFS_REQ"/>
</wsdl:message> 
<wsdl:message name="AuthorizeUserMaintSMSFSRes">
   <wsdl:part name="ResponseMsg" element="ns:AUTHORIZEUSERMAINTSMS_FSFS_RES"/>
</wsdl:message> 
<wsdl:message name="AuthorizeUserMaintSMSIOReq">
   <wsdl:part name="RequestMsg" element="ns:AUTHORIZEUSERMAINTSMS_IOPK_REQ"/>
</wsdl:message> 
<wsdl:message name="AuthorizeUserMaintSMSPKRes">
   <wsdl:part name="ResponseMsg" element="ns:AUTHORIZEUSERMAINTSMS_IOPK_RES"/>
</wsdl:message> 
<wsdl:message name="CloseRoleMaintSMSFSReq">
   <wsdl:part name="RequestMsg" element="ns:CLOSEROLEMAINTSMS_FSFS_REQ"/>
</wsdl:message> 
<wsdl:message name="CloseRoleMaintSMSFSRes">
   <wsdl:part name="ResponseMsg" element="ns:CLOSEROLEMAINTSMS_FSFS_RES"/>
</wsdl:message> 
<wsdl:message name="CloseRoleMaintSMSIOReq">
   <wsdl:part name="RequestMsg" element="ns:CLOSEROLEMAINTSMS_IOPK_REQ"/>
</wsdl:message> 
<wsdl:message name="CloseRoleMaintSMSPKRes">
   <wsdl:part name="ResponseMsg" element="ns:CLOSEROLEMAINTSMS_IOPK_RES"/>
</wsdl:message> 
<wsdl:message name="CloseUserMaintSMSFSReq">
   <wsdl:part name="RequestMsg" element="ns:CLOSEUSERMAINTSMS_FSFS_REQ"/>
</wsdl:message> 
<wsdl:message name="CloseUserMaintSMSFSRes">
   <wsdl:part name="ResponseMsg" element="ns:CLOSEUSERMAINTSMS_FSFS_RES"/>
</wsdl:message> 
<wsdl:message name="CloseUserMaintSMSIOReq">
   <wsdl:part name="RequestMsg" element="ns:CLOSEUSERMAINTSMS_IOPK_REQ"/>
</wsdl:message> 
<wsdl:message name="CloseUserMaintSMSPKRes">
   <wsdl:part name="ResponseMsg" element="ns:CLOSEUSERMAINTSMS_IOPK_RES"/>
</wsdl:message> 
<wsdl:message name="CreateRoleMaintSMSFSReq">
   <wsdl:part name="RequestMsg" element="ns:CREATEROLEMAINTSMS_FSFS_REQ"/>
</wsdl:message> 
<wsdl:message name="CreateRoleMaintSMSFSRes">
   <wsdl:part name="ResponseMsg" element="ns:CREATEROLEMAINTSMS_FSFS_RES"/>
</wsdl:message> 
<wsdl:message name="CreateRoleMaintSMSIOReq">
   <wsdl:part name="RequestMsg" element="ns:CREATEROLEMAINTSMS_IOPK_REQ"/>
</wsdl:message> 
<wsdl:message name="CreateRoleMaintSMSPKRes">
   <wsdl:part name="ResponseMsg" element="ns:CREATEROLEMAINTSMS_IOPK_RES"/>
</wsdl:message> 
<wsdl:message name="CreateUserMaintSMSFSReq">
   <wsdl:part name="RequestMsg" element="ns:CREATEUSERMAINTSMS_FSFS_REQ"/>
</wsdl:message> 
<wsdl:message name="CreateUserMaintSMSFSRes">
   <wsdl:part name="ResponseMsg" element="ns:CREATEUSERMAINTSMS_FSFS_RES"/>
</wsdl:message> 
<wsdl:message name="CreateUserMaintSMSIOReq">
   <wsdl:part name="RequestMsg" element="ns:CREATEUSERMAINTSMS_IOPK_REQ"/>
</wsdl:message> 
<wsdl:message name="CreateUserMaintSMSPKRes">
   <wsdl:part name="ResponseMsg" element="ns:CREATEUSERMAINTSMS_IOPK_RES"/>
</wsdl:message> 
<wsdl:message name="DeleteRoleMaintSMSFSReq">
   <wsdl:part name="RequestMsg" element="ns:DELETEROLEMAINTSMS_FSFS_REQ"/>
</wsdl:message> 
<wsdl:message name="DeleteRoleMaintSMSFSRes">
   <wsdl:part name="ResponseMsg" element="ns:DELETEROLEMAINTSMS_FSFS_RES"/>
</wsdl:message> 
<wsdl:message name="DeleteRoleMaintSMSIOReq">
   <wsdl:part name="RequestMsg" element="ns:DELETEROLEMAINTSMS_IOPK_REQ"/>
</wsdl:message> 
<wsdl:message name="DeleteRoleMaintSMSPKRes">
   <wsdl:part name="ResponseMsg" element="ns:DELETEROLEMAINTSMS_IOPK_RES"/>
</wsdl:message> 
<wsdl:message name="DeleteUserMaintSMSFSReq">
   <wsdl:part name="RequestMsg" element="ns:DELETEUSERMAINTSMS_FSFS_REQ"/>
</wsdl:message> 
<wsdl:message name="DeleteUserMaintSMSFSRes">
   <wsdl:part name="ResponseMsg" element="ns:DELETEUSERMAINTSMS_FSFS_RES"/>
</wsdl:message> 
<wsdl:message name="DeleteUserMaintSMSIOReq">
   <wsdl:part name="RequestMsg" element="ns:DELETEUSERMAINTSMS_IOPK_REQ"/>
</wsdl:message> 
<wsdl:message name="DeleteUserMaintSMSPKRes">
   <wsdl:part name="ResponseMsg" element="ns:DELETEUSERMAINTSMS_IOPK_RES"/>
</wsdl:message> 
<wsdl:message name="ModifyRoleMaintSMSFSReq">
   <wsdl:part name="RequestMsg" element="ns:MODIFYROLEMAINTSMS_FSFS_REQ"/>
</wsdl:message> 
<wsdl:message name="ModifyRoleMaintSMSFSRes">
   <wsdl:part name="ResponseMsg" element="ns:MODIFYROLEMAINTSMS_FSFS_RES"/>
</wsdl:message> 
<wsdl:message name="ModifyRoleMaintSMSIOReq">
   <wsdl:part name="RequestMsg" element="ns:MODIFYROLEMAINTSMS_IOPK_REQ"/>
</wsdl:message> 
<wsdl:message name="ModifyRoleMaintSMSPKRes">
   <wsdl:part name="ResponseMsg" element="ns:MODIFYROLEMAINTSMS_IOPK_RES"/>
</wsdl:message> 
<wsdl:message name="ModifyUserMaintSMSFSReq">
   <wsdl:part name="RequestMsg" element="ns:MODIFYUSERMAINTSMS_FSFS_REQ"/>
</wsdl:message> 
<wsdl:message name="ModifyUserMaintSMSFSRes">
   <wsdl:part name="ResponseMsg" element="ns:MODIFYUSERMAINTSMS_FSFS_RES"/>
</wsdl:message> 
<wsdl:message name="ModifyUserMaintSMSIOReq">
   <wsdl:part name="RequestMsg" element="ns:MODIFYUSERMAINTSMS_IOPK_REQ"/>
</wsdl:message> 
<wsdl:message name="ModifyUserMaintSMSPKRes">
   <wsdl:part name="ResponseMsg" element="ns:MODIFYUSERMAINTSMS_IOPK_RES"/>
</wsdl:message> 
<wsdl:message name="ProvisionUserMaintSMSFSReq">
   <wsdl:part name="RequestMsg" element="ns:PROVISIONUSERMAINTSMS_FSFS_DOC"/>
</wsdl:message> 
<wsdl:message name="ProvisionUserMaintSMSFSRes">
   <wsdl:part name="ResponseMsg" element="ns:PROVISIONUSERMAINTSMS_FSFS_DOC"/>
</wsdl:message>
<wsdl:message name="QueryRoleMaintSMSFSRes">
   <wsdl:part name="ResponseMsg" element="ns:QUERYROLEMAINTSMS_IOFS_RES"/>
</wsdl:message> 
<wsdl:message name="QueryRoleMaintSMSIOReq">
   <wsdl:part name="RequestMsg" element="ns:QUERYROLEMAINTSMS_IOFS_REQ"/>
</wsdl:message> 
<wsdl:message name="QueryUserMaintSMSFSRes">
   <wsdl:part name="ResponseMsg" element="ns:QUERYUSERMAINTSMS_IOFS_RES"/>
</wsdl:message> 
<wsdl:message name="QueryUserMaintSMSIOReq">
   <wsdl:part name="RequestMsg" element="ns:QUERYUSERMAINTSMS_IOFS_REQ"/>
</wsdl:message> 
<wsdl:message name="ReopenRoleMaintSMSFSReq">
   <wsdl:part name="RequestMsg" element="ns:REOPENROLEMAINTSMS_FSFS_REQ"/>
</wsdl:message> 
<wsdl:message name="ReopenRoleMaintSMSFSRes">
   <wsdl:part name="ResponseMsg" element="ns:REOPENROLEMAINTSMS_FSFS_RES"/>
</wsdl:message> 
<wsdl:message name="ReopenRoleMaintSMSIOReq">
   <wsdl:part name="RequestMsg" element="ns:REOPENROLEMAINTSMS_IOPK_REQ"/>
</wsdl:message> 
<wsdl:message name="ReopenRoleMaintSMSPKRes">
   <wsdl:part name="ResponseMsg" element="ns:REOPENROLEMAINTSMS_IOPK_RES"/>
</wsdl:message> 
<wsdl:message name="ReopenUserMaintSMSFSReq">
   <wsdl:part name="RequestMsg" element="ns:REOPENUSERMAINTSMS_FSFS_REQ"/>
</wsdl:message> 
<wsdl:message name="ReopenUserMaintSMSFSRes">
   <wsdl:part name="ResponseMsg" element="ns:REOPENUSERMAINTSMS_FSFS_RES"/>
</wsdl:message> 
<wsdl:message name="ReopenUserMaintSMSIOReq">
   <wsdl:part name="RequestMsg" element="ns:REOPENUSERMAINTSMS_IOPK_REQ"/>
</wsdl:message> 
<wsdl:message name="ReopenUserMaintSMSPKRes">
   <wsdl:part name="ResponseMsg" element="ns:REOPENUSERMAINTSMS_IOPK_RES"/>
</wsdl:message> 
<wsdl:portType name="SMSUserServiceSEI" >
  <wsdl:operation name="AuthorizeRoleMaintSMSIO">
     <wsdl:input message="tns:AuthorizeRoleMaintSMSIOReq"/>
     <wsdl:output message="tns:AuthorizeRoleMaintSMSPKRes"/>
  </wsdl:operation>
  <wsdl:operation name="AuthorizeRoleMaintSMSFS">
     <wsdl:input message="tns:AuthorizeRoleMaintSMSFSReq"/>
     <wsdl:output message="tns:AuthorizeRoleMaintSMSFSRes"/>
  </wsdl:operation>
  <wsdl:operation name="AuthorizeUserMaintSMSIO">
     <wsdl:input message="tns:AuthorizeUserMaintSMSIOReq"/>
     <wsdl:output message="tns:AuthorizeUserMaintSMSPKRes"/>
  </wsdl:operation>
  <wsdl:operation name="AuthorizeUserMaintSMSFS">
     <wsdl:input message="tns:AuthorizeUserMaintSMSFSReq"/>
     <wsdl:output message="tns:AuthorizeUserMaintSMSFSRes"/>
  </wsdl:operation>
  <wsdl:operation name="CloseRoleMaintSMSIO">
     <wsdl:input message="tns:CloseRoleMaintSMSIOReq"/>
     <wsdl:output message="tns:CloseRoleMaintSMSPKRes"/>
  </wsdl:operation>
  <wsdl:operation name="CloseRoleMaintSMSFS">
     <wsdl:input message="tns:CloseRoleMaintSMSFSReq"/>
     <wsdl:output message="tns:CloseRoleMaintSMSFSRes"/>
  </wsdl:operation>
  <wsdl:operation name="CloseUserMaintSMSIO">
     <wsdl:input message="tns:CloseUserMaintSMSIOReq"/>
     <wsdl:output message="tns:CloseUserMaintSMSPKRes"/>
  </wsdl:operation>
  <wsdl:operation name="CloseUserMaintSMSFS">
     <wsdl:input message="tns:CloseUserMaintSMSFSReq"/>
     <wsdl:output message="tns:CloseUserMaintSMSFSRes"/>
  </wsdl:operation>
  <wsdl:operation name="CreateRoleMaintSMSIO">
     <wsdl:input message="tns:CreateRoleMaintSMSIOReq"/>
     <wsdl:output message="tns:CreateRoleMaintSMSPKRes"/>
  </wsdl:operation>
  <wsdl:operation name="CreateRoleMaintSMSFS">
     <wsdl:input message="tns:CreateRoleMaintSMSFSReq"/>
     <wsdl:output message="tns:CreateRoleMaintSMSFSRes"/>
  </wsdl:operation>
  <wsdl:operation name="CreateUserMaintSMSIO">
     <wsdl:input message="tns:CreateUserMaintSMSIOReq"/>
     <wsdl:output message="tns:CreateUserMaintSMSPKRes"/>
  </wsdl:operation>
  <wsdl:operation name="CreateUserMaintSMSFS">
     <wsdl:input message="tns:CreateUserMaintSMSFSReq"/>
     <wsdl:output message="tns:CreateUserMaintSMSFSRes"/>
  </wsdl:operation>
  <wsdl:operation name="DeleteRoleMaintSMSIO">
     <wsdl:input message="tns:DeleteRoleMaintSMSIOReq"/>
     <wsdl:output message="tns:DeleteRoleMaintSMSPKRes"/>
  </wsdl:operation>
  <wsdl:operation name="DeleteRoleMaintSMSFS">
     <wsdl:input message="tns:DeleteRoleMaintSMSFSReq"/>
     <wsdl:output message="tns:DeleteRoleMaintSMSFSRes"/>
  </wsdl:operation>
  <wsdl:operation name="DeleteUserMaintSMSIO">
     <wsdl:input message="tns:DeleteUserMaintSMSIOReq"/>
     <wsdl:output message="tns:DeleteUserMaintSMSPKRes"/>
  </wsdl:operation>
  <wsdl:operation name="DeleteUserMaintSMSFS">
     <wsdl:input message="tns:DeleteUserMaintSMSFSReq"/>
     <wsdl:output message="tns:DeleteUserMaintSMSFSRes"/>
  </wsdl:operation>
  <wsdl:operation name="ModifyRoleMaintSMSIO">
     <wsdl:input message="tns:ModifyRoleMaintSMSIOReq"/>
     <wsdl:output message="tns:ModifyRoleMaintSMSPKRes"/>
  </wsdl:operation>
  <wsdl:operation name="ModifyRoleMaintSMSFS">
     <wsdl:input message="tns:ModifyRoleMaintSMSFSReq"/>
     <wsdl:output message="tns:ModifyRoleMaintSMSFSRes"/>
  </wsdl:operation>
  <wsdl:operation name="ModifyUserMaintSMSIO">
     <wsdl:input message="tns:ModifyUserMaintSMSIOReq"/>
     <wsdl:output message="tns:ModifyUserMaintSMSPKRes"/>
  </wsdl:operation>
  <wsdl:operation name="ModifyUserMaintSMSFS">
     <wsdl:input message="tns:ModifyUserMaintSMSFSReq"/>
     <wsdl:output message="tns:ModifyUserMaintSMSFSRes"/>
  </wsdl:operation>
  <wsdl:operation name="ProvisionUserMaintSMSFS">
     <wsdl:input message="tns:ProvisionUserMaintSMSFSReq"/>
     <wsdl:output message="tns:ProvisionUserMaintSMSFSRes"/>
  </wsdl:operation>
  <wsdl:operation name="QueryRoleMaintSMSIO">
     <wsdl:input message="tns:QueryRoleMaintSMSIOReq"/>
     <wsdl:output message="tns:QueryRoleMaintSMSFSRes"/>
  </wsdl:operation>
  <wsdl:operation name="QueryUserMaintSMSIO">
     <wsdl:input message="tns:QueryUserMaintSMSIOReq"/>
     <wsdl:output message="tns:QueryUserMaintSMSFSRes"/>
  </wsdl:operation>
  <wsdl:operation name="ReopenRoleMaintSMSIO">
     <wsdl:input message="tns:ReopenRoleMaintSMSIOReq"/>
     <wsdl:output message="tns:ReopenRoleMaintSMSPKRes"/>
  </wsdl:operation>
  <wsdl:operation name="ReopenRoleMaintSMSFS">
     <wsdl:input message="tns:ReopenRoleMaintSMSFSReq"/>
     <wsdl:output message="tns:ReopenRoleMaintSMSFSRes"/>
  </wsdl:operation>
  <wsdl:operation name="ReopenUserMaintSMSIO">
     <wsdl:input message="tns:ReopenUserMaintSMSIOReq"/>
     <wsdl:output message="tns:ReopenUserMaintSMSPKRes"/>
  </wsdl:operation>
  <wsdl:operation name="ReopenUserMaintSMSFS">
     <wsdl:input message="tns:ReopenUserMaintSMSFSReq"/>
     <wsdl:output message="tns:ReopenUserMaintSMSFSRes"/>
  </wsdl:operation>
</wsdl:portType>
<wsdl:binding name="SMSUserService" type="tns:SMSUserServiceSEI">
<wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  <wsdl:operation name="AuthorizeRoleMaintSMSFS">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="AuthorizeRoleMaintSMSIO">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="AuthorizeUserMaintSMSFS">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="AuthorizeUserMaintSMSIO">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="CloseRoleMaintSMSFS">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="CloseRoleMaintSMSIO">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="CloseUserMaintSMSFS">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="CloseUserMaintSMSIO">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="CreateRoleMaintSMSFS">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="CreateRoleMaintSMSIO">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="CreateUserMaintSMSFS">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="CreateUserMaintSMSIO">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="DeleteRoleMaintSMSFS">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="DeleteRoleMaintSMSIO">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="DeleteUserMaintSMSFS">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="DeleteUserMaintSMSIO">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="ModifyRoleMaintSMSFS">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="ModifyRoleMaintSMSIO">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="ModifyUserMaintSMSFS">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="ModifyUserMaintSMSIO">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="ProvisionUserMaintSMSFS">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="QueryRoleMaintSMSIO">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="QueryUserMaintSMSIO">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="ReopenRoleMaintSMSFS">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="ReopenRoleMaintSMSIO">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="ReopenUserMaintSMSFS">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="ReopenUserMaintSMSIO">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
</wsdl:binding>
   <wsdl:service name="SMSUserService">
       <wsdl:port name="SMSUserServiceSEI" binding="tns:SMSUserService">
           <wsdlsoap:address location="http://localhost:9080/SMSUserService/services/SMSUserService"/>
       </wsdl:port>
   </wsdl:service>
</wsdl:definitions>