WS/FCUBSCoreentitiesService/XSD/IF-CloseGWDETFUN-Req-IO-MSG.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns="http://fcubs.ofss.com/service/FCUBSCoreentitiesService" targetNamespace="http://fcubs.ofss.com/service/FCUBSCoreentitiesService" elementFormDefault="qualified">
   <xs:include schemaLocation="UBS-Messaging.xsd"/>
   <xs:include schemaLocation="IF-GWDETFUN-Types.xsd"/>
   <xs:element name="CLOSEGWDETFUN_IOPK_REQ">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="FCUBS_HEADER" type="FCUBS_HEADERType"/>
            <xs:element name="FCUBS_BODY">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="Gwtms-Ext-Sys-Functions-IO" type="GWDETFUN-Close-IO-Type"/>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>