WS/FCUBSCoreentitiesService/XSD/IS-ModifyBICCODE-Res-PK-MSG.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns="http://fcubs.ofss.com/service/FCUBSCoreentitiesService" targetNamespace="http://fcubs.ofss.com/service/FCUBSCoreentitiesService" elementFormDefault="qualified">
   <xs:include schemaLocation="UBS-Messaging.xsd"/>
   <xs:include schemaLocation="IS-BICCODE-Types.xsd"/>
   <xs:element name="MODIFYBICCODE_IOPK_RES">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="FCUBS_HEADER" type="FCUBS_HEADERType"/>
            <xs:element name="FCUBS_BODY">
               <xs:complexType>
                  <xs:sequence>
                     <xs:choice>
                        <xs:element name="Istms-Bic-Directory-PK" type="BICCODE-PK-Type"/>
                        <xs:element name="Istms-Bic-Directory-IO" type="BICCODE-Modify-IO-Type"/>
                     </xs:choice>
                     <xs:element name="FCUBS_ERROR_RESP" type="ERRORType" minOccurs="0" maxOccurs="unbounded"/>
                     <xs:element name="FCUBS_WARNING_RESP" type="WARNINGType" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>