WS/FCUBSCoreentitiesService/XSD/IS-QueryISDBKDIR-Req-IO-MSG.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns="http://fcubs.ofss.com/service/FCUBSCoreentitiesService" targetNamespace="http://fcubs.ofss.com/service/FCUBSCoreentitiesService" elementFormDefault="qualified">
   <xs:include schemaLocation="UBS-Messaging.xsd"/>
   <xs:include schemaLocation="IS-ISDBKDIR-Types.xsd"/>
   <xs:element name="QUERYISDBKDIR_IOFS_REQ">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="FCUBS_HEADER" type="FCUBS_HEADERType"/>
            <xs:element name="FCUBS_BODY">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="Pmtm-Local-Bank-Dir-IO" type="ISDBKDIR-Query-IO-Type"/>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>