WS/FCUBSCoreentitiesService/XSD/ST-STDCRMCA-Types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
   <xs:annotation>
      <xs:documentation xml:lang="en">All Types of STDCRMCA
      </xs:documentation>
   </xs:annotation>
   

   <xs:complexType name="STDCRMCA-PK-Type">
      <xs:sequence>
         <xs:element name="MULTI_CCY_AC_NO" minOccurs="1">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="34"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="SUB_AC_NO" minOccurs="1">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="34"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="CUST_AC_CCY" minOccurs="1">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="STDCRMCA-Full-Type">
      <xs:sequence>
         <xs:element name="CUST_AC_CCY" minOccurs="1">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="MULTI_CCY_AC_NO" minOccurs="1">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="34"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="PACCOUNT" minOccurs="1">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:enumeration value="Y"/>
                  <xs:enumeration value="N"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="SUB_AC_NO" minOccurs="1">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="34"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="MAKER" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="320"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="MAKERSTAMP" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="35"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="CHECKER" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="320"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="CHECKERSTAMP" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="35"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="MODNO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="4"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="TXNSTAT" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="1"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="AUTHSTAT" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="1"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="STDCRMCA-Query-IO-Type">
      <xs:sequence>
         <xs:element name="CUST_AC_CCY" minOccurs="1">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="MULTI_CCY_AC_NO" minOccurs="1">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="34"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="SUB_AC_NO" minOccurs="1">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="34"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="STDCRMCA-Create-IO-Type">
      <xs:sequence>
         <xs:element name="CUST_AC_CCY" minOccurs="1">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="MULTI_CCY_AC_NO" minOccurs="1">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="34"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="PACCOUNT" minOccurs="1">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:enumeration value="Y"/>
                  <xs:enumeration value="N"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="SUB_AC_NO" minOccurs="1">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="34"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="STDCRMCA-Modify-IO-Type">
      <xs:sequence>
         <xs:element name="CUST_AC_CCY" minOccurs="1">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="MULTI_CCY_AC_NO" minOccurs="1">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="34"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="PACCOUNT" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:enumeration value="Y"/>
                  <xs:enumeration value="N"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="SUB_AC_NO" minOccurs="1">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="34"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="MAKER" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="320"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="MAKERSTAMP" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="35"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="STDCRMCA-Authorize-IO-Type">
      <xs:sequence>
         <xs:element name="CUST_AC_CCY" minOccurs="1">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="MULTI_CCY_AC_NO" minOccurs="1">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="34"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="SUB_AC_NO" minOccurs="1">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="34"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="CHECKER" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="320"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="CHECKERSTAMP" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="35"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="MODNO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="4"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="STDCRMCA-Delete-IO-Type">
      <xs:sequence>
         <xs:element name="CUST_AC_CCY" minOccurs="1">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="MULTI_CCY_AC_NO" minOccurs="1">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="34"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="SUB_AC_NO" minOccurs="1">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="34"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="STDCRMCA-Close-IO-Type">
      <xs:sequence>
         <xs:element name="CUST_AC_CCY" minOccurs="1">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="MULTI_CCY_AC_NO" minOccurs="1">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="34"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="SUB_AC_NO" minOccurs="1">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="34"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="MAKER" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="320"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="MAKERSTAMP" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="35"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="MODNO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="4"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   

   <xs:complexType name="STDCRMCA-Reopen-IO-Type">
      <xs:sequence>
         <xs:element name="CUST_AC_CCY" minOccurs="1">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="MULTI_CCY_AC_NO" minOccurs="1">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="34"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="SUB_AC_NO" minOccurs="1">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="34"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="MAKER" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="320"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="MAKERSTAMP" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="35"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="MODNO" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="4"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
</xs:schema>