WS/FCUBSSMService/wsdl/FCUBSSMService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
 <wsdl:definitions name="FCUBSSMService"
 targetNamespace = "http://FCUBSSMService.types.ws.gw.fcubs.ofss.com"
 xmlns:tns = "http://FCUBSSMService.types.ws.gw.fcubs.ofss.com"
 xmlns:wsdlsoap = "http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:wsdl = "http://schemas.xmlsoap.org/wsdl/"
 xmlns:xs = "http://www.w3.org/2001/XMLSchema"
 xmlns="http://schemas.xmlsoap.org/wsdl/"
 xmlns:ns="http://fcubs.ofss.com/service/FCUBSSMService">
<wsdl:types>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSSMService"
       schemaLocation="../XSD/SM-AuthorizeSMRole-Req-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSSMService"
       schemaLocation="../XSD/SM-AuthorizeSMRole-Res-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSSMService"
       schemaLocation="../XSD/SM-AuthorizeSMRole-Req-IO-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSSMService"
       schemaLocation="../XSD/SM-AuthorizeSMRole-Res-PK-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSSMService"
       schemaLocation="../XSD/SM-AuthorizeUserMaint-Req-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSSMService"
       schemaLocation="../XSD/SM-AuthorizeUserMaint-Res-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSSMService"
       schemaLocation="../XSD/SM-AuthorizeUserMaint-Req-IO-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSSMService"
       schemaLocation="../XSD/SM-AuthorizeUserMaint-Res-PK-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSSMService"
       schemaLocation="../XSD/SM-CloseUserMaint-Req-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSSMService"
       schemaLocation="../XSD/SM-CloseUserMaint-Res-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSSMService"
       schemaLocation="../XSD/SM-CloseUserMaint-Req-IO-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSSMService"
       schemaLocation="../XSD/SM-CloseUserMaint-Res-PK-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSSMService"
       schemaLocation="../XSD/SM-CreateSMRole-Req-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSSMService"
       schemaLocation="../XSD/SM-CreateSMRole-Res-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSSMService"
       schemaLocation="../XSD/SM-CreateSMRole-Req-IO-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSSMService"
       schemaLocation="../XSD/SM-CreateSMRole-Res-PK-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSSMService"
       schemaLocation="../XSD/SM-CreateUserMaint-Req-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSSMService"
       schemaLocation="../XSD/SM-CreateUserMaint-Res-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSSMService"
       schemaLocation="../XSD/SM-CreateUserMaint-Req-IO-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSSMService"
       schemaLocation="../XSD/SM-CreateUserMaint-Res-PK-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSSMService"
       schemaLocation="../XSD/SM-DeleteSMRole-Req-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSSMService"
       schemaLocation="../XSD/SM-DeleteSMRole-Res-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSSMService"
       schemaLocation="../XSD/SM-DeleteSMRole-Req-IO-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSSMService"
       schemaLocation="../XSD/SM-DeleteSMRole-Res-PK-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSSMService"
       schemaLocation="../XSD/SM-DeleteUserMaint-Req-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSSMService"
       schemaLocation="../XSD/SM-DeleteUserMaint-Res-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSSMService"
       schemaLocation="../XSD/SM-DeleteUserMaint-Req-IO-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSSMService"
       schemaLocation="../XSD/SM-DeleteUserMaint-Res-PK-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSSMService"
       schemaLocation="../XSD/SM-ModifySMRole-Req-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSSMService"
       schemaLocation="../XSD/SM-ModifySMRole-Res-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSSMService"
       schemaLocation="../XSD/SM-ModifySMRole-Req-IO-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSSMService"
       schemaLocation="../XSD/SM-ModifySMRole-Res-PK-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSSMService"
       schemaLocation="../XSD/SM-ModifyUserMaint-Req-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSSMService"
       schemaLocation="../XSD/SM-ModifyUserMaint-Res-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSSMService"
       schemaLocation="../XSD/SM-ModifyUserMaint-Req-IO-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSSMService"
       schemaLocation="../XSD/SM-ModifyUserMaint-Res-PK-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSSMService"
       schemaLocation="../XSD/SM-QuerySMRole-Res-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSSMService"
       schemaLocation="../XSD/SM-QuerySMRole-Req-IO-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSSMService"
       schemaLocation="../XSD/SM-QueryUserMaint-Res-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSSMService"
       schemaLocation="../XSD/SM-QueryUserMaint-Req-IO-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSSMService"
       schemaLocation="../XSD/SM-ReopenUserMaint-Req-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSSMService"
       schemaLocation="../XSD/SM-ReopenUserMaint-Res-Full-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSSMService"
       schemaLocation="../XSD/SM-ReopenUserMaint-Req-IO-MSG.xsd"/>
   </xs:schema>
   <xs:schema>
     <xs:import namespace="http://fcubs.ofss.com/service/FCUBSSMService"
       schemaLocation="../XSD/SM-ReopenUserMaint-Res-PK-MSG.xsd"/>
   </xs:schema>
</wsdl:types>
<wsdl:message name="AuthorizeSMRoleFSReq">
   <wsdl:part name="RequestMsg" element="ns:AUTHORIZESMROLE_FSFS_REQ"/>
</wsdl:message> 
<wsdl:message name="AuthorizeSMRoleFSRes">
   <wsdl:part name="ResponseMsg" element="ns:AUTHORIZESMROLE_FSFS_RES"/>
</wsdl:message> 
<wsdl:message name="AuthorizeSMRoleIOReq">
   <wsdl:part name="RequestMsg" element="ns:AUTHORIZESMROLE_IOPK_REQ"/>
</wsdl:message> 
<wsdl:message name="AuthorizeSMRolePKRes">
   <wsdl:part name="ResponseMsg" element="ns:AUTHORIZESMROLE_IOPK_RES"/>
</wsdl:message> 
<wsdl:message name="AuthorizeUserMaintFSReq">
   <wsdl:part name="RequestMsg" element="ns:AUTHORIZEUSERMAINT_FSFS_REQ"/>
</wsdl:message> 
<wsdl:message name="AuthorizeUserMaintFSRes">
   <wsdl:part name="ResponseMsg" element="ns:AUTHORIZEUSERMAINT_FSFS_RES"/>
</wsdl:message> 
<wsdl:message name="AuthorizeUserMaintIOReq">
   <wsdl:part name="RequestMsg" element="ns:AUTHORIZEUSERMAINT_IOPK_REQ"/>
</wsdl:message> 
<wsdl:message name="AuthorizeUserMaintPKRes">
   <wsdl:part name="ResponseMsg" element="ns:AUTHORIZEUSERMAINT_IOPK_RES"/>
</wsdl:message> 
<wsdl:message name="CloseUserMaintFSReq">
   <wsdl:part name="RequestMsg" element="ns:CLOSEUSERMAINT_FSFS_REQ"/>
</wsdl:message> 
<wsdl:message name="CloseUserMaintFSRes">
   <wsdl:part name="ResponseMsg" element="ns:CLOSEUSERMAINT_FSFS_RES"/>
</wsdl:message> 
<wsdl:message name="CloseUserMaintIOReq">
   <wsdl:part name="RequestMsg" element="ns:CLOSEUSERMAINT_IOPK_REQ"/>
</wsdl:message> 
<wsdl:message name="CloseUserMaintPKRes">
   <wsdl:part name="ResponseMsg" element="ns:CLOSEUSERMAINT_IOPK_RES"/>
</wsdl:message> 
<wsdl:message name="CreateSMRoleFSReq">
   <wsdl:part name="RequestMsg" element="ns:CREATESMROLE_FSFS_REQ"/>
</wsdl:message> 
<wsdl:message name="CreateSMRoleFSRes">
   <wsdl:part name="ResponseMsg" element="ns:CREATESMROLE_FSFS_RES"/>
</wsdl:message> 
<wsdl:message name="CreateSMRoleIOReq">
   <wsdl:part name="RequestMsg" element="ns:CREATESMROLE_IOPK_REQ"/>
</wsdl:message> 
<wsdl:message name="CreateSMRolePKRes">
   <wsdl:part name="ResponseMsg" element="ns:CREATESMROLE_IOPK_RES"/>
</wsdl:message> 
<wsdl:message name="CreateUserMaintFSReq">
   <wsdl:part name="RequestMsg" element="ns:CREATEUSERMAINT_FSFS_REQ"/>
</wsdl:message> 
<wsdl:message name="CreateUserMaintFSRes">
   <wsdl:part name="ResponseMsg" element="ns:CREATEUSERMAINT_FSFS_RES"/>
</wsdl:message> 
<wsdl:message name="CreateUserMaintIOReq">
   <wsdl:part name="RequestMsg" element="ns:CREATEUSERMAINT_IOPK_REQ"/>
</wsdl:message> 
<wsdl:message name="CreateUserMaintPKRes">
   <wsdl:part name="ResponseMsg" element="ns:CREATEUSERMAINT_IOPK_RES"/>
</wsdl:message> 
<wsdl:message name="DeleteSMRoleFSReq">
   <wsdl:part name="RequestMsg" element="ns:DELETESMROLE_FSFS_REQ"/>
</wsdl:message> 
<wsdl:message name="DeleteSMRoleFSRes">
   <wsdl:part name="ResponseMsg" element="ns:DELETESMROLE_FSFS_RES"/>
</wsdl:message> 
<wsdl:message name="DeleteSMRoleIOReq">
   <wsdl:part name="RequestMsg" element="ns:DELETESMROLE_IOPK_REQ"/>
</wsdl:message> 
<wsdl:message name="DeleteSMRolePKRes">
   <wsdl:part name="ResponseMsg" element="ns:DELETESMROLE_IOPK_RES"/>
</wsdl:message> 
<wsdl:message name="DeleteUserMaintFSReq">
   <wsdl:part name="RequestMsg" element="ns:DELETEUSERMAINT_FSFS_REQ"/>
</wsdl:message> 
<wsdl:message name="DeleteUserMaintFSRes">
   <wsdl:part name="ResponseMsg" element="ns:DELETEUSERMAINT_FSFS_RES"/>
</wsdl:message> 
<wsdl:message name="DeleteUserMaintIOReq">
   <wsdl:part name="RequestMsg" element="ns:DELETEUSERMAINT_IOPK_REQ"/>
</wsdl:message> 
<wsdl:message name="DeleteUserMaintPKRes">
   <wsdl:part name="ResponseMsg" element="ns:DELETEUSERMAINT_IOPK_RES"/>
</wsdl:message> 
<wsdl:message name="ModifySMRoleFSReq">
   <wsdl:part name="RequestMsg" element="ns:MODIFYSMROLE_FSFS_REQ"/>
</wsdl:message> 
<wsdl:message name="ModifySMRoleFSRes">
   <wsdl:part name="ResponseMsg" element="ns:MODIFYSMROLE_FSFS_RES"/>
</wsdl:message> 
<wsdl:message name="ModifySMRoleIOReq">
   <wsdl:part name="RequestMsg" element="ns:MODIFYSMROLE_IOPK_REQ"/>
</wsdl:message> 
<wsdl:message name="ModifySMRolePKRes">
   <wsdl:part name="ResponseMsg" element="ns:MODIFYSMROLE_IOPK_RES"/>
</wsdl:message> 
<wsdl:message name="ModifyUserMaintFSReq">
   <wsdl:part name="RequestMsg" element="ns:MODIFYUSERMAINT_FSFS_REQ"/>
</wsdl:message> 
<wsdl:message name="ModifyUserMaintFSRes">
   <wsdl:part name="ResponseMsg" element="ns:MODIFYUSERMAINT_FSFS_RES"/>
</wsdl:message> 
<wsdl:message name="ModifyUserMaintIOReq">
   <wsdl:part name="RequestMsg" element="ns:MODIFYUSERMAINT_IOPK_REQ"/>
</wsdl:message> 
<wsdl:message name="ModifyUserMaintPKRes">
   <wsdl:part name="ResponseMsg" element="ns:MODIFYUSERMAINT_IOPK_RES"/>
</wsdl:message> 
<wsdl:message name="QuerySMRoleFSRes">
   <wsdl:part name="ResponseMsg" element="ns:QUERYSMROLE_IOFS_RES"/>
</wsdl:message> 
<wsdl:message name="QuerySMRoleIOReq">
   <wsdl:part name="RequestMsg" element="ns:QUERYSMROLE_IOFS_REQ"/>
</wsdl:message> 
<wsdl:message name="QueryUserMaintFSRes">
   <wsdl:part name="ResponseMsg" element="ns:QUERYUSERMAINT_IOFS_RES"/>
</wsdl:message> 
<wsdl:message name="QueryUserMaintIOReq">
   <wsdl:part name="RequestMsg" element="ns:QUERYUSERMAINT_IOFS_REQ"/>
</wsdl:message> 
<wsdl:message name="ReopenUserMaintFSReq">
   <wsdl:part name="RequestMsg" element="ns:REOPENUSERMAINT_FSFS_REQ"/>
</wsdl:message> 
<wsdl:message name="ReopenUserMaintFSRes">
   <wsdl:part name="ResponseMsg" element="ns:REOPENUSERMAINT_FSFS_RES"/>
</wsdl:message> 
<wsdl:message name="ReopenUserMaintIOReq">
   <wsdl:part name="RequestMsg" element="ns:REOPENUSERMAINT_IOPK_REQ"/>
</wsdl:message> 
<wsdl:message name="ReopenUserMaintPKRes">
   <wsdl:part name="ResponseMsg" element="ns:REOPENUSERMAINT_IOPK_RES"/>
</wsdl:message> 
<wsdl:portType name="FCUBSSMServiceSEI" >
  <wsdl:operation name="AuthorizeSMRoleIO">
     <wsdl:input message="tns:AuthorizeSMRoleIOReq"/>
     <wsdl:output message="tns:AuthorizeSMRolePKRes"/>
  </wsdl:operation>
  <wsdl:operation name="AuthorizeSMRoleFS">
     <wsdl:input message="tns:AuthorizeSMRoleFSReq"/>
     <wsdl:output message="tns:AuthorizeSMRoleFSRes"/>
  </wsdl:operation>
  <wsdl:operation name="AuthorizeUserMaintIO">
     <wsdl:input message="tns:AuthorizeUserMaintIOReq"/>
     <wsdl:output message="tns:AuthorizeUserMaintPKRes"/>
  </wsdl:operation>
  <wsdl:operation name="AuthorizeUserMaintFS">
     <wsdl:input message="tns:AuthorizeUserMaintFSReq"/>
     <wsdl:output message="tns:AuthorizeUserMaintFSRes"/>
  </wsdl:operation>
  <wsdl:operation name="CloseUserMaintIO">
     <wsdl:input message="tns:CloseUserMaintIOReq"/>
     <wsdl:output message="tns:CloseUserMaintPKRes"/>
  </wsdl:operation>
  <wsdl:operation name="CloseUserMaintFS">
     <wsdl:input message="tns:CloseUserMaintFSReq"/>
     <wsdl:output message="tns:CloseUserMaintFSRes"/>
  </wsdl:operation>
  <wsdl:operation name="CreateSMRoleIO">
     <wsdl:input message="tns:CreateSMRoleIOReq"/>
     <wsdl:output message="tns:CreateSMRolePKRes"/>
  </wsdl:operation>
  <wsdl:operation name="CreateSMRoleFS">
     <wsdl:input message="tns:CreateSMRoleFSReq"/>
     <wsdl:output message="tns:CreateSMRoleFSRes"/>
  </wsdl:operation>
  <wsdl:operation name="CreateUserMaintIO">
     <wsdl:input message="tns:CreateUserMaintIOReq"/>
     <wsdl:output message="tns:CreateUserMaintPKRes"/>
  </wsdl:operation>
  <wsdl:operation name="CreateUserMaintFS">
     <wsdl:input message="tns:CreateUserMaintFSReq"/>
     <wsdl:output message="tns:CreateUserMaintFSRes"/>
  </wsdl:operation>
  <wsdl:operation name="DeleteSMRoleIO">
     <wsdl:input message="tns:DeleteSMRoleIOReq"/>
     <wsdl:output message="tns:DeleteSMRolePKRes"/>
  </wsdl:operation>
  <wsdl:operation name="DeleteSMRoleFS">
     <wsdl:input message="tns:DeleteSMRoleFSReq"/>
     <wsdl:output message="tns:DeleteSMRoleFSRes"/>
  </wsdl:operation>
  <wsdl:operation name="DeleteUserMaintIO">
     <wsdl:input message="tns:DeleteUserMaintIOReq"/>
     <wsdl:output message="tns:DeleteUserMaintPKRes"/>
  </wsdl:operation>
  <wsdl:operation name="DeleteUserMaintFS">
     <wsdl:input message="tns:DeleteUserMaintFSReq"/>
     <wsdl:output message="tns:DeleteUserMaintFSRes"/>
  </wsdl:operation>
  <wsdl:operation name="ModifySMRoleIO">
     <wsdl:input message="tns:ModifySMRoleIOReq"/>
     <wsdl:output message="tns:ModifySMRolePKRes"/>
  </wsdl:operation>
  <wsdl:operation name="ModifySMRoleFS">
     <wsdl:input message="tns:ModifySMRoleFSReq"/>
     <wsdl:output message="tns:ModifySMRoleFSRes"/>
  </wsdl:operation>
  <wsdl:operation name="ModifyUserMaintIO">
     <wsdl:input message="tns:ModifyUserMaintIOReq"/>
     <wsdl:output message="tns:ModifyUserMaintPKRes"/>
  </wsdl:operation>
  <wsdl:operation name="ModifyUserMaintFS">
     <wsdl:input message="tns:ModifyUserMaintFSReq"/>
     <wsdl:output message="tns:ModifyUserMaintFSRes"/>
  </wsdl:operation>
  <wsdl:operation name="QuerySMRoleIO">
     <wsdl:input message="tns:QuerySMRoleIOReq"/>
     <wsdl:output message="tns:QuerySMRoleFSRes"/>
  </wsdl:operation>
  <wsdl:operation name="QueryUserMaintIO">
     <wsdl:input message="tns:QueryUserMaintIOReq"/>
     <wsdl:output message="tns:QueryUserMaintFSRes"/>
  </wsdl:operation>
  <wsdl:operation name="ReopenUserMaintIO">
     <wsdl:input message="tns:ReopenUserMaintIOReq"/>
     <wsdl:output message="tns:ReopenUserMaintPKRes"/>
  </wsdl:operation>
  <wsdl:operation name="ReopenUserMaintFS">
     <wsdl:input message="tns:ReopenUserMaintFSReq"/>
     <wsdl:output message="tns:ReopenUserMaintFSRes"/>
  </wsdl:operation>
</wsdl:portType>
<wsdl:binding name="FCUBSSMService" type="tns:FCUBSSMServiceSEI">
<wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  <wsdl:operation name="AuthorizeSMRoleFS">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="AuthorizeSMRoleIO">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="AuthorizeUserMaintFS">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="AuthorizeUserMaintIO">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="CloseUserMaintFS">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="CloseUserMaintIO">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="CreateSMRoleFS">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="CreateSMRoleIO">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="CreateUserMaintFS">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="CreateUserMaintIO">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="DeleteSMRoleFS">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="DeleteSMRoleIO">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="DeleteUserMaintFS">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="DeleteUserMaintIO">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="ModifySMRoleFS">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="ModifySMRoleIO">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="ModifyUserMaintFS">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="ModifyUserMaintIO">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="QuerySMRoleIO">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="QueryUserMaintIO">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="ReopenUserMaintFS">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="ReopenUserMaintIO">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
       <wsdl:output>
           <wsdlsoap:body use="literal"/>
       </wsdl:output>
  </wsdl:operation>
</wsdl:binding>
   <wsdl:service name="FCUBSSMService">
       <wsdl:port name="FCUBSSMServiceSEI" binding="tns:FCUBSSMService">
           <wsdlsoap:address location="http://localhost:9080/FCUBSSMService/services/FCUBSSMService"/>
       </wsdl:port>
   </wsdl:service>
</wsdl:definitions>