ADAPTERS/DMS/Oracle_IPM_ADAPTER/src/com/ofss/ucm/docservice/DocumentService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions
     name="DocumentService"
     targetNamespace="http://imaging.oracle/"
     xmlns="http://schemas.xmlsoap.org/wsdl/"
     xmlns:tns="http://imaging.oracle/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    >
    <types>
        <xsd:schema>
            <xsd:import namespace="http://imaging.oracle/" schemaLocation="DocumentService.xsd"/>
        </xsd:schema>
    </types>
    <message name="getAnnotations"/>
    <message name="getAnnotationsResponse"/>
    <message name="ImagingException">
        <part name="fault" element="tns:ImagingException"/>
    </message>
    <message name="setAnnotations"/>
    <message name="setAnnotationsResponse"/>
    <message name="createDocument">
        <part name="parameters" element="tns:createDocument"/>
    </message>
    <message name="createDocumentResponse">
        <part name="parameters" element="tns:createDocumentResponse"/>
    </message>
    <message name="ValidationException">
        <part name="fault" element="tns:ValidationException"/>
    </message>
    <message name="getDocument">
        <part name="parameters" element="tns:getDocument"/>
    </message>
    <message name="getDocumentResponse">
        <part name="parameters" element="tns:getDocumentResponse"/>
    </message>
    <message name="getDocumentVersion"/>
    <message name="getDocumentVersionResponse"/>
    <message name="submitToWorkflow"/>
    <message name="submitToWorkflowResponse"/>
    <message name="listTargetApplications">
        <part name="parameters" element="tns:listTargetApplications"/>
    </message>
    <message name="listTargetApplicationsResponse">
        <part name="parameters" element="tns:listTargetApplicationsResponse"/>
    </message>
    <message name="getDocuments"/>
    <message name="getDocumentsResponse"/>
    <message name="deleteDocument">
        <part name="parameters" element="tns:deleteDocument"/>
    </message>
    <message name="deleteDocumentResponse">
        <part name="parameters" element="tns:deleteDocumentResponse"/>
    </message>
    <message name="deleteDocuments">
        <part name="parameters" element="tns:deleteDocuments"/>
    </message>
    <message name="deleteDocumentsResponse">
        <part name="parameters" element="tns:deleteDocumentsResponse"/>
    </message>
    <message name="lockDocument"/>
    <message name="lockDocumentResponse"/>
    <message name="unlockDocument"/>
    <message name="unlockDocumentResponse"/>
    <message name="updateDocument"/>
    <message name="updateDocumentResponse"/>
    <message name="copyDocument"/>
    <message name="copyDocumentResponse"/>
    <message name="moveDocument"/>
    <message name="moveDocumentResponse"/>
    <message name="modifyPageOrder"/>
    <message name="modifyPageOrderResponse"/>
    <message name="setSupportingContent"/>
    <message name="setSupportingContentResponse"/>
    <message name="getSupportingContent"/>
    <message name="getSupportingContentResponse"/>
    <message name="getTargetApplication"/>
    <message name="getTargetApplicationResponse"/>
    <message name="hasStatusChanged"/>
    <message name="hasStatusChangedResponse"/>
    <portType name="DocumentService">
        <operation name="getAnnotations">
            <input message="tns:getAnnotations"/>
            <output message="tns:getAnnotationsResponse"/>
            <fault name="ImagingException" message="tns:ImagingException"/>
        </operation>
        <operation name="setAnnotations">
            <input message="tns:setAnnotations"/>
            <output message="tns:setAnnotationsResponse"/>
            <fault name="ImagingException" message="tns:ImagingException"/>
        </operation>
        <operation name="createDocument">
            <input message="tns:createDocument"/>
            <output message="tns:createDocumentResponse"/>
            <fault name="ImagingException" message="tns:ImagingException"/>
            <fault name="ValidationException" message="tns:ValidationException"/>
        </operation>
        <operation name="getDocument">
            <input message="tns:getDocument"/>
            <output message="tns:getDocumentResponse"/>
            <fault name="ImagingException" message="tns:ImagingException"/>
        </operation>
        <operation name="getDocumentVersion">
            <input message="tns:getDocumentVersion"/>
            <output message="tns:getDocumentVersionResponse"/>
            <fault name="ImagingException" message="tns:ImagingException"/>
        </operation>
        <operation name="submitToWorkflow">
            <input message="tns:submitToWorkflow"/>
            <output message="tns:submitToWorkflowResponse"/>
            <fault name="ImagingException" message="tns:ImagingException"/>
        </operation>
        <operation name="listTargetApplications">
            <input message="tns:listTargetApplications"/>
            <output message="tns:listTargetApplicationsResponse"/>
            <fault name="ImagingException" message="tns:ImagingException"/>
        </operation>
        <operation name="getDocuments">
            <input message="tns:getDocuments"/>
            <output message="tns:getDocumentsResponse"/>
            <fault name="ImagingException" message="tns:ImagingException"/>
        </operation>
        <operation name="deleteDocument">
            <input message="tns:deleteDocument"/>
            <output message="tns:deleteDocumentResponse"/>
            <fault name="ImagingException" message="tns:ImagingException"/>
        </operation>
        <operation name="deleteDocuments">
            <input message="tns:deleteDocuments"/>
            <output message="tns:deleteDocumentsResponse"/>
            <fault name="ImagingException" message="tns:ImagingException"/>
        </operation>
        <operation name="lockDocument">
            <input message="tns:lockDocument"/>
            <output message="tns:lockDocumentResponse"/>
            <fault name="ImagingException" message="tns:ImagingException"/>
        </operation>
        <operation name="unlockDocument">
            <input message="tns:unlockDocument"/>
            <output message="tns:unlockDocumentResponse"/>
            <fault name="ImagingException" message="tns:ImagingException"/>
        </operation>
        <operation name="updateDocument">
            <input message="tns:updateDocument"/>
            <output message="tns:updateDocumentResponse"/>
            <fault name="ImagingException" message="tns:ImagingException"/>
            <fault name="ValidationException" message="tns:ValidationException"/>
        </operation>
        <operation name="copyDocument">
            <input message="tns:copyDocument"/>
            <output message="tns:copyDocumentResponse"/>
            <fault name="ImagingException" message="tns:ImagingException"/>
            <fault name="ValidationException" message="tns:ValidationException"/>
        </operation>
        <operation name="moveDocument">
            <input message="tns:moveDocument"/>
            <output message="tns:moveDocumentResponse"/>
            <fault name="ImagingException" message="tns:ImagingException"/>
            <fault name="ValidationException" message="tns:ValidationException"/>
        </operation>
        <operation name="modifyPageOrder">
            <input message="tns:modifyPageOrder"/>
            <output message="tns:modifyPageOrderResponse"/>
            <fault name="ImagingException" message="tns:ImagingException"/>
        </operation>
        <operation name="setSupportingContent">
            <input message="tns:setSupportingContent"/>
            <output message="tns:setSupportingContentResponse"/>
            <fault name="ImagingException" message="tns:ImagingException"/>
        </operation>
        <operation name="getSupportingContent">
            <input message="tns:getSupportingContent"/>
            <output message="tns:getSupportingContentResponse"/>
            <fault name="ImagingException" message="tns:ImagingException"/>
        </operation>
        <operation name="getTargetApplication">
            <input message="tns:getTargetApplication"/>
            <output message="tns:getTargetApplicationResponse"/>
            <fault name="ImagingException" message="tns:ImagingException"/>
        </operation>
        <operation name="hasStatusChanged">
            <input message="tns:hasStatusChanged"/>
            <output message="tns:hasStatusChangedResponse"/>
            <fault name="ImagingException" message="tns:ImagingException"/>
        </operation>
    </portType>
    <binding name="DocumentServicePortBinding" type="tns:DocumentService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getAnnotations">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ImagingException">
                <soap:fault name="ImagingException" use="literal"/>
            </fault>
        </operation>
        <operation name="setAnnotations">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ImagingException">
                <soap:fault name="ImagingException" use="literal"/>
            </fault>
        </operation>
        <operation name="createDocument">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ImagingException">
                <soap:fault name="ImagingException" use="literal"/>
            </fault>
            <fault name="ValidationException">
                <soap:fault name="ValidationException" use="literal"/>
            </fault>
        </operation>
        <operation name="getDocument">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ImagingException">
                <soap:fault name="ImagingException" use="literal"/>
            </fault>
        </operation>
        <operation name="getDocumentVersion">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ImagingException">
                <soap:fault name="ImagingException" use="literal"/>
            </fault>
        </operation>
        <operation name="submitToWorkflow">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ImagingException">
                <soap:fault name="ImagingException" use="literal"/>
            </fault>
        </operation>
        <operation name="listTargetApplications">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ImagingException">
                <soap:fault name="ImagingException" use="literal"/>
            </fault>
        </operation>
        <operation name="getDocuments">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ImagingException">
                <soap:fault name="ImagingException" use="literal"/>
            </fault>
        </operation>
        <operation name="deleteDocument">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ImagingException">
                <soap:fault name="ImagingException" use="literal"/>
            </fault>
        </operation>
        <operation name="deleteDocuments">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ImagingException">
                <soap:fault name="ImagingException" use="literal"/>
            </fault>
        </operation>
        <operation name="lockDocument">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ImagingException">
                <soap:fault name="ImagingException" use="literal"/>
            </fault>
        </operation>
        <operation name="unlockDocument">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ImagingException">
                <soap:fault name="ImagingException" use="literal"/>
            </fault>
        </operation>
        <operation name="updateDocument">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ImagingException">
                <soap:fault name="ImagingException" use="literal"/>
            </fault>
            <fault name="ValidationException">
                <soap:fault name="ValidationException" use="literal"/>
            </fault>
        </operation>
        <operation name="copyDocument">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ImagingException">
                <soap:fault name="ImagingException" use="literal"/>
            </fault>
            <fault name="ValidationException">
                <soap:fault name="ValidationException" use="literal"/>
            </fault>
        </operation>
        <operation name="moveDocument">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ImagingException">
                <soap:fault name="ImagingException" use="literal"/>
            </fault>
            <fault name="ValidationException">
                <soap:fault name="ValidationException" use="literal"/>
            </fault>
        </operation>
        <operation name="modifyPageOrder">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ImagingException">
                <soap:fault name="ImagingException" use="literal"/>
            </fault>
        </operation>
        <operation name="setSupportingContent">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ImagingException">
                <soap:fault name="ImagingException" use="literal"/>
            </fault>
        </operation>
        <operation name="getSupportingContent">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ImagingException">
                <soap:fault name="ImagingException" use="literal"/>
            </fault>
        </operation>
        <operation name="getTargetApplication">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ImagingException">
                <soap:fault name="ImagingException" use="literal"/>
            </fault>
        </operation>
        <operation name="hasStatusChanged">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ImagingException">
                <soap:fault name="ImagingException" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="DocumentService">
        <port name="DocumentServicePort" binding="tns:DocumentServicePortBinding">
            <soap:address location="http://10.184.91.212:16000/imaging/ws/DocumentService"/>
        </port>
    </service>
</definitions>
